mixin cardRoom(data)
	.card-room(class=data.class)&attributes(attributes)
		._swiper.swiper
			._swiper-wrapper.swiper-wrapper
				each slide in data.slides
					._swiper-slide.swiper-slide
						+picture({
							img: slide.img
						})._img
			if data.slides.length > 1
				._swiper-button-prev.swiper-button-prev
					+icon('arrow-left')
				._swiper-button-next.swiper-button-next
					+icon('arrow-right')
		._desc
			if data.ttl
				._ttl(
					class=data.classTtl? data.classTtl: 'card-room__ttl_h2'
				)!=data.ttl
			if data.chars
				+chars({
					chars: data.chars
				})
			if data.desc
				._txt(
					class=data.classDesc
				)!=data.desc
			if data.schedule
				._schedule
					each itm in data.schedule
						._itm!=itm.txt
			if data.info
				._info!=data.info
			if data.btns
				._btns
					each btn in data.btns
						+btn(btn)._btn
