.card-room {
	@include media-breakpoint-up(lg) {
		display: flex;
	}
	&_proced &__img {
		border-radius: 0 36px;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px;

		}
	}
	&_proced {
		background: #f5f5f5;
		border-radius: 0 36px;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px;

		}
	}
	&__swiper {
		@include media-breakpoint-up(lg) {
			flex: 0 0 50%;
			max-width: 50%;
			margin: 0;
		}
		&-slide {
			display: flex;
			picture {
				width: 100%;
				display: flex;
			}
		}
		&-button-prev {
			left: 15px;
			@include media-breakpoint-up(md) {
				left: 20px;

			}
		}
		&-button-next {
			right: 15px;
			@include media-breakpoint-up(md) {
				right: 20px;
			}
		}
		&-button-prev,
		&-button-next {
			position: absolute;
			z-index: 5;
			top: 50%;
			transform: translateY(-50%);
			border-radius: 5px;
			width: 36px;
			height: 36px;
			@include media-breakpoint-up(md) {
				width: 50px;
				height: 50px;

			}
		}
	}
	&__img {
		width: 100%;
		object-fit: cover;
		display: block;
		border-radius: 0 36px;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px
		}
	}
	&__ttl {
		&_special {
			font-weight: 400;
			font-size: 36px;
			line-height: 1.45;
			text-transform: uppercase;
			font-family: $font-family-head;
			@include media-breakpoint-up(lg) {
				font-size: 60px;
			}
		}
	}
	&__desc {
		padding: 20px 0 0;
		@include media-breakpoint-up(md) {
			padding: 28px 0 0;
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 0 0 37px;
			flex: 1 0 0;
		}
	}

	&__txt {
		margin-top: 17px;
		@include media-breakpoint-up(md) {
			margin-top: 28px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 34px;
		}
		&_lg-big {
			font-size: 14px;
			margin: 0;
			max-width: 514px;
			@include media-breakpoint-up(lg) {
				font-size: 18px;

			}
		}
	}
	&__btns {
		margin-top: 22px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		column-gap: 12px;
		@include media-breakpoint-up(md) {
			margin-top: 27px;
			flex-flow: row nowrap;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 29px;
		}
	}
	&__btn {
		@include media-breakpoint-up(md) {
			max-width: calc(50% - 6px);
			width: 224px;
		}
	}
	&_proced  {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-flow: row nowrap;
		}
	}
	&_proced &__desc {
		@include media-breakpoint-down(sm) {
			padding: 25px;
		}
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: column;

		}
		@include media-breakpoint-up(md) {
			padding: 15px 25px 25px;
		}
		@include media-breakpoint-up(lg) {
			padding: 22px 43px 43px;
		}
	}
	&_proced &__img  {
		display: flex;
		@include media-breakpoint-between(md, md) {
			height: 248px;
			object-fit: cover;
		}
	}
	&_proced &__swiper {
		@include media-breakpoint-between(md, md) {
			flex: 0 0 291px;
			max-width: 291px;
		}
	}

	&_proced &__btn {
		@include media-breakpoint-between(md, md) {
			max-width: 180px;

		}
	}
	&_proced &__btns {
		@include media-breakpoint-up(md) {
			margin-top: auto;
			padding-top: 15px;
		}
	}
	&_proced &__desc {

	}
	&_pict-right &__desc {
		@include media-breakpoint-between(md, md) {

		}
		@include media-breakpoint-up(md) {
			order: -1;
		}
		@include media-breakpoint-up(lg) {
			margin-right: 50px;
		}
	}
	&__schedule {
		margin-top: 12px;
		display: flex;
		flex-flow: row wrap;
		row-gap: 12px;
		column-gap: 21px;
	}
	&__info {
		margin-top: 12px;
		a {
			color: inherit;
			border: none;
		}
	}
}

