.s-footer {
	flex: 0 0 auto;
	background-color: $dark;
	color: $light;
	padding: 30px 0 31px;
	margin-top: 50px;
	position: relative;
	@include media-breakpoint-up(md) {
		padding: 23px 0 21px;
		margin-top: 61px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 70px;
		padding: 32px 0 23px;
	}

	&__l-container {
		position: relative;
	}

	&__top {
		display: flex;
		flex-direction: column;
		row-gap: 28px;
		@include media-breakpoint-up(md) {
			row-gap: 42px;
		}
		@include media-breakpoint-up(lg) {
			flex-flow: row nowrap;
			column-gap: 30px;
		}
		@include media-breakpoint-up(xxl) {
			column-gap: 136px;

		}

	}

	&__col {
		&_first {
			display: flex;
			flex-direction: column;
			row-gap: 31px;
			@include media-breakpoint-up(md) {
				flex-flow: row nowrap;
				justify-content: space-between;
			}
			@include media-breakpoint-up(lg) {
				max-width: percentage(650/1300);
				flex: 0 0 percentage(650/1300);
				column-gap: 15px;
			}
		}

		&__last {
			display: flex;
			@include media-breakpoint-up(md) {

			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		column-count: 3;
		column-gap: 10px;
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(xsm) {
			column-gap: 30px;
		}
		@include media-breakpoint-up(md) {
			column-gap: 48px;
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			column-count: 2;
			column-gap: 20px;
		}
		@include media-breakpoint-up(xxl) {
			column-gap: 44px;
		}

		a {
			color: inherit;
		}

		li {
			margin-bottom: 12px;
			@include media-breakpoint-up(md) {
				margin-bottom: 11px;
			}

			&:before {
				display: none;
			}
		}

	}

	&__info {
		@include media-breakpoint-up(md) {
			flex: 0 0 242px;
			max-width: 242px;
		}
		@include media-breakpoint-up(xxl) {
			flex: 0 0 274px;
			max-width: 274px;
		}
	}

	&__desc {
		margin-top: 17px;
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			margin-top: 28px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 16px;
		}
		@include media-breakpoint-up(xxl) {
			margin-top: 26px;
		}

	}

	&__reviews {
		margin-top: 11px;
		@include media-breakpoint-up(lg) {
			margin-top: 23px;

		}

		img {
			display: block;
		}
	}

	&__logo {
		display: block;
		border: none;
		@include media-breakpoint-up(md) {
			margin-top: 5px;
		}

		&__img {
			display: block;
		}
	}

	&__btm {
		padding-top: 22px;
		margin-top: 31px;
		border-top: 1px solid rgba($light, 0.3);
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		font-size: 12px;
		line-height: 1.45;
		color: rgba($light, 0.67);
		@include media-breakpoint-up(md) {
			flex-flow: row nowrap;
			padding-top: 14px;
			margin-top: 40px;
			display: flex;
			justify-content: space-between;

		}
		@include media-breakpoint-up(lg) {
			padding-top: 21px;
			margin-top: 55px;
			font-size: 14px;

		}
	}

	&__policy {
		color: rgba($light, 0.67);
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		row-gap: 18px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			row-gap: 20px;
			column-gap: 61px;
		}
		@include media-breakpoint-up(lg) {
			row-gap: 20px;
			column-gap: 30px;
		}

		a {
			display: inline-flex;
			align-items: center;
			font-weight: 600;
			font-size: 16px;
			line-height: 145%;
			column-gap: 9px;
			margin-top: 2px;
			color: inherit;
			border: none;
		}

		.icon-phone {
			font-size: 13px;
		}

		.icon-mail {
			font-size: 10px;
		}
	}

	&__itm {
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 61);
			max-width: 274px;
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(2, 30);
		}
	}

	&__ttl {
		color: rgba($light, 0.67);
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			font-size: 15px;

		}
	}

	&__socials {
		margin-top: 18px;
	}

	&__dev {
		margin-top: 22px;
		border: none;
		@include media-breakpoint-up(md) {
			right: 20px;
			bottom: 76px;
			position: absolute;

		}
		@include media-breakpoint-up(lg) {
			bottom: 88px;
			left: 20px;
			right: auto;

		}

		img {
			display: block;
		}
	}
}
