footer.s-footer
	._l-container.l-container
		._top
			._col.-first
				._info
					a(href="home.html")._logo
						img(
							src="images/logo-footer.svg"
							loading="lazy"
							width="176"
							height="37"
						)._logo-img
					._desc 142253, городской округ Серпухов, д. Дракино, парк-отель «Русский»
					._reviews
						+picture({
							img: 'images/s-footer/img.png'
						})
				ul
					each itm in footerMenu
						li
							a(
								href=itm.url ? itm.url : '#',
							).lnk.lnk_reverse!=itm.ttl

			._col.-last
				._contacts
					._itm
						._ttl Отдел продаж и бронирования
						a(href="tel:+74994606590")
							+icon('phone')
							|+7 499 460 65 90
					._itm
						._ttl Корпоративный отдел
						a(href="tel:+74994606590")
							+icon('phone')
							|+7 499 460 65 90 доб. 063
					._itm
						._ttl CПА-комплекс
						a(href="tel:+74994908153")
							+icon('phone')
							|+7 499 490 81 53
					._itm
						._ttl Ресторан Павлин
						a(href="tel:+74994908219")
							+icon('phone')
							|+7 499 490 82 19
					._itm
						._ttl Отдел продаж и бронирования
						a(href="mailto:sale@phrus.ru")
							+icon('mail')
							|sale@phrus.ru
					._itm
						._ttl Корпоративный отдел
						a(href="mailto:corp@phrus.ru")
							+icon('mail')
							|corp@phrus.ru

				include ../socials/socials
				+socials({
					list: [
						{
							img: 'images/socials/vk.svg'
						},
						{
							img: 'images/socials/whatsapp.svg'
						},
						{
							img: 'images/socials/telegram.svg'
						}
					]
				})._socials

		._btm
			a(href="/policy.html")._policy.lnk.lnk_reverse  Политика конфиденциальности
			._copy © Парк-отель «Русский» 2024
			a(href="https://propixeli.studio/ " target="_blank")._dev
				img(src="images/logo-dev.svg")
