.s-page-banner {
	overflow: hidden;
	position: relative;
	height: 301px;
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 1.31;
	@include media-breakpoint-up(md) {
	    height: 363px;
		font-size: 16px;
		line-height: 1.45;
	}
	@include media-breakpoint-up(md) {
		font-size: 18px;
	}
	&:after {
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 300%;
		background: linear-gradient(246deg, rgba(245, 245, 245, 0) 21.2%, #f5f5f5 65.64%);
		left: 50%;
		transform: translateX(-50%);

		@include media-breakpoint-up(md) {
			transform: none;
			background: linear-gradient(317deg, rgba(245, 245, 245, 0) 0%, #f5f5f5 73.14%);
			left: 0;
			width: 100%;

		}
		@include media-breakpoint-up(lg) {
			background: linear-gradient(149deg, #f5f5f5 33.07%, rgba(245, 245, 245, 0) 100%);

		}
	}
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}
	&__l-container {
		position: relative;
		z-index: 1;
	}
	&__desc {
		margin-top: 11px;
		max-width: 280px;
		@include media-breakpoint-up(md) {
			margin-top: 18px;
			max-width: 468px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 10px;
		}
	}
	&__list {
		margin-top: 5px;
		max-width: 246px;
		@include media-breakpoint-up(md) {
		    max-width: 337px;
		}
		@include media-breakpoint-up(lg) {
		    max-width: 473px;
		}
		&_two {
			column-count: 2;
			column-gap: 57px;
		}
	}
	&__title + &__list {
		margin-top: 11px;
		@include media-breakpoint-up(md) {
			margin-top: 18px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 10px;
		}
	}
	&__btns {
		margin-top: 11px;
		display: flex;
		flex-direction: column;
		row-gap: 11px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			column-gap: 14px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 26px;

		}
	}
	&__btn {
		max-width: 200px;
		&_w-250 {
			max-width: 250px;
			width: 100%;
		}
	}
}
