mixin sPageBanner(data)
	.s-page-banner&attributes(attributes)
		if  data.bg
			+picture(data.bg)._bg
		._l-container.l-container
			if data.title
				h1._title=data.title.ttl
			if data.desc
				._desc!=data.desc.txt
			if data.list
				ul._list(class=data.list.class)
					each itm in data.list.items
						li!=itm.ttl
			if data.btns
				._btns
					each btn in data.btns
						+btn(btn)._btn




