mixin cardRestaurant(data)
	.card-restaurant&attributes(attributes)
		._pict
			+picture({
				img: data.img
			})._img
		._desc
			._ttl.-h5!=data.ttl
			if data.type
				._type!=data.type
			if data.chars
				+chars({
					chars: data.chars
				})._chars
			._txt!=data.desc
			if data.schedule
				._schedule
					each itm in data.schedule
						._itm!=itm.txt
			._info!=data.info
			._btns
				each btn in data.btns
					+btn(btn)._btn
