.card-restaurant {
	background: #f5f5f5;
	overflow: hidden;
	border-radius: 0 36px;
	font-size: 14px;
	line-height: 1.45;
	width: 100%;
	@include media-breakpoint-up(md) {
		display: flex;
	}
	@include media-breakpoint-up(lg) {
		background-color: transparent;
		display: flex;
		flex-direction: column;
		font-size: 16px;
		border-radius: 0 34px;

	}
	&__ttl {
		@include media-breakpoint-up(lg) {
			margin-right: -10px;

		}
	}
	&__pict {
		@include media-breakpoint-up(md) {
			display: flex;
			flex: 0 0 291px;
			max-width: 291px;
			picture {
				display: flex;
				width: 100%;
			}
		}
		@include media-breakpoint-up(lg) {
			max-width: 100%;

		}
	}
	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
		border-radius: 0 36px;
		@include media-breakpoint-up(lg) {
			border-radius: 0 34px;
		}
	}
	&__desc {
		padding: 14px 25px 25px;
		@include media-breakpoint-up(md) {
		    padding: 15px 26px;
			flex: 1 0 0;
		}
		@include media-breakpoint-up(lg) {
			background: #f5f5f5;
			margin-top: 10px;
			display: flex;
			flex-direction: column;
			padding: 26px 31px 31px;
			border-radius: 0 34px;
		}
	}
	&__type {

	}
	&__txt {
		margin-top: 12px;
	}
	&__schedule {
		margin-top: 12px;
		display: flex;
		flex-flow: row wrap;
		row-gap: 12px;
		column-gap: 21px;
	}
	&__btns {
		padding-top: 24px;
		display: flex;
		margin-top: auto;
		column-gap: 12px;
		row-gap: 12px;
		@include media-breakpoint-up(lg) {
			column-gap: 16px;

		}

	}
	&__btn {
		flex: 1 0 0;
		@include media-breakpoint-up(md) {
			max-width: 215px;
		}
		@include media-breakpoint-up(lg) {
			max-width: 100%;

		}
	}
	&__info {
		margin-top: 12px;
		a {
			color: inherit;
			border: none;
		}
	}
}
