.s-partners
mixin sPartners(data)
	.s-partners&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			._list
				each itm in data.list
					._itm
						a(href="#")._lnk
							+picture({
								img: itm.img
							})._img

