.s-partners {

	&__list {
		display: flex;
		flex-flow: row wrap;
		column-gap: 18px;
		row-gap: 30px;
		margin-top: 17px;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
			flex-flow: row nowrap;
			gap: 34px;
			column-gap: 34px;
		}
		@include media-breakpoint-up(xl) {
			margin-top: 11px;
			gap: 62px;
		}
	}
	&__itm {
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			@include gapOffset(3, 18);
		}

	}
	&__lnk {
		border: none;
		display: block;
	}
	&__img {
		display: block;
		max-width: 100%;
	}
}
