.card-event {
	display: block;
	width: 100%;
	position: relative;
	border: none;
	&__img {
		display: block;
		border-radius: 34px 0;
		width: 100%;

	}
	&:hover &__arrow {
		background-color: $light;
		color: $primary;
	}
	&__arrow {
		position: absolute;
		bottom: 22px;
		right: 22px;
	}
}
