.card-employee {
	display: flex;
	flex-direction: column;
	&__img {
		border-radius: 0 34px;
		display: block;
		width: 100%;
	}
	&__desc {
		border-radius: 0 34px;
		background: #eaeaea;
		margin-top: 10px;
		padding: 24px 25px;
		flex: 1 0 0;
	}
	&__name {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			font-size: 20px;
		}
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}
	}
	&__post {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.45;
		margin-top: 7px;
		color: rgba(31, 31, 31, 0.8);
		@include media-breakpoint-up(md) {
			margin-top: 11px;
			font-size: 16px;

		}
	}
	&__more {
		display: inline-flex;
		margin-top: 52px;
		border: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 140%;
		column-gap: 9px;
		align-items: center;
		transition: color $animation-base-time;
		&:hover {
			color: #5b6449;;
		}
		&:hover {
			color: $primary-dark;

		}
		@include media-breakpoint-up(md) {
			margin-top: 40px;
			font-weight: 600;
		}
		@include media-breakpoint-up(lg) {

		}
		.icon {
			font-size: 10px;
		}
	}
}
