.b-page-desc {
	&_offset {
		margin-top: 24px;
		@include media-breakpoint-up(md) {
			margin-top: 30px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 36px;
		}
	}
	&__cols {
		row-gap: 11px;
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-flow: row wrap;
			column-gap: 50px;
		}
	}
	&__col {
		@include media-breakpoint-up(lg) {
			@include gapOffset(2, 50)
		}
		& *:first-child {
			margin-top: 0;
		}
		&_lg-1 {
			@include media-breakpoint-up(lg) {
				order: -1;

			}
		}
		&_contacts {
		margin-top: 11px;
			@include media-breakpoint-between(md, md) {
				margin-top: 11px;
				display: flex;
				justify-content: space-between;

			}
			@include media-breakpoint-up(lg) {
				margin-top: 0;

			}
		}
	}
	&__ttl,
	strong, b {
		font-weight: 600;
	}
	&__btn {
		margin-top: 24px;
		@include media-breakpoint-up(md) {
			width: 256px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 28px;
		}
	}
	&__ttl + p,
	&__ttl + ul {
		margin-top: 0;
	}
	&__price {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin-top: 35px;
		@include media-breakpoint-up(lg) {
			flex-flow: row nowrap;
			column-gap: 24px;
		}
		&-left {
			padding: 25px;
			background: #e9e9e9;
			display: flex;
			flex-direction: column;
			row-gap: 5px;
			@include media-breakpoint-up(md) {
				display: flex;
				flex-flow: row nowrap;
			}
			@include media-breakpoint-up(lg) {
				@include gapOffset(2, 24)
			}
		}
		&-ttl {
			font-weight: 500;
			font-size: 16px;
			@include media-breakpoint-up(lg) {
				font-size: 22px;
			}
		}
		&-val {
			font-size: 15px;
			@include media-breakpoint-up(md) {
				line-height: 1.3;
				margin-top: 0;
				display: flex;
				gap: 24px;
			}
			@include media-breakpoint-up(lg) {


				font-size: 20px;
				margin-left: 24px;
				gap: 24px;
			}
		}
		&-sep {
			@include media-breakpoint-up(md) {
				width: 1px;
				background:  #999292;
			}
		}
		&-btn {
			@include media-breakpoint-up(lg) {
				@include gapOffset(2, 24)
			}
		}
	}
	&__desc {
		@include media-breakpoint-up(lg) {
			max-width: 710px;
		}
	}
	a[href^="tel:"] {
		color: inherit;
		display: inline-flex;
		align-items: center;
		gap: 9px;
		border: none;
		.icon {
			font-size: 13px;
		}
	}
	&__worktime {
		display: flex;
		flex-flow: row wrap;
		column-gap: 33px;
		row-gap: 12px;
		@include media-breakpoint-up(md) {
			column-gap: 50px;

		}
	}
	a[href^="tel:"] {
		font-weight: 600;
	}
}
