.s-about {
	overflow: hidden;
	@include media-breakpoint-up(lg) {
		overflow: visible;
	}
	&__row {
		display: flex;
		flex-direction: column;
		row-gap: 29px;
		@include media-breakpoint-up(md) {
			row-gap: 36px;
		}
		@include media-breakpoint-up(lg) {
			flex-flow: row nowrap;
		}
	}
	&__col {
		&__first {
			@include media-breakpoint-up(lg) {
				padding-right: 35px;

			}
		}
		&_last {
			position: relative;
			@include media-breakpoint-up(lg) {
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
	&__bg {
		position: absolute;
		right: -22px;
		top: -55px;
		width: 92px;
		height: 140px;
		@include media-breakpoint-up(md) {
			width: 168px;
			height: 273px;
			right: -87px;
			top: -191px;
		}
		@include media-breakpoint-up(lg) {
			top: -73px;
			left: -58px;
			right: auto;
		}
	}
	&__desc {
		margin-top: 12px;
		@include media-breakpoint-up(lg) {
			margin-top: 25px;
			padding-right: 37px;
		}
	}
	&__swiper {
		position: relative;
		&-button-prev {
			position: absolute;
			bottom: 19px;
			right: 67px;
			width: 40px;
			height: 40px;
			@include media-breakpoint-up(md) {
				right: 71px;
				bottom: 23px;

			}
		}
		&-button-next{
			position: absolute;
			bottom: 19px;
			right: 19px;
			width: 40px;
			height: 40px;
			@include media-breakpoint-up(md) {
				right: 23px;
				bottom: 23px;

			}
		}
		&-pagination {
			height: 1px;
			min-height: 2px;
			background-color: rgba($light, 0.5);
			flex: 1 0 0;
			align-self: center;
			position: relative;
			margin-left: 18px;
			display: none;
			@include media-breakpoint-up(md) {
				display: block;

			}
			&-wrap {
				z-index: 5;
				color: $light;
				position: absolute;
				font-weight: 600;
				font-size: 12px;
				line-height: 1.45;
				left: 27px;
				bottom: 31px;
				@include media-breakpoint-up(md) {
					left: 39px;
					bottom: 34px;
					width: calc(100% - 164px);
					display: flex;

				}
			}
			.swiper-pagination-progressbar-fill {
				background: $primary;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transform: scale(0);
				transform-origin: left top;
			}

		}
	}
	&__img {
		border-radius: 0 36px;
		display: block;
		width: 100%;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px 0 40px;
		}
	}
	&__cards {
		margin-top: 35px;
		@include media-breakpoint-up(md) {
			margin-top: 50px;
		}
	}
}
