include ../b-carousel-cards/b-carousel-cards
-
	var slides = [
		{
			img: 'images/s-about/img-1.png'
		},
		{
			img: 'images/s-about/img-1.png'
		},
		{
			img: 'images/s-about/img-1.png'
		},
		{
			img: 'images/s-about/img-1.png'
		},
		{
			img: 'images/s-about/img-1.png'
		}
	]
.s-about
	._l-container.l-container
		._row
			._col.-first
				+titleSquare({
					ttl: "О нас",
				})
				._desc
					p
						| Парк-отель «Русский» — это уникальная в своём роде территория и площадка для комфортного отдыха и активного досуга, с развитой инфраструктурой и широкими возможностями для гостей. Современный комфортабельный отель расположен в лесном массиве Южного Подмосковья между городами Серпухов и Протвино, в окружении зелени и дикой природы, всего в двух часах от Москвы.
					p На территории парка созданы все условия для разнопланового отдыха и развлечений, проведения частных праздников, массовых и  камерных мероприятий, а также деловых конференций.
			._col.-last
				+picture({
					img: 'images/s-about/bg.png',
					width: 92,
					height: 149
				})._bg
				._swiper.swiper
					._swiper-wrapper.swiper-wrapper
						each itm in slides
							._swiper-slide.swiper-slide
								+picture({
									img: itm.img
								})._img
					._swiper-button-prev.swiper-button-prev
						+icon('arrow-left')
					._swiper-button-next.swiper-button-next
						+icon('arrow-right')
					._swiper-pagination-wrap
						._count 0/0
						._swiper-pagination.swiper-pagination
		+bCarouselCards({
			slides: [
				{
					img: 'images/card/img-1.png',
					ttl: 'СПА'
				},
				{
					img: 'images/card/img-2.png',
					ttl: 'Рестораны'
				},
				{
					img: 'images/card/img-3.png',
					ttl: 'Проживание'
				},
				{
					img: 'images/card/img-4.png',
					ttl: 'Афиша'
				},
				{
					img: 'images/card/img-5.png',
					ttl: 'Сценарии'
				},
				{
					img: 'images/card/img-6.png',
					ttl: 'Бизнесу'
				}
			]
		})._cards
