.b-reservation {
	&__in {
		padding: 13px;
		border-radius: $radius;
		background-color: #ccc;
		display: flex;
		flex-direction: column;
		row-gap: 8px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			column-gap: 10px;
		}
	}
	&__group {
		position: relative;
		background-color: $light;
		border-radius: $radius;
		overflow: hidden;
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
		}
		@include media-breakpoint-up(lg) {
			max-width: 234px;

		}
	}
	&__label {
		position: absolute;
		left: 9px;
		top: 4px;
		font-weight: 500;
		font-size: 11px;
	}
	&__input {
		width: 100%;
		display: block;
		font-weight: 600;
		font-size: 12px;
		line-height: 1;
		background-color: transparent;
		outline: none;
		border: none;box-shadow: none;
		font-family: $font-family-base;
		padding: 20px 9px 5px 9px;
	}
	&__icon {
		color: #909090;
		font-size: 20px;
		right: 11px;
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
	}
	&__btn {
		padding: 14px 15px;
		@include media-breakpoint-up(md) {
			padding: 15px;
			width: 100%;
			min-width: 100%;
		}
		@include media-breakpoint-up(lg) {
			padding: 14px 15px;
			max-width: 192px;
			min-width: 192px;
		}
	}
	&__head {
		margin-right: auto;;
	}
	&__title  {
		font-weight: 500;
		font-size: 19px;
		line-height: 100%;
	}
	&__txt {
		font-weight: 500;
		font-size: 14px;
		margin-top: 3px;
		color: rgba(31, 31, 31, 0.81);
	}
}
