mixin bReservation(data)
	form.b-reservation&attributes(attributes)
		._l-conainer.l-container
			._in
				._head.-hidden-phone.-hidden-tablet
					._title Бронирование номеров
					._txt Гарантированное заселение
				._group
					._label Заезд
					input(type="text" placeholder="text" value="01.01.2024")._input
					+icon('datepicker')._icon
				._group
					._label Выезд
					input(type="text" placeholder="text" value="02.01.2024")._input
					+icon('datepicker')._icon
				._group
					._label Гости
					input(type="text" placeholder="text" value="2 взрослых, 0 детей")._input
					+icon('user')._icon

				+btn({
					type: 'submit',
					tagName: 'button',
					ttl: 'Найти номер'
				})._btn
