.card-vert {
	display: block;
	position: relative;
	border: none;
	overflow: hidden;
	color: $light;
	padding-top: 100%;
	@include media-breakpoint-up(md) {
		padding-top: percentage(350/368);
	}
	@include media-breakpoint-up(lg) {
		padding-top: 0;

	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(31, 31, 31, 0.1) 0%, rgba(31, 31, 31, 0.9) 100%);
		border-radius: 36px 0;
		@include media-breakpoint-up(md) {
			border-radius: 40px 0;
		}
	}
	&__img {
		display: block;
		width: 100%;
		border-radius: 36px 0;
		object-fit: cover;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		@include media-breakpoint-up(lg) {
			position: static;

		}
	}
	&__ttl {
		z-index: 3;
		display: flex;
		width: 100%;
		position: absolute;
		align-items: center;
		bottom: 0;
		left: 0;
		justify-content: space-between;
		padding: 25px;
		font-weight: 500;
		font-size: 19px;
		column-gap: 10px;
		line-height: 1.3;
		@include media-breakpoint-up(md) {
			padding: 30px 24px;
			font-size: 20px;
			line-height: 1.3;
		}
		@include media-breakpoint-up(md) {
			padding: 27px 25px;
			font-size: 21px;
		}

	}
	&__arrow {
		color: $light;
		background-color: $primary;
		min-width: 40px;
		max-width: 40px;
		display: flex;
		align-items: center;
		font-size: 10px;
		justify-content: center;
		border-radius: 0 10px;
		width: 40px;
		height: 40px;
		transition: background-color $animation-base-time, color $animation-base-time;
	}
	&:hover &__arrow {
		background-color: $light;
		color: $primary;
	}
}
