mixin cardVert(data)
	a(href=data.url?data.url: '#').card-vert&attributes(attributes)
		+picture({
			img: data.img
		})._img
		._ttl.-font-secondary
			!=data.ttl
			._arrow
				+icon('arrow-right')
