include ../card-vert/card-vert
mixin sPreviewVert(data)
	.s-preview-vert&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			if data.desc
				._desc.-hidden-phone.-hidde-tablet!=data.desc.txt
			._list
				each itm in data.list
					._itm
						+cardVert(itm)
				img(src="images/s-preview-vert/bg.svg" loading="lazy")._bg

