.s-preview-vert {
	overflow: hidden;
	&__desc {
		margin-top: 14px;
		font-size: 18px;
		line-height: 1.45;
		max-width: 743px;
	}
	&__list {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 18px;
		@include media-breakpoint-up(md) {
			flex-flow: row wrap;
			margin-top: 21px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 29px;
		}
	}
	&__itm {
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 20)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 20)
		}
		&:nth-child(1) {
			@include media-breakpoint-up(lg) {
			    img {
						height: 390px;
					}
			}
		}
		&:nth-child(2) {
			@include media-breakpoint-up(lg) {
			    img {
						height: 315px;
					}
			}
		}
		&:nth-child(3) {
			@include media-breakpoint-up(lg) {
			    img {
						height: 433px;
					}
			}
		}
		&:nth-child(4) {
			@include media-breakpoint-up(lg) {
			    img {
						height: 280px;
					}
			}
		}
	}
	&__bg {
		width: 113px;
		height: 189px;
		position: absolute;
		z-index: -1;
		top: -75px;
		right: -53px;
		@include media-breakpoint-up(md) {
			top: -104px;
		}
		@include media-breakpoint-up(lg) {
			width: 160px;
			height: 198px;
			top: -72px;
			right: -85px;
		}
	}
}
