mixin sMapInt(data)
	.s-map-int&attributes(attributes)
		._l-container.l-container
				if data.title
					+titleSquare(data.title)
				._tabs-head
					._tabs-head-itm
						+btn({
							ttl: 'Парк-Отель',
							href: '#tab1'
						}).btn_sm.btn_outline.is-active(data-tab="#tab1")
					._tabs-head-itm
						+btn({
							ttl: 'Остров',
							href: '#tab2'
						}).btn_sm.btn_outline(data-tab="#tab2")
				._tabs.tabs
					._tab.tabs__tab#tab1.is-visible
						._map tab1
							img(src="images/s-map-int/img.png" loading="lazy")._img
					._tab.tabs__tab#tab2
						._map tab2
							img(src="images/s-map-int/img.png" loading="lazy")._img
