.s-map-int {
	&__tabs-head {
		margin-top: 9px;
		display: flex;
		gap: 10px;
		@include media-breakpoint-up(md) {
			margin-top: 17px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 24px;
		}
	}
	&__tabs {
		margin-top: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 35px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 40px;
		}
	}
	&__img {
		display: block;
		height: 410px;
		width: 100%;
		object-fit: cover;
		@include media-breakpoint-up(md) {
			height: 525px;
		}
	}

}
