mixin bCardRoom(data)
	.b-card-room&attributes(attributes)
		+picture({
			img: data.img
		})._img
		._desc
			._ttl.-h5!=data.ttl
			if data.chars
				+chars({
					chars: data.chars
				})._chars
			if data.desc
				._txt!=data.desc
			if data.btns
				._btns
					each btn in data.btns
						+btn(btn)._btn
