.b-card-room {
	width: 100%;
	&__img {
		border-radius: 0 36px;
		display: block;
		width: 100%;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px;
		}
	}
	&__desc {
		margin-top: 10px;
		padding: 18px 25px;
		border-radius: 0 36px;
		background: #f5f5f5;

		@include media-breakpoint-up(md) {
			border-radius: 0 34px;
			margin-top: 12px;
			padding: 24px 31px;
		}
	}
	&__chars {
		@include media-breakpoint-up(md) {
			column-gap: 25px;
		}

		.chars__char {
			flex:  0 0 auto;
			max-width: 100%;

			@include media-breakpoint-down(sm) {
				font-size: 13px;
				line-height: 1.45;
			}
			@include media-breakpoint-up(md) {
				flex:  0 0 auto;
				font-size: 14px;
			}
		}
	}
	&__txt {
		margin-top: 21px;
		@include media-breakpoint-down(sm) {
			font-size: 13px;
			line-height: 1.45;
		}
	}
	&__btns {
		margin-top: 29px;
		display: flex;
		gap: 10px;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			gap: 16px;
			margin-top: 29px;
			flex-flow: row nowrap;
		}
	}
	&__btn {
		padding-left: 0;
		padding-right: 0;
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
		}
	}
}
