include ../card-tile/card-tile

mixin sTile(data)
	.s-tile&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			._list
				each itm in data.list
					._itm
						+cardTile(itm)

