.s-tile {
	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 17px;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
			display: grid;
			grid-template-columns: percentage(748/1300) percentage(532/1300);
			grid-template-rows: repeat(2, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 20px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 28px;

		}
	}
	&__itm {
		display: flex;
		&:nth-child(1) {
			@include media-breakpoint-up(md) {
				grid-area: 1 / 1 / 3 / 2;
				.card-tile__img,
				.card-tile:after,
				.card-tile {
					@include media-breakpoint-up(lg) {
						border-radius: 0 50px;
					}
				}
			}
		}
		&:nth-child(2) {
			@include media-breakpoint-up(md) {
				grid-area: 1 / 2 / 2 / 3;
			}
		}
		&:nth-child(3) {
			@include media-breakpoint-up(md) {
				grid-area: 2 / 2 / 3 / 3;
			}
		}
	}
	&_revert &__list {
		@include media-breakpoint-up(md) {
			grid-template-columns:  percentage(532/1300) percentage(748/1300);
		}
	}

	&_revert &__itm {
		&:nth-child(1) {
			@include media-breakpoint-up(md) {
				grid-area: 1 / 1 / 2 / 2;
				.card-tile__img,
				.card-tile:after,
				.card-tile {
					@include media-breakpoint-up(lg) {
						border-radius: 0 40px;
					}
				}
			}
		}
		&:nth-child(2) {
			@include media-breakpoint-up(md) {
				grid-area: 2 / 1 / 3 / 2;
			}
		}
		&:nth-child(3) {
			@include media-breakpoint-up(md) {
				grid-area: 1 / 2 / 3 / 3;
				.card-tile__img,
				.card-tile:after,
				.card-tile {
					@include media-breakpoint-up(lg) {
						border-radius: 0 50px;
					}
				}
			}

		}
	}
}
