.s-preview-desc {
	&__list {
		margin-top: 17px;
		display: flex;
		flex-flow: row wrap;
		gap: 40px;
		@include media-breakpoint-up(md) {
			margin-top: 22px;
			gap: 35px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 29px;
			gap: 20px;
		}
	}
	&__itm {
		width: 100%;
		flex: 0 0 100%;
		@include media-breakpoint-up(lg) {
			display: flex;
			@include gapOffset(2, 20)
		}
		&:nth-child(even) {
			@include media-breakpoint-between(md, md) {
				.card-desc__info {
					order: -1;
				}
			}
		}
		&:nth-child(3),
		&:nth-child(4) {
			@include media-breakpoint-up(lg) {
				.card-desc__info {
					order: -1;
				}

			}
		}
		&_fluid {
			max-width: 100%;
			flex:  0 0 100%;
			.card-desc__pict {
				@include media-breakpoint-up(lg) {
					flex: 0 0 50%;
					max-width: 50%;

				}
			}
			.card-desc__txt {
				max-width: 391px;
			}
			.card-desc__img {
				@include media-breakpoint-up(lg) {
					width: 100%;

				}
			}
		}
	}

}
