include ../card-desc/card-desc

mixin sPreviewDesc(data)
	.s-preview-desc&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			._list
				each itm in data.list
					._itm(class=itm.classItm)
						+card-desc(itm)

