.card-info {
	border: 1px solid #d3d3d3;
	border-radius: 0 36px;
	@include media-breakpoint-up(md) {
		display: flex;
		border-radius: 0 40px;
	}
	&_single {
		margin-top: 70px;
		@include media-breakpoint-up(md) {
			margin-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 120px;
		}
	}

	&__pict {
		display: flex;
		@include media-breakpoint-up(md) {
			flex: 0 0 260px;
			max-width: 260px;
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 50%;
			max-width: 50%;
		}

		picture {
			display: flex;
			width: 100%;
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 0 36px 0 0;
		@include media-breakpoint-up(md) {
			border-radius: 0 0 0 36px;
		}
		@include media-breakpoint-up(lg) {
			border-radius: 0 0 0 40px;
		}
	}
	&__desc {
		padding: 21px 25px;
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
			padding: 34px 14px 34px 24px;

		}
		@include media-breakpoint-up(lg) {
		  padding: 25px 80px 25px 29px;
			font-size: 18px;
		}
		b,
		a {
			font-weight: 600;
			color: inherit;
			border: none;
		}
	}
}
