.s-map {
	&__map {
		position: relative;
		margin-top: 23px;
		@include media-breakpoint-up(lg) {
			margin-top: 29px;

		}
	}
	&__img {
		display: block;
		width: 100%;
	}
	&__btn {
		position: relative;
		margin-top: 14px;
	 	@include media-breakpoint-up(md) {
			width: 270px;
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
