mixin sMap(data)
	.s-map&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)._title
			._map.
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae74c560eb92f565c1fa5928ce0f658495d330511bd4b9e2388ce96199f6bc133&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
