.s-preview-events {
	&__head {
		display: flex;
		justify-content: space-between;
		gap: 15px;
		align-items: center;
	}
	&__all {
		margin-top: 27px;
		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
		a {
			font-weight: 600;
			font-size: 16px;
			border: none;
			display: inline-flex;
			align-items: center;
			gap: 11px;
			transition: color $animation-base-time;
			&:hover {
				color: $primary-dark;
			}
			@include media-breakpoint-up(lg) {
				font-size: 18px;
			}
			.icon {
				font-size: 10px;
			}
		}
	}

	&__list {
		margin-top: 17px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
			flex-flow: row wrap;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 28px;
		}
	}
	&__itm {
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 20)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 20)
		}
	}
}
