include ../card-event/card-event

mixin sPreviewEvents(data)
	.s-preview-events&attributes(attributes)
		._l-container.l-container
			._head
				if data.title
					+titleSquare(data.title)
				if data.all
					._all.-hidden-phone
						a(href="#")=data.all.ttl
							+icon('arrow-right')
			._list
				each itm in data.list
					._itm
						+cardEvent(itm)
			if data.all
				._all.-hidden-desktop.-hidden-tablet
					a(href="#")=data.all.ttl
						+icon('arrow-right')
