.card-desc {
	background-color: #F5F5F5;
	border-radius: 0 36px;
	width: 100%;
	@include media-breakpoint-up(md) {
		display: flex;
		border-radius: 0 34px;
	}
	@include media-breakpoint-up(lg) {
		border-radius: 0 34px;
	}
	&__pict {
		position: relative;
		padding-top: percentage(255/320);
		@include media-breakpoint-up(md) {
			display: flex;
			padding-top: 0;
		}
		picture {
			@include media-breakpoint-up(md) {
				display: flex;
				width: 100%;

			}
		}
	}

	&__img {
		display: block;
		width: 100%;
		border-radius: 0 36px;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		@include media-breakpoint-up(md) {
			border-radius: 0 34px;
			height: auto;
			position: static;
			width: 270px;
			min-height: 250px;
		}
		@include media-breakpoint-up(lg) {
			border-radius: 0 34px;
		}
	}
	&__info {
		padding: 22px 25px;
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: column;
			padding: 31px 34px;
		}
	}
	&__ttl {
		font-size: 20px;
		line-height: 1.3;
		font-weight: 500;
	}
	&__txt {
		font-size: 14px;
		line-height: 1.5;
		margin-top: 8px;
	}
	&__more {
		margin-top: 23px;
		@include media-breakpoint-up(md) {
			margin-top: auto;
			padding-top: 15px;
		}
		a {
			font-weight: 600;
			font-size: 14px;
			line-height: 140%;
			border: none;
			display: flex;
			column-gap: 9px;
			align-items: center;
			transition: color $animation-base-time;
			&:hover {
				color: #5b6449;;
			}
			.icon {
				font-size: 10px;
			}
		}
	}
}
