mixin card-desc(data)
	.card-desc&attributes(attributes)
		._pict
			+picture({
				img: data.img
			})._img
		._info.-font-secondary
			._ttl!=data.ttl
			._txt!=data.txt
			._more
				a(href="#")!=data.lnk
					+icon('arrow-right')
