.s-preview-tile {
	overflow: hidden;

	&__swiper {
		margin-top: 18px;
		overflow: visible;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
			overflow: hidden;
		}
		@include media-breakpoint-up(lg) {
			overflow: hidden;
			margin-top: 17px;
		}
	}
	&__swiper {
		&-wrapper {
			@include media-breakpoint-up(lg) {
				flex-flow: row wrap;
				column-gap: 20px;
				row-gap: 9px;
			}
		}
		&-slide {
			@include media-breakpoint-up(lg) {
				@include gapOffset(6, 20)
			}
		}
	}
	&__card {
		&:not(:hover) {
			@include media-breakpoint-up(lg) {
				margin-top: 11px;
			}
		}
		.card__ttl {
			@include media-breakpoint-between(lg,lg) {
				font-size: 14px;

			}
		}
	}
}
