include ../card/card
mixin sPreviewTile(data)
	.s-preview-tile&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			._swiper.swiper
				._swiper-wrapper.swiper-wrapper
					each itm in data.slides
						._swiper-slide.swiper-slide
							+card(itm)._card



