include ../card-employee/card-employee
- var showPopupTeam = true

mixin cardEmployee(data)
	.card-employee&attributes(attributes)
		+picture(data.img).__img
		._desc
			._name!=data.name
			._post!=data.post
			a(href="#employee-details" data-fancybox)._more Подробнее
				+icon('arrow-right')
mixin sTeam(data)
	.s-team&attributes(attributes)
		._l-container.l-container
			._head
				if data.title
					+titleSquare(data.title)
				._buttons.-hidden-phone.-hidden-tablet
					.swiper-button-prev
						+icon('arrow-left')
					.swiper-button-next
						+icon('arrow-right')
			._swiper.swiper
				._swiper-wrapper.swiper-wrapper
					each itm in data.slides
						._swiper-slide.swiper-slide
							+cardEmployee(itm)

