.s-team {
	overflow: hidden;
	&__head {
		display: flex;
		justify-content: space-between;
	}
	&__buttons {
		display: flex;
		column-gap: 14px;
	}
	&__swiper {
		margin-top: 22px;
		overflow: visible;
		@include media-breakpoint-up(md) {
			margin-top: 21px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 28px;
		}
		&-slide {
			display: flex;
			height: auto;
		}
	}
	.swiper-button-next:hover:not(.swiper-button-disabled),
	.swiper-button-prev:hover:not(.swiper-button-disabled) {
		background-color: $primary-dark;
		color: $light;
	}
}
