.s-stocks {
	&-offset {
		margin-top: 34px;
		@include media-breakpoint-up(lg) {
			margin-top: 37px;
		}
	}
	&__more {
		margin-top: 24px;
		text-align: center;
		a {
			color: inherit;
		}
	}
	&__list {
		margin-top: 34px;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			margin-top: 37px;
			flex-flow: row wrap;
			gap: 40px;
		}
	}
	&__itm {
		flex: 0 0 100%;
		max-width: 100%;
		&:not(:first-child) {
			padding-top: 30px;
			@include media-breakpoint-up(md) {
				padding-top: 0;
			}
		}
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 40)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(3, 40)
		}
	}
}
