include ../card-hor/card-hor
mixin sStocks(data)
	.s-stocks&attributes(attributes)
		._l-container.l-container
			if data.title
				+titleSquare(data.title)
			._list
				each itm in data.list
					._itm
						+cardHor(itm)
			if data.more
				._more.-hidden-tablet.-hidden-desktop
					a(href="#" role="button") Показать ещё

