.s-promo {
	background-color: #F5F5F5;
	margin-bottom: 188px;
	position: relative;
	@include media-breakpoint-up(md) {
		margin-bottom: 145px;
	}
	@include media-breakpoint-up(lg) {
		margin-bottom: 100px;
	}

	&__l-container {
		position: relative;
	}
	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
		height: 234px;
		@include media-breakpoint-up(lg) {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__swiper {
		&-slide {
			position: relative;
			padding-bottom: 141px;
			@include media-breakpoint-up(md) {
				padding-bottom: 112px;
			}
			@include media-breakpoint-up(lg) {
				padding: 96px 0 210px;
				height: 588px;
			}
		}
	}
	&__desc {
		padding: 18px 0 0;
		@include media-breakpoint-up(md) {
			padding-top: 45px;
		}
		@include media-breakpoint-up(lg) {
			padding-top: 0;
		}
	}
	&__label {
		background-color: #EAEAEA;
		align-items: center;
		display: inline-flex;
		padding: 7px 8px 8px;
		font-size: 12px;
		line-height: 1.45;
		border-radius: 90px;
		box-decoration-break: clone;
		gap: 7px;
		@include media-breakpoint-up(md) {
			font-size: 14px;
			padding: 6px 26px;
			&:before {
				content: '';
				width: 6px;
				height: 6px;
				flex: 0 0 6px;
				border-radius: 100%;
				background-color: $primary;

			}
		}
		@include media-breakpoint-up(lg) {
			padding: 6px 16px;
			background-color: rgba($light, 0.45);
			font-size: 16px;
		}
	}

	&__title {
		margin: 11px 0 0;
		@include media-breakpoint-up(md) {
			margin-top: 12px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 18px;
		}
	}
	&__txt {
		margin: 7px 0 0;
		@include media-breakpoint-up(md) {
			margin: 3px 0 0;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 9px;
			max-width: 450px;
		}
	}
	&__btn {
		margin: 22px 0 0;
		@include media-breakpoint-up(md) {
			width: 192px;
			margin-top: 39px;
		}
	}
	&__swiper-button-prev {
		position: absolute;
		left: 20px;
		top: 120px;
		@include media-breakpoint-up(md) {
			top: auto;
			left: auto;
			right: 79px;
			bottom: 116px;
		}
		@include media-breakpoint-up(lg) {
			position: static;

		}
	}
	&__swiper-button-next {
		position: absolute;
		right: 20px;
		top: 120px;
		@include media-breakpoint-up(md) {
			top: auto;
			bottom: 116px;
		}
		@include media-breakpoint-up(lg) {
			position: static;

		}
	}
	&__buttons {
		@include media-breakpoint-up(lg) {
			position: absolute;
			bottom: 145px;
			width: 100%;
			left: 0;
		}
	}
	&__buttons .l-container {
		position: static;
		display: flex;
		justify-content: flex-end;
		gap: 14px;

	}
	&__reservation {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: -123px;
		z-index: 10;
		@include media-breakpoint-up(md) {
			bottom: -70px;
		}
		@include media-breakpoint-up(lg) {
			bottom: 38px;
		}
	}
	.swiper-button-next:hover:not(.swiper-button-disabled),
	.swiper-button-prev:hover:not(.swiper-button-disabled) {
		background-color: $primary-dark;
		color: $light;
	}
}
