include ../b-reservation/b-reservation
-
	var slides = [
		{
			img: 'images/s-promo/img-1.png',
			label: 'Малазийские спа-программы с фуршетом на выбор',
			title: 'Спа-девичник ',
			desc: 'Подари себе праздник с экзотическим колоритом в спа-комплексе «Аквамарин»',
			btn: {
				ttl: 'Подробнее'
			}
		},
		{
			img: 'images/s-promo/img-1.png',
			label: 'Малазийские спа-программы с фуршетом на выбор',
			title: 'Спа-девичник Спа-девичник ',
			desc: 'Подари себе праздник с экзотическим колоритом в спа-комплексе «Аквамарин»',
			btn: {
				ttl: 'Подробнее'
			}
		}
	]
.s-promo
	._swiper.swiper
		._swiper-wrapper.swiper-wrapper
			each itm in slides
				._swiper-slide.swiper-slide
					+picture({
						media: true,
						img: itm.img
					})._img
					._l-container.l-container
						._desc
							span._label!=itm.label
							h1._title=itm.title
							._txt=itm.desc
							+btn({
								ttl: 'Подробнее'
							})._btn.btn_lg
	+bReservation()._reservation
	._buttons
		._l-container.l-container
			._swiper-button-prev.swiper-button-prev.swiper-button-prev_white(role="button")
				+icon('arrow-left')
			._swiper-button-next.swiper-button-next.swiper-button-next_white(role="button")
				+icon('arrow-right')
