.b-card-desc {
	background-color: #F5F5F5;
	border-radius: 0 36px;
	@include media-breakpoint-up(md) {
		display: flex;
		border-radius: 0 40px;
	}
	@include media-breakpoint-up(lg) {
		border-radius: 0 50px;

	}
	&_offset {
		margin-top: 40px;
		@include media-breakpoint-up(lg) {
			margin-top: 35px;
		}
	}
	&_single {
		margin-top: 70px;
		@include media-breakpoint-up(md) {
			margin-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 120px;
		}
	}
	&_pict-right &__img {

	}
	&_pict-right &__desc {

	}
	&__img {
		border-radius: 0 36px;
		display: block;
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		@include media-breakpoint-up(md) {
			height: auto;
			position: static;
			border-radius: 0 40px;
		}
		@include media-breakpoint-up(lg) {
			border-radius: 0 50px;
		}
	}
	&__bg {
		position: absolute;
		right: -48px;
		bottom: -97px;
		z-index: -1;
		@include media-breakpoint-up(lg) {
			right: 0;
			bottom: 0;
		}
	}
	&__desc {
		position: relative;
		overflow: hidden;
		padding: 25px;
		z-index: 1;
		@include media-breakpoint-up(md) {
			flex: 1 0 0;
			padding: 31px 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@include media-breakpoint-up(lg) {
		    padding: 40px 55px;
		}
	}
	&__pict {
		display: flex;
		position: relative;
		padding-top: percentage(228/320);
		@include media-breakpoint-up(md) {
			padding-top: 0;
			flex: 0 0 percentage(291/720);
			max-width: percentage(291/720);
		}
		@include media-breakpoint-up(lg) {
			flex: 0 0 50%;
			max-width: 50%;
		}
		picture {
			display: flex;
			width: 100%;
		}
	}
	&__title {
		margin: 10px 0 0;
		@include media-breakpoint-up(md) {
			margin: 9px 0 0;
		}
		@include media-breakpoint-up(lg) {
			margin: 11px 0 0;
		}
		&_h5 {
			max-width: 415px;
		}
		&_h3-special {
			text-transform: uppercase;
			font-family: $font-family-head;
			font-size: 36px;
			line-height: 1.45;
			@include media-breakpoint-up(lg) {
				font-size: 60px;
			}
		}
	}
	&__txt {
		margin-top: 10px;
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 7px;

		}
	}
	&__btn {
		margin-top: 22px;
		@include media-breakpoint-up(md) {
			width: 192px;
			margin-top: 31px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 26px;
		}
		&__buy {
			@include media-breakpoint-up(md) {
				width: 224px;
			}
		}
	}
	&__date {
		align-self: flex-start;
	}
	&_pict-right {
		.b-card-desc__img {
			@include media-breakpoint-between(md, md) {

			}
			@include media-breakpoint-up(lg) {
				border-radius: 0 50px 0 0;
			}
		}
		.b-card-desc__desc {
			@include media-breakpoint-up(lg) {
				padding: 46px;
				order: -1;
			}
		}
		.b-card-desc__bg {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
	}
	&_info {
		.b-card-desc__title {
			margin-top: 0;
		}
		&.b-card-desc_pict-right .b-card-desc__desc {
			@include media-breakpoint-up(lg) {
				padding-right: 83px;
				padding-top: 22px;
			}
		}
		.b-card-desc__txt {
			font-size: 14px;
			@include media-breakpoint-up(lg) {
				font-size: 18px;
			}
		}
		&.b-card-desc_pict-right {
			.b-card-desc__img {

				@include media-breakpoint-up(lg) {
					border-radius: 0 50px 0 0;
				}
			}
			.b-card-desc__txt {
				@include media-breakpoint-between(md, md) {
					max-width: 294px;

				}
			}
			.b-card-desc__desc {
				@include media-breakpoint-up(md) {
					order: -1;
				}
				@include media-breakpoint-up(lg) {
					padding: 46px;
					padding-right: 22px;
				}
			}
		}
		&.b-card-desc_pict-right .b-card-desc__desc,
		.b-card-desc__desc {
			padding-top: 15px;
			justify-content: flex-start;
			@include media-breakpoint-up(lg) {
				padding-top: 22px;
			}
		}
	}
	&__btns {
		margin-top: 29px;
		display: flex;
		gap: 10px;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			gap: 16px;
			margin-top: 29px;
			flex-flow: row nowrap;
		}
		&-btn {
			padding-left: 0;
			padding-right: 0;
			@include media-breakpoint-up(md) {
				flex: 1 0 0;
				max-width: 192px;
			}
		}
	}

}
