mixin bCardDesc(data)
	.b-card-desc(class=data.class)&attributes(attributes)
		._pict(class=data.pict)
			+picture({
				img: data.pict.img
			})._img
		._desc
			if data.date
				._date.date=data.date
			#{data.title.tagName?data.title.tagName: 'h2'}._title(class=data.title.class)!=data.title.txt
			if data.desc
				._txt!=data.desc

			if data.btn
				+btn(data.btn)._btn
			if data.btns
				._btns
					each btn in data.btns
						+btn(btn)._btns-btn
			if data.bg
				img(src=data.bg loading=lazy)._bg.-hidden-phone

