.s-callback {
	margin-top: 70px;
	position: relative;
	@include media-breakpoint-up(md) {
		margin-top: 100px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 120px;
	}

	&__block {
		position: relative;
		overflow: hidden;
		background-color: #F5F5F5;
		border-radius: 0 40px;
		padding: 30px 12px;
		@include media-breakpoint-up(md) {
			border-radius: 0 50px;
			padding: 50px 32px;

		}
		@include media-breakpoint-up(lg) {
			padding: 30px;
		}
	}

	&__title {
		text-align: center;
	}

	&__desc {
		margin-top: 6px;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.45;
		text-align: center;
		@include media-breakpoint-up(md) {
			margin-top: 5px;
			font-size: 16px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 18px;
			margin-top: 24px;
		}
	}

	&__bg {
		position: absolute;
		&_left {
			width: 227px;
			height: 299px;
			left: -58px;
			bottom: -77px;
		}
		&_right {
			width: 245px;
			height: 299px;
		 right: -40px;
			bottom: -77px;
		}
	}

	&__form {
		max-width: (1300-194*2px);
		margin: 23px 0 0;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		@include media-breakpoint-up(md) {
			margin: 27px auto 0;
			flex-flow: row wrap;
			justify-content: center;
			column-gap: 13px;
		}
		@include media-breakpoint-up(lg) {
			flex-flow: row nowrap;
			margin-top: 35px;
		}
		&-group {
			@include media-breakpoint-up(md) {
				flex: 0 0 224px;;
				max-width: 224px;
			}
			@include media-breakpoint-up(lg) {
				max-width: 241px;
				flex: 0 0 241px;
			}
		}

	}
	&__btn {
		@include media-breakpoint-up(md) {
			max-width: 187px;
			flex: 0 0 187px;
		}
		@include media-breakpoint-up(lg) {
			max-width: 200px;
			flex: 0 0 200px;
		}
	}
	&__whatsapp {
		color: inherit;
		font-size: 14px;
		line-height: 1.45px;
		display: flex;
		align-items: center;
		align-self: center;
		border: none;
		gap: 11px;
		&:hover span {
			border-bottom-color: transparent;
		}
		span {
			line-height: 1;
			transition: border-color $animation-base-time;
			border-bottom: 1px solid currentColor;
		}
	}
}
