.s-callback
	._l-container.l-container
		._block
			._title.-h2 Нужна помощь?
			._desc Оставьте свои данные и наши специалисты помогут с выбором!
			form._form.js-validate
				._form-group
					+input({
						field: {
							placeholder: "Имя",
							required: true,
							pattern: ".{2,}"
						}
					})
				._form-group
					+input({
						field: {
							placeholder: "Номер телефона",
							type: 'tel',
							mask: '+7 (999) 999-99-99',
							required: true,
							pattern: "\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}"
						}
					})
				+btn({
					tagName: 'button',
					type: 'submit',
					ttl: 'Отправить'
				})._btn
				a(href="#")._whatsapp
					span Написать в WhatsApp
					.
						<img src="images/socials/whatsapp.svg" loading="lazy" width="33" height="33">

			img(src="images/s-callback/bg-left.svg" loading="lazy")._bg.-left.-hidden-phone
			img(src="images/s-callback/bg-right.svg" loading="lazy")._bg.-right.-hidden-phone
