@font-face {
    font-family: 'Felidae';
    src: url('Felidae-Regular.woff2') format('woff2'),
        url('Felidae-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

