@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-angle-right {
    width: (16 / 16) * 1em;
}
.icon-arrow-down-right {
    width: (37 / 37) * 1em;
}
.icon-arrow-left {
    width: (27 / 10) * 1em;
}
.icon-arrow-right {
    width: (27 / 10) * 1em;
}
.icon-burger {
    width: (50 / 50) * 1em;
}
.icon-close {
    width: (25 / 25) * 1em;
}
.icon-datepicker {
    width: (18 / 20) * 1em;
}
.icon-mail {
    width: (14 / 10) * 1em;
}
.icon-pdf {
    width: (14 / 18) * 1em;
}
.icon-phone {
    width: (15 / 14) * 1em;
}
.icon-user {
    width: (20 / 20) * 1em;
}
