.card-tile {
	position: relative;
	display: flex;
	width: 100%;
	border: none;
	picture {
		width: 100%;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(31, 31, 31, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
		border-radius: 0 36px;
		@include media-breakpoint-up(md) {
			border-radius: 0 40px;
		}
	}

	&__img {
		width: 100%;
		min-height: 100%;
		object-fit: cover;
		border-radius: 0 36px;
		@include media-breakpoint-up(md) {
			border-radius: 0 40px;
		}

	}
	&__ttl {
		z-index: 3;
		position: absolute;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.3;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		padding: 21px 25px;
		color: $light;
		align-items: flex-end;
		@include media-breakpoint-up(md) {
			font-size: 20px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 21px;
			line-height: 1.3;
			padding: 21px 37px;
		}
	}
	&__icon {
		font-size: 29px;
		transition: transform $animation-base-time;
		min-width: 29px;
		@include media-breakpoint-up(md) {
			font-size: 37px;
			min-width: 37px;
		}
	}
	&:hover &__icon {
		transform: rotate(-90deg);
	}
}
