header.s-header
	._l-container.l-container
		a(href="/home.html")._logo
			img(src="images/logo.svg" width="147" height="30")._logo-img
		nav._menu#mainMenu
			button(type="button")._close.-hidden-desktop.js-close-menu
				+icon('close')._close-icon
			._menu-in
				ul
					each itm in mainMenu
						li
							a(
								href=itm.url? itm.url: '#',
								class=pageUrl === itm.url ? 'is-selected': ''
							)!=itm.ttl
				+btn({
					type: 'button',
					tagName: 'button',
					ttl: 'Заказать звонок'
				})._btn-callback.btn.-hidden-desktop(data-fancybox="" data-src="#callback")
		+btn({
			type: 'button',
			tagName: 'button',
			ttl: 'Заказать звонок'
		})._btn-callback.btn.-hidden-phone(data-fancybox="" data-src="#callback")
		a(href="tel:")._callback.-hidden-desktop._hidden-tablet
			+icon('phone')._callback-icon
		button(type="button")._burger.-hidden-desktop.js-open-menu
			+icon('burger')._burger-icon
