.s-header {
	flex: 0 0 auto;
	padding: 2px 0;
	background-color: $light;
	z-index: 100;
	position: sticky;
	top: 0;
	left: 0;
	@include media-breakpoint-up(md) {
	 padding: 11px 0 ;
	}
	@include media-breakpoint-up(lg) {
		padding: 20px 0;
	}

	&__l-container {
		display: flex;
		align-items: center;
	}
	&__logo {
		display: block;
		border: none;
		&-img {
			display: block;
			@include media-breakpoint-up(lg) {
				width: 176px;
				height: 37px;
			}
		}
	}
	&__burger {
		@include btnReset;
		max-width: 50px;
		height: 50px;
		flex: 0 0 50px;
		&-icon {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&__callback {
		@include btnReset;
		max-width: 34px;
		height: 34px;
		flex: 0 0 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		font-size: 14.68px;
		color: $light;
		margin-left: auto;
		margin-right: 8px;
		background-color: $primary;
	}
	&__btn {
		&-callback {
			width: 188px;
			height: 46px;
			font-size: 14px;
			margin: 30px 0 0;
			@include media-breakpoint-up(md) {
				margin-top: 0;
				width: 160px;
				flex: 0 0 160px;
				margin-left: auto;
				margin-right: 22px;
			}
			@include media-breakpoint-up(lg) {
				max-width: 192px;
				flex: 0 0 192px;
				height: 52px;
				margin: 0;
				font-size: 16px;
			}
		}
	}
	&__close {
		@include btnReset;
		position: fixed;
		top: 18px;
		right: 18px;
		color: rgba($light, 0.6);
		z-index: 1;
	}
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #FFF;
		font-weight: 500;
		font-size: 16px;
		visibility: hidden;
		background-color: transparent;
		transition: background-color $animation-base-time, visibility $animation-base-time;
		&.is-open {
			visibility: visible;
			background-color: rgba($dark, 0.72);
			@include media-breakpoint-up(lg) {
			    background-color: transparent;
			}

		}
		@include media-breakpoint-up(lg) {
			visibility: visible;
			position: static;
			width: auto;
			height: auto;
			font-weight: 500;
			font-size: 14px;
			color: $dark;
			display: flex;
			background-color: transparent;
			flex: 1 0 0;
			padding: 0 0 0 percentage(30/1300);
		}
		@include media-breakpoint-up(xl) {
			padding: 0 0 0 percentage(119/1300);
		}
		&.is-open &-in {
			transform: translateX(0);
		}
		&-in {
			@include media-breakpoint-down(md) {
				transition: transform $animation-base-time;
				transform: translateX(100%);
				position: fixed;
				top: 0;
				right: 0;
				height: 100%;
				background-color: $dark;
				width: 237px;
				padding: 40px 27px;
				margin: 0;
				overflow-x: hidden;
				overflow-y: auto;
				@include media-breakpoint-up(md) {
					padding: 40px 32px;
					width: 260px;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			@include media-breakpoint-up(lg) {
				column-gap: 15px;
				display: flex;
			}
			@include media-breakpoint-up(xxl) {
				column-gap: 31px;
			}
			&:before {
				display: none;
			}
		}
		li {
			padding-left: 0;
			&:not(:first-child) {
				margin-top: 15px;
				@include media-breakpoint-up(lg) {
					margin-top: 0;
				}
			}
			&:before {
				display: none;
			}
		}
		a {
			color: inherit;
			border: none;
			position: relative;
			&.is-selected,
			&:hover {
				color: $primary;
			}
			&:hover:before,
			&.is-selected:before {
				width: 100%;
			}
			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				background-color: $primary;
				transition: width $animation-base-time;
			}
		}
	}

}
html.is-main-menu-open {
	body {
		overflow: hidden;
	}
}
