.card {
	display: block;
	position: relative;
	border: none;
	color: $light;
	@include media-breakpoint-up(md) {
		margin-top: 18px;
		transition: margin-top $animation-base-time*2;
		&:hover {
			margin-top: 0;
		}
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(31, 31, 31, 0.16) 0%, rgba(31, 31, 31, 0.84) 100%);
		border-radius: 30px 0;

	}
	&__img {
		width: 100%;
		border-radius: 30px 0;
		display: block;
	}
	&__ttl {
		position: absolute;
		z-index: 1;
		bottom: 14px;
		padding: 0 10px;
		text-align: center;
		font-size: 12px;
		line-height: 1.3;
		font-weight: 500;
		width: 100%;
		@include media-breakpoint-up(md) {
			bottom: 26px;
			font-size: 20px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 21px;
			bottom: 25px;
		}
	}
}
