.s-404 {
	padding-top: 33px;
	text-align: center;
	font-size: 14px;
	@include media-breakpoint-up(md) {
		padding-top: 52px;
		font-size: 18px;
	}
	@include media-breakpoint-up(lg) {
		padding-top: 52px;
		font-size: 25px;

	}
	&__title {
		font-family: $font-family-head;
		font-weight: 400;
		font-size: 200px;
		line-height: 1;
		text-transform: uppercase;
		@include media-breakpoint-up(md) {
			font-size: 300px;
		}
		@include media-breakpoint-up(lg) {
			font-size: 400px;
		}
	}
	&__txt {
		margin-top: -44px;
	}
	&__btn {
		margin-top: 36px;
		width: 236px;
		@include media-breakpoint-up(lg) {
			margin-top: 30px;

		}
	}
}
