form.callback.js-validate
	._form-group
		+input({
			field: {
				placeholder: "Имя",
				required: true,
				pattern: ".{2,}"
			}
		})
	._form-group
		+input({
			field: {
				placeholder: "Номер телефона",
				type: 'tel',
				mask: '+7 (999) 999-99-99',
				required: true,
				pattern: "\\+7\\s\\([0-9]{3}\\)\\s[0-9]{3}-[0-9]{2}-[0-9]{2}"
			}
		})
	+btn({
		tagName: 'button',
		type: 'submit',
		ttl: 'Отправить'
	})._btn
	.__footnote
		|Нажимая на кнопку вы соглашаетесь с условиями обработки данных и 
		a(href="policy.html") политикой конфиденциальности
