.callback {
	margin-top: 23px;
	&__btn {
		width: 100%;
		margin-top: 10px;
	}
	&__form-group {
		margin-top: 10px;
	}
	&__footnote {
		margin-top: 13px;
		font-size: 12px;
		line-height: 1.45;
		text-align: center;
		a {
			color: inherit;
		}
	}
}
