.employee-details
	._col
		+picture({
			img: 'images/employee-details/img-1.png'
		})._img
	._col
		._name Лола Порш
		._post Старший СПА-эстетист
		._ttl Образование:
		p Среднее медицинское.
			br
			|Сертифицированный массажист.
		._ttl Опыт работы:
		p 13 лет
		._button
			+btn({
				ttl: 'Записаться'
			})._btn
	._col
		._ttl.-mt-0 Выполняет виды массажа тела:
		ul
			li классический
			li лимфодренажный
			li антицеллюлитный
			li хиромассаж
			li детский
			li стоун-массаж
			li японский холистический массаж тела и лица Дзентай
			li аппаратный массаж тела и лица ICOONE, программа поддержки красоты клиентов, прошедших окологическое лечение
		p  Процедуры на косметике Сomfort Zone, Сharme d`Orient, Terre Ionique.    
	._col
		._ttl.-mt-0 Cертификаты:
		p  «Медицинский массаж», «Дзентай» японский холистический массаж тела и лица, «Хиромассаж», «Специалист по коррекции фигуры», «Ломи-Ломи СПА-массаж»,Аппаратный массаж тела и лица ICOONE», программа поддержки красоты клиентов, прошедших окологическое лечение «Beauty Realoded».
		p Сертификаты по работе с косметикой спа-брендов: Сomfort Zone, Сharme d`Orient, (комплексные программы по уходы за телом и лицом, бандажное обёртывание).
		p Диплом участника IX Открытого чемпионата России по косметологии и массажу XII Международная выставка Kosmetic Expo 2013г.
