.employee-details {
	display: flex;
	flex-direction: column;
	row-gap:  22px;
	@include media-breakpoint-up(md) {
		flex-flow: row  wrap;
		row-gap: 39px;
		column-gap: 28px;

	}
	@include media-breakpoint-up(lg) {
		row-gap: 36px;
	}
	p {
		margin: 12px  0 0;
		@include media-breakpoint-up(lg) {
			margin-top: 14px;
		}
	}

	&__img {
		border-radius: 0 34px;
		display: block;
		width: 100%;
	}
	&__name {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			font-size: 20px;
			padding-top: 23px;

		}
		@include media-breakpoint-up(md) {
			font-size: 22px;
		}
	}
	&__post {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.45;
		margin-top: 7px;
		color: rgba(31, 31, 31, 0.8);
		@include media-breakpoint-up(md) {
			margin-top: 11px;
			font-size: 16px;

		}
	}
	ul +p ,
	&__ttl +p {
		margin-top: 5px;
	}
	&__button {
		padding-top: 22px;
		margin-top: auto;

	}
	&__btn {
		@include media-breakpoint-up(md) {
			width: 253px;
		}
	}
	&__ttl {
		font-weight: 600;
		margin-top: 17px;
		font-size: 14px;
		@include media-breakpoint-up(md) {
			margin-top: 23px;

		}
		@include media-breakpoint-up(lg) {
			font-size: 16px;
			margin-top: 20px;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {
			flex: 1 0 0;

		}
		&:nth-child(1),
		&:nth-child(3) {
			@include media-breakpoint-up(md) {
				flex: 0 0 percentage(312/650);
				max-width: 650px;

			}
		}
	}
}
