include ../card-package/card-package
include ../b-card-desc/b-card-desc
mixin sPackages(data)
	.s-packages&attributes(attributes)
		._l-container.l-container
			each package in data.packages
				if package.type === 'card-desc'

					+bCardDesc(package)
				else
					+cardPackage(package)

+sPackages({
	packages: [
		{
			img: {
				media: true,
				img: 'images/card-package/img-1.png'
			},
			ttl: {
				class: 's-packages__title_h3',
				txt: 'АБСОЛЮТНОЕ РАССЛАБЛЕНИЕ'
			},
			desc: {
				txt: 'Программа создана для полноценного восстанавливающего отдыха. Уходовые процедуры для лица и тела подарят удивительный опыт абсолютной релаксации и помогут добиться идеальной гармонии души и тела. Рекомендуется при усталости и стрессе для любой кожи.'
			},
			programs: [
				{
					ttl: 'Программа на 2 дня включает в себя процедуры:',
					list: [
						{txt: 'Спокойствие'},
						{txt: 'Массаж лица'},
						{txt: 'Испанский или аюрведический массаж'},
						{txt: 'Уход для лица на аппарате Dermadrop TDA'}
					],
					price: '21 000 р'
				},
				{
					ttl: 'Программа на 1 день включает в себя процедуры:',
					list: [
						{txt: 'Абсолютный баланс тела'},
						{txt: 'Уход для лица на аппарате Dermadrop TDA'}
					],
					price: '13 900 р'
				}
			],
			btn: {
				ttl: 'Записаться'
			}
		},
		{
			img: {
				media: true,
				img: 'images/card-package/img-2.png'
			},
			ttl: {
				class: 's-packages__title_h3',
				txt: 'МГНОВЕННЫЙ СИЛУЭТ'
			},
			desc: {
				txt: 'Продуманные, результативные, физиологические уходы для мощной активации похудения и борьбы с отёчностью. Уникальные составы косметических средств в синергии с аппаратными методиками придадут коже заметный лифтинг и нормализуют массу тела.'
			},
			programs: [
				{
					ttl: 'Программа на 2 дня включает в себя процедуры:',
					list: [
						{txt: 'Детокс-перезгрузка'},
						{txt: 'Прессотерапия'},
						{txt: 'Моделирующий массаж тела на аппарате ICOONE'},
						{txt: 'Уход для лица на аппарате Geneo+'},
					],
					price: '21 000 р'
				},
				{
					ttl: 'Программа на 1 день включает в себя процедуры:',
					list: [
						{txt: 'Детокс-перезгрузка'},
						{txt: 'Уход для лица на аппарате Geneo+'}
					],
					price: '16 300 р'
				}
			],
			btn: {
				ttl: 'Записаться'
			}
		},
		{
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		},
		{
			img: {
				media: true,
				img: 'images/card-package/img-3.png'
			},
			ttl: {
				class: 's-packages__title_h3',
				txt: 'ОБНОВЛЕНИЕ'
			},
			desc: {
				txt: 'Продуманные, результативные, физиологические уходы для мощной активации похудения и борьбы с отёчностью. Уникальные составы косметических средств в синергии с аппаратными методиками придадут коже заметный лифтинг и нормализуют массу тела.'
			},
			programs: [
				{
					ttl: 'Программа на 2 дня включает в себя процедуры:',
					list: [
						{txt: 'Жемчужина Марокко'},
						{txt: 'Японский холистический массаж «Дзентай»'},
						{txt: 'Уход для лица на аппарате Dermadrop TDA'},
					],
					price: '28 300 р'
				},
				{
					ttl: 'Программа на 1 день включает в себя процедуры:',
					list: [
						{txt: 'Жемчужина Марокко'},
						{txt: 'Уход для лица на аппарате Dermadrop TDA'}
					],
					price: '17 000 р'
				}
			],
			btn: {
				ttl: 'Записаться'
			}
		},
		{
			img: {
				media: true,
				img: 'images/card-package/img-4.png'
			},
			ttl: {
				class: 's-packages__title_h3',
				txt: 'SPA ДЛЯ ДВОИХ'
			},
			desc: {
				txt: 'Мы разработали специальный spa пакет, который позволит погрузиться в атмосферу, наслаждения. Глубокое очищение, богатые текстуры масок и подробный массаж подарят вам незабываемый отдых вдали от городской суеты.'
			},
			programs: [
				{
					ttl: 'Программа на 2 дня включает в себя процедуры:',
					list: [
						{txt: 'Королевский SPA-ритуал'},
						{txt: 'Абсолютный баланс тела'},
						{txt: 'Массаж с аромасвечей'},
						{txt: 'Классический массаж на аромамасле'},
					],
					price: '25 400 р'
				},
				{
					ttl: 'Программа на 1 день включает в себя процедуры:',
					list: [
						{txt: 'Королевский SPA-ритуал'},
						{txt: 'Абсолютный баланс тела'},
					],
					price: '17 100 р'
				}
			],
			btn: {
				ttl: 'Записаться'
			}
		},
	]
})
