.s-packages {
	margin-top: 30px;
	@include media-breakpoint-up(lg) {
		margin-top: 44px;
	}
	&__l-container {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		@include media-breakpoint-up(lg) {
			row-gap: 60px;
		}
	}
}
