include ../b-card-room/b-card-room
mixin sOutherRooms(data)
	.s-outher-rooms&attributes(attributes)
		._l-container.l-container
			._head
				if data.title
					+titleSquare(data.title)
				._buttons.-hidden-phone.-hidden-tablet
					.swiper-button-prev
						+icon('arrow-left')
					.swiper-button-next
						+icon('arrow-right')
			._swiper.swiper
				._swiper-wrapper.swiper-wrapper
					each itm in data.slides
						._swiper-slide.swiper-slide
							+bCardRoom(itm)

