include ../card-room/card-room
include ../b-card-desc/b-card-desc
mixin sProcedures(data)
	.s-procedures&attributes(attributes)
		._l-container.l-container
			each itm in data.items
				if itm.type === 'card-desc'
					+bCardDesc(itm)._card-desc
				else
					+cardRoom(itm)._card

