.s-procedures {
	margin-top: 32px;
	@include media-breakpoint-up(md) {
		margin-top: 34px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 37px;
	}
	&_l-offset {
		margin-top: 70px;
		@include media-breakpoint-up(md) {
			margin-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 120px;
		}
	}
	&__l-container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@include media-breakpoint-up(md) {
			gap: 60px;
		}
		@include media-breakpoint-up(lg) {
			gap: 50px;
		}
	}
}
