include ../b-gallery/b-gallery

.s-room
	._l-container.l-container
		h1._title.-h2=title
		._cols
			._col
				+chars({
					chars: [
						{
							img: 'images/people.svg',
							ttl: 'Гости: до 3 '
						},
						{
							img: 'images/door.svg',
							ttl: 'Комнаты: 1'
						},
						{
							img: 'images/size.svg',
							ttl: 'Площадь: 20 кв.м.'
						},
						{
							img: 'images/bed.svg',
							ttl: 'Кровати: 1-2.'
						}
					]
				})._chars
				._desc Однокомнатный номер с двуспальной кроватью или двумя односпальными кроватями. Санузел душ. До 3 гостей, 1 комната, одна большая или две раздельные кровати, 20 кв.м. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания
				+btn({
					ttl: 'Забронировать'
				})._btn.-hidden-phone.-hidden-tablet
			._col
				+contain({
					ttl: 'В номере:',
					list: [
						{
							img: 'images/s-room/icon-1.svg',
							ttl: 'кондиционер'
						},
						{
							img: 'images/s-room/icon-2.svg',
							ttl: 'мини-холодильник для прохладительных напитков'
						},
						{
							img: 'images/s-room/icon-3.svg',
							ttl: 'WI&#8209;FI'
						},
						{
							img: 'images/s-room/icon-4.svg',
							ttl: 'чайная станция'
						},
						{
							img: 'images/s-room/icon-5.svg',
							ttl: 'телевизор'
						},
						{
							img: 'images/s-room/icon-6.svg',
							ttl: 'фен'
						}
					]
				})._contain

		+btn({
			ttl: 'Забронировать'
		})._btn.-hidden-desktop
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-1.png'
				},
				{
					img: 'images/b-gallery/img-2.png'
				},
				{
					img: 'images/b-gallery/img-3.png'
				},
				{
					img: 'images/b-gallery/img-4.png'
				},
				{
					img: 'images/b-gallery/img-5.png'
				},
				{
					img: 'images/b-gallery/img-6.png'
				}
			]
		})._gallery.-hidden-phone

