.s-room {
	&__l-container {

	}
	&__cols {
		@include media-breakpoint-up(lg) {
			display: flex;
			gap: 72px;

		}
	}
	&__col {
		@include media-breakpoint-up(lg) {
		    flex: 1 0 0;
		}
	}
	&__desc {
		margin-top: 17px;
	}
	&__btn {
		margin: 24px 0 0;
		@include media-breakpoint-up(md) {
			width: 224px;
			margin-top: 31px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 26px;
		}
	}
	&__gallery {
		margin-top: 50px;
		@include media-breakpoint-up(lg) {
			margin-top: 60px;

		}
	}
}
