
html {
	font-size:62.5%;
}

body {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	color: $font-base-color;
	@include base-text-style;
}
* {
	box-sizing: border-box;
}
.lnk,
a {
	text-decoration: none;
	transition: border-bottom-color $animation-base-time;
	border-bottom: 1px solid;
	color: $font-link-color;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:hover {
		border-bottom-color: transparent;
	}
	&_reverse {
		border-bottom-color: transparent;
		&:hover {
			border-bottom-color: currentColor;
		}
	}
}
button {
	cursor: pointer;

}
ul {
	list-style: none;
	padding: 0;
	li {
		position: relative;
		padding-left: 12px;
		&:before {
			content: '';
			background-color: currentColor;
			min-width: 4px;
			max-width: 4px;
			height: 4px;
			position: absolute;
			top: 0.7em;
			left: 0;
			border-radius: 100%;
		}

	}
}
ol {
	list-style: none;
	padding: 0;
	counter-reset: num;
	li {
		padding-left: 20px;
		position: relative;

		&:before {
			text-align: right;
			content: counter(num) '.';
			counter-increment: num;
			position: absolute;
			right: 100%;
			left: auto;
			margin-right: -17px;
			width: 20px;
		}
	}
}
b, strong {
	font-weight: 600;
}
p {
	margin: 9px 0;
	@include media-breakpoint-up(md) {
		margin: 12px 0;
	}
	@include media-breakpoint-up(lg) {
		margin: 18px 0;
	}

}
.l-main {
	flex: 1 0 auto;
}
.l-container {
	width: 100%;
	max-width: 1340px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}
.swiper-button-prev,
.swiper-button-next {
	width: 31px;
	height: 31px;
	border-radius: $radius;
	background-color: $primary;
	color: $light;
	font-size: 7px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition: background-color $animation-base-time, color $animation-base-time;
	z-index: 5;
	&_white {
		background-color: $light;
		color: $primary;
		&:hover {
			color: $light;
			background-color: $primary;
		}
	}

	@include media-breakpoint-up(md) {
		width: 44px;
		height: 44px;
		font-size: 9px;
	}
	@include media-breakpoint-up(lg) {
		width: 56px;
		height: 56px;
		font-size: 10px;
	}
	&:hover {
		background-color: $light;
		color: $primary;
	}
	&.swiper-button-disabled,
	&.swiper-button-disabled:hover {
		cursor: not-allowed;
		background-color: #CDCDCD;
		color: $light;
	}
}
.title-square {
	&__ttl {
		margin: 0;
		display: inline;
	}
	&:after {
		content: '';
		min-width: 9px;
		max-width: 9px;
		height: 9px;
		margin-left: 10px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		top: 1.2em;
		transform: rotate(45deg) ;
		background-color: $primary;
		@include media-breakpoint-up(md) {
			min-width: 10px;
			max-width: 10px;
			height: 10px;
		}
		@include media-breakpoint-up(lg) {
			top: 1.4em;
			margin-left: 24px;
			min-width: 12px;
			max-width: 12px;
			height: 12px;
		}
	}

}
.date {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.45;
	color: $light;
	padding: 6px 15px;
	display: inline-flex;
	align-items: center;
	column-gap: 7px;
	background-color: #2e331f;
	border-radius: 90px;
	@include media-breakpoint-up(lg) {
		font-size: 16px;
		padding: 6px 19px;
	}
	&:before {
		content: '';
		height: 6px;
		min-width: 6px;
		max-width: 6px;
		border-radius: 100%;
		background-color: $primary;
	}
}
.tabs {
	overflow: hidden;
	position: relative;
	&__tab {
		transition: opacity 0.3s, visibility 0.3s;
		&:not(.is-visible) {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
}
.breadcrumbs {
	padding: 14px 0;
	font-size: 12px;
	line-height: 1.45;

	@include media-breakpoint-up(md) {
		font-size: 14px;
		padding: 22px 0 19px;

	}
	@include media-breakpoint-up(lg) {
		padding: 21px 0;
	}
	&__l-container {
		@include media-breakpoint-up(md) {
			display: flex;
			justify-content: space-between;
		}
	}
	&__pdf {
		color: $primary;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: row wrap;
		a {
			color: inherit;
			border-bottom-color: transparent;
			&:hover {
				border-bottom-color: currentColor;
			}
		}
	}
	li {
		padding: 0;
		display: flex;
		align-items: center;
		&:before {
			display: none;
		}
	}
	.icon {
		display: block;
		margin: 0 3px;
		@include media-breakpoint-up(md) {
			font-size: 16px;
			margin: 0 5px;

		}
	}

}
.chars {
	display: flex;
	flex-flow: row wrap;
	column-gap: 15px;
	row-gap: 6px;
	margin-top: 10px;
	@include media-breakpoint-up(md) {
		column-gap: 25px;
	}
	&__char {
		display: flex;
		gap: 6px;
		@include gapOffset(2, 15);
		font-size: 14px;
		line-height: 1.45;
		@include media-breakpoint-up(md) {
			flex:  0 0 auto;
			font-size: 16px;
		}

	}
	&__icon {
		width: 21px;
		height: 21px;
		min-width: 21px;
		display: block;
	}
}
.contain {
	margin: 14px 0 0;
	&__ttl {
		font-weight: 600;
	}
	&__list {
		margin: 8px 0 0;
		display: flex;
		flex-flow: row wrap;
		row-gap: 8px;
		column-gap: 50px;
		@include media-breakpoint-up(md) {
			row-gap: 15px;
			column-gap: 10px;
		}
		@include media-breakpoint-up(lg) {
			column-gap: 50px;
		}
	}
	&__itm {
		display: flex;
		gap: 11px;
		align-items: center;
		@include media-breakpoint-up(md) {
			@include gapOffset(3, 10)
		}
		@include media-breakpoint-up(lg) {
			@include gapOffset(2, 50)
		}

	}
	&__icon {
		border-radius: 100%;
		border: 1px solid #b7b7b7;
		flex: 0 0 36px;
		height: 36px;
		max-width: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		@include media-breakpoint-up(md) {
			flex: 0 0 50px;
			height: 50px;
			max-width: 50px;
		}
		&-img {
			max-height: 50%;
			max-width: 50%;
		}
	}
}

