.btn {
	outline: none;
	box-shadow: none;
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-family: $font-family-base;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	border: 1px solid $primary;
	background-color: $primary;
	border-radius: $radius;
	color: $light;
	gap: 10px;
	padding: 15px;
	transition: color $animation-base-time, background-color $animation-base-time, border-color $animation-base-time;
	.icon-pdf {
		font-size: 17px;
	}
	@include media-breakpoint-up(md) {
		width: auto;
		display: inline-flex;
		vertical-align: top;

	}
	&:hover {
		border-color: $primary-dark;
		background-color: $primary-dark;
	}

	&_md {
		padding: 14px 15px;
	}
	&_lg {
		@include media-breakpoint-up(lg) {
			padding: 19px 15px;
		}
	}
	&_sm {
		border-radius: 90px;
		padding: 7.5px 23px;
	}
	&_outline {
		background-color: transparent;
		color: $dark;
		border-color: #787878;
		&.is-active,
		&:hover:not(.is-active) {
			color: $light;
			border-color: $primary;
			background-color: $primary;
		}
		&.btn_primary {
			color: $dark;
			border-color: $primary;
			&:hover:not(.is-active) {
				color: $light;
				border-color: $primary;
				background-color: $primary;
			}
		}
	}


	&:disabled:hover, &.is-disabled:hover, &[disabled]:hover,
	&:disabled, &.is-disabled, &[disabled] {
		cursor: not-allowed;

	}
}
.btn-arrow {
	background: $primary;
	border-radius: 0 10px;
	width: 40px;
	height: 40px;
	font-size: 10px;
	min-width: 40px;
	max-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $light;
	transition: background-color $animation-base-time, color $animation-base-time;
	border: none;
	&:hover {
		background-color: $light;
		color: $primary;
	}
}

