.input {
	&__field {
		width: 100%;
		display: block;
		border: 1px solid #e3e3e3;
		border-radius: 5px;
		background-color: $light;
		padding: 15px 15px;
		font-size: 16px;
		line-height: 20px;
		outline: none;
		box-shadow: none;
		font-family: $font-family-base;
		&::placeholder {
			opacity: 1;
			color: #989898;
		}
		&.is-invalid {
			border-color: $danger!important;
		}
	}

	&__is-invalid {

	}
}
