@mixin base-text-style () {
	font-family: $font-family-base;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
	@include media-breakpoint-up(md) {
		font-size: 16px;
		line-height: 1.45
	}
	@include media-breakpoint-up(lg) {
	    font-size: 18px;
	}
}

@mixin text-style-h1() {
	margin: 0;
	font-family: $font-family-head;
	font-weight: 400;
	font-size: 48px;
	line-height: 1;
	text-transform: uppercase;
	@include media-breakpoint-up(md) {
		font-size: 56px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 74px;
	}
}
h1 {
	@include text-style-h1();
}
@mixin text-style-h2() {
	margin: 0;
	font-style: normal;
	font-family: $font-family-head;
	font-weight: 400;
	font-size: 46px;
	line-height: 1;
	text-transform: uppercase;
	@include media-breakpoint-up(lg) {
		font-size: 52px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 68px;
	}
}
h2 {
	@include text-style-h2();
}
@mixin text-style-h3() {
	font-weight: 400;
	font-size: 46px;
	line-height: 100%;
	text-transform: uppercase;
	font-family: $font-family-head;
	@include media-breakpoint-up(md) {
		font-size: 52px;
	}
	@include media-breakpoint-up(lg) {
		font-size: 60px;
		line-height: 1.45 ;
	}
}
h3 {
	@include text-style-h3();
}
@mixin text-style-h4() {
	font-weight: 400;
	font-size: 46px;
	line-height: 100%;
	text-transform: uppercase;
	font-family: $font-family-head;

	@include media-breakpoint-up(md) {
		font-size: 52px
	}
	@include media-breakpoint-up(lg) {
		line-height: 1;
	}
}
h4 {
	@include text-style-h4();
}
@mixin text-style-h5() {
	font-weight: 400;
	font-size: 33px;
	line-height: 100%;
	text-transform: uppercase;
	font-family: $font-family-head;
	@include media-breakpoint-up(md) {
		font-size: 36px;

	}
	@include media-breakpoint-up(lg) {
		font-size: 40px;
		line-height: 1.13;
	}
}
h5 {
	@include text-style-h5();
}
