// Font
$font-family-base: "Manrope", Arial, Helvetica, sans-serif;
$font-family-secondary: 'Montserrat', Arial, Helvetica, sans-serif;
$font-family-head: 'Molodo-font', Arial, Helvetica, sans-serif;

/**
 * Grid systemn
 * -----------------------------------------
 */

//Breakpoints
$grid-breakpoints: (
	xs: 0,
	xsm: 360px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1340px,
	xxxl:  1872px
);
$device-breakpoints: (
	phone: xs,
	tablet: md,
	desktop: lg
);
// Colors
$light: #FFF;
$dark: #1f1f1f;
$primary: #89ab2a;
$primary-dark: #5b6449;
$success: #084396;
$warning: #F4F83B;
$secondary: #C5C5C5;
$danger: #FF3C30;


$font-base-color: $dark;
$font-link-color: $primary;

// time
$animation-base-time: 0.3s;


// radius
	$radius: 5px;
// Shadow

