mixin cardPackage(data)
	.card-package&attributes(attributes)
		._pict
			+picture(data.img)._img
		._desc
			._title(class=data.ttl.class)!=data.ttl.txt
			._txt!=data.desc.txt
			._programs
				each program in data.programs
					._program
						._ttl!=program.ttl
						ul
							each li in program.list
								li=li.txt
						._price 		Стомость:
							=' '
							=program.price
			+btn(data.btn)._btn
