.card-package {
	@include media-breakpoint-up(lg) {
		display: flex;
	}
	&__pict {
		@include media-breakpoint-up(lg) {
			flex: 0 0 330px;
			max-width: 330px;
			display: flex;
		}
		picture {
			width: 100%;
			display: flex;
		}
	}
	&__img {
		display: block;
		width: 100%;
		object-fit: cover;
		border-radius: 0 36px;
	}
	&__desc {
		padding: 14px 0 0;
		@include media-breakpoint-up(md) {
			padding: 28px 0 0;
		}
		@include media-breakpoint-up(lg) {
			padding: 0 0 0 40px;
			flex: 1 0 0;
		}
	}
	&__txt {
		margin: 0;
		@include media-breakpoint-up(md) {
			margin-top: 12px;

		}

	}
	&__programs {
		margin-top: 15px;
		display: flex;
		flex-direction: column;
		row-gap: 15px;

		@include media-breakpoint-up(md) {
			margin: 32px 0 0;

			flex-flow: row nowrap;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 20px;

		}
	}
	&__program {
		@include media-breakpoint-up(md) {
			@include gapOffset(2, 34);
		}
	}
	&__ttl {
		font-weight: 600;
	}
	ul {
		margin: 5px 0 0;
	}
	&__price {
		font-weight: 600;
		margin-top: 5px;
	}
	&__btn {
		margin-top: 24px;
		@include media-breakpoint-up(md) {
			width: 280px;
		}
		@include media-breakpoint-up(lg) {

		}
	}
}
