include ../b-card-desc/b-card-desc
mixin sDoesInclude(data)
	.s-does-include&attributes(attributes)
		._l-container.l-container
			each itm in data.list
				+bCardDesc(itm).b-card-desc_info
+sDoesInclude({
	list: [
		{
			pict: {
				img: 'images/s-does-include/img-1.png'
			},
			title: {
					tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'АКВАТЕРМАЛЬНАЯ ЗОНА'
			},
			desc: 'В чарующей атмосфере внимания и заботы в комплексе SPA-комплекс «Аквамарин» можно провести несколько незабываемых часов! Не упустите возможность искупаться в бассейне с видом на сосны сквозь панорамные окна. Сочетание тёплой воды и живописной природы подарит вам непередаваемые ощущения.'
		},
		{
			class: 'b-card-desc_pict-right',
			pict: {
				img: 'images/s-does-include/img-2.png'
			},
			title: {
					tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'ТЕРМАЛЬНАЯ ЗОНА'
			},
			desc: 'Термальная зона комплекса — это разнообразие методик западной и восточной культур. Из 4х саун любой сможет выбрать ту, которая будет наиболее комфортна, ведь в каждой соблюдается свой температурный режим и уровень влажности.'
		},
		{
			pict: {
				img: 'images/s-does-include/img-3.png'
			},
			title: {
					tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'ХАМАМ'
			},
			desc: 'Финская, русская и травяная сауны имеют неоспоримые лечебные свойства, а турецкий хаммам, выполненный в соответствии с мировыми стандартами, является самым большим в Южном Подмосковье.'
		},
		{
			class: 'b-card-desc_pict-right',
			pict: {
				img: 'images/s-does-include/img-4.png'
			},
			title: {
					tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'САУНЫ'
			},
			desc: 'Финская, русская и травяная сауны имеют неоспоримые лечебные свойства, а турецкий хаммам, выполненный в соответствии с мировыми стандартами, является самым большим в Южном Подмосковье.'
		},
		{
			pict: {
				img: 'images/s-does-include/img-5.png'
			},
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'БАССЕЙН'
			},
			desc: 'После посещения саун можно поплавать в бассейне 17*6 метров с температурой 29 градусов, посидеть в джакузи, принять «душ впечатлений», походить по дорожке Кнейпа с горячей и холодной водой и просто отдохнуть в фито-баре за чашкой ароматного травяного чая.'
		},
		{
			class: 'b-card-desc_pict-right',
			pict: {
				img: 'images/s-does-include/img-6.png'
			},
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h3-special',
				txt: 'ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ'
			},
			desc: 'Помимо акватермальной зоны здесь существует большой выбор услуг косметологических и массажных кабинетов. Все процедуры выполняются сертифицированными специалистами, каждый из которых найдет индивидуальный подход даже к самому капризному клиенту.'
		}
	]
})
