.b-gallery {
	margin: 0 -20px;
	padding: 0  20px;
	overflow: hidden;
	@include media-breakpoint-up(md) {
		margin: 0;
		padding: 0;
	}
	&_offset {
		margin-top: 50px;

	}
	&:not(.b-gallery_has-slider) &__swiper-wrapper {
		@include media-breakpoint-down(sm) {
			flex-flow: row wrap;
			row-gap: 20px;
		}
	}
	&__title + &__swiper {
		margin-top: 22px;
		@include media-breakpoint-up(lg) {
			margin-top: 28px;

		}
	}
	&__swiper {
		&-wrapper {
			@include media-breakpoint-up(md) {
				flex-flow: row wrap;
				gap: 16px;
			}
			@include media-breakpoint-up(lg) {
				gap: 20px;
			}
		}
		&-slide {
			@include media-breakpoint-up(md) {
				@include gapOffset(2, 16);
			}
			@include media-breakpoint-up(lg) {
				@include gapOffset(3, 20);
			}
		}
	}
	&__img {
		display: block;
		width: 100%;
		border-radius: 0 36px;
		@include media-breakpoint-up(md) {
			border-radius: 0 40px;
		}
		&_br-0 {
			border-radius: 0;
		}
	}

	&_lg-four &__img {
		border-radius: 0 36px;
		&_br-0 {
			border-radius: 0;
		}
	}

	&_lg-four &__swiper-slide {
		@include media-breakpoint-up(lg) {
			@include gapOffset(4, 20);
		}
	}

	&_single {
		margin-top: 70px;
		@include media-breakpoint-up(md) {
			margin-top: 100px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 120px;
		}
	}
}
