mixin bGallery(data)
	.b-gallery&attributes(attributes)
		if data.title
			+titleSquare(data.title)._title
		._swiper.swiper
			._swiper-wrapper.swiper-wrapper
				each img in data.images
					._swiper-slide.swiper-slide
						+picture(img)._img
