mixin socials(data)
	.socials&attributes(attributes)
		each itm in data.list
			a(
				href=itm.url?itm.url: '#',
				target="_blank"
			).itm
				img(src=itm.img loading="lazy" width="33" height="33")
