mixin sPrices(data)
	.s-prices&attributes(attributes)
		._l-container.l-container
			if data.title
				._head
					+titleSquare(data.title)
					if data.title.btn
						+btn(data.title.btn)._head-btn
			if data.list
				ul._list
					each itm in data.list
						li!=itm
			if data.desc
				._desc!=data.desc.txt
			if block
				block

