.s-prices {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&__head {
		display: flex;
		&-btn {
			align-self: center;
			margin-left: auto;
			width: 250px;
		}
	}
	&__desc {
		margin-top: 15px;
		@include media-breakpoint-up(md) {
			margin-top: 12px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 22px;
		}
	}
	&__list {
		margin-top: 4px;
		@include media-breakpoint-up(md) {
			margin-top: 1px;
			padding-right: 160px;
		}
		@include media-breakpoint-up(lg) {
			padding-right: 0;
			margin-top: 11px;
			display: flex;
			flex-flow: row wrap;
			column-gap: 9px;

		}
		li {
			margin-top: 11px;
			@include media-breakpoint-down(sm) {
				&:first-child {
					padding-right: 42px;
				}

			}
			@include media-breakpoint-up(lg) {
				@include gapOffset(2, 9)

			}
		}
	}
	&__cols {
		margin-top: 26px;
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		@include media-breakpoint-up(md) {
			margin-top: 30px;
		}
		@include media-breakpoint-up(lg) {
			flex-flow: row wrap;
			column-gap: 20px;
			row-gap: 50px;
		}

	}

	&__col {
		@include media-breakpoint-up(lg) {
			@include gapOffset(2, 20)
		}
	}
	table {
		margin: 0;
		width: 100%;
		border-collapse: collapse;
		border: 1px solid #dedede;
		th {
			border: 1px solid #dedede;
		}
		th {
			padding: 14px 30px 14px 15px;
			text-align: left;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.25;
			background: #e9e9e9;
			@include media-breakpoint-up(md) {
				padding: 15px 28px;
				font-size: 20px;
			}
			@include media-breakpoint-up(md) {
				padding: 17px 25px;
				font-size: 22px;

			}
			span {
				font-weight: 400;
				color: #5f5f5f;
			}
		}
		tbody tr:last-child td {
			border-bottom: none;
		}
		tbody tr:nth-child(even) {
			background: #f5f5f5;
		}
		td {
			padding: 11px 14px;
			font-weight: 400;
			font-size: 13px;
			line-height: 1.45;
			@include media-breakpoint-up(md) {
				padding: 11.5px 28px;
				font-size: 16px;
			}
			@include media-breakpoint-up(lg) {
				padding: 15px 25px;
				font-size: 18px;
			}
			&:first-child {
				border-right: none;
			}
			&+td {
				text-align: right;
				border-left: none;
				white-space: nowrap;
			}
		}
	}
	&__cols_no-gap &__col +&__col {
		@include media-breakpoint-up(lg) {
			border-left: none;
		}
	}
	&__cols_no-gap &__col {
		@include media-breakpoint-up(lg) {
			border: 0.1rem solid #dedede;
			border-top: none;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	&__cols_no-gap {
		@include media-breakpoint-up(lg) {
			margin-top: 0px;
			gap: 0;
			table {
				border: none;
			}
		};
	}
	table.s-prices__table-single,
	&__table-single {
		@include media-breakpoint-up(lg) {
			margin-top: 50px;
		}
	}
	&__bg {
		width: 146px;
		height: 116px;
		position: absolute;
		top: 0;
		right: -66px;
		z-index: -1;
		@include media-breakpoint-up(md) {
			right: -59px;
			top: 58px;
			width: 276px;
			height: 218px;

		}
		@include media-breakpoint-up(lg) {
			position: static;
			margin-left: auto;
			display: block;

		}
		&_bg-2 {
			@include media-breakpoint-up(md) {
				top: (-76px - 218px);
				right: -42px;

			}
		}
	}
	&__footnote {
		margin-top: 25px;
		@include media-breakpoint-up(md) {

			margin-top: 31px;
		}
		@include media-breakpoint-up(lg) {
			margin-top: 32px;
			padding: 0 0 0 25px;
			max-width: 582px;

		}

	}
}
