.s-filter {
	position: relative;
	margin-top: 14px;
	min-height: 30px;
	@include media-breakpoint-up(md) {
		margin-top: 18px;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 21px;
	}
	&__btn {
		display: flex;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 15px;
		@include btnReset;
		svg {
			width: 30px;
		}
	}
	&__rows {
		display: flex;
		flex-direction: column;
		gap: 15px;
		padding-right: 30px;
		@include media-breakpoint-up(md) {
			padding-right: 0;
			gap: 18px;
		}
		@include media-breakpoint-up(lg) {
			gap: 10px;
		}
	}
	&__row {
		display: flex;
		flex-flow: row wrap;
		gap: 6px;
		@include media-breakpoint-up(md) {

		}
	}
	&__input {
		position: absolute;
		visibility: hidden;
		opacity: 0;
	}
	&__input:checked + &__lbl {
		background-color: $primary;
		border: $primary;
		color: $light;
	}
	&__lbl {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		border-radius: 90px;
		padding: 7px 20px;
		cursor: pointer;
		transition: border-color $animation-base-time, background-color $animation-base-time, color $animation-base-time;
		border: 1px solid #787878;
		@include media-breakpoint-up(md) {
			font-size: 16px;
			line-height: 20px;
		}
	}
}
