- var filterRadioId = 0;
- var filterId = 0;
mixin sFilter(data)
	- filterId++
	.s-filter&attributes(attributes)
		._l-container.l-container
			button(type="button" data-filter-toggle="#filter")._btn.-hidden-desktop.-hidden-tablet
				span._btn-txt Скрыть фильтр
				include btn.svg
			._rows#filter
				each row in data.rows
					._row
						each radio in row.items
							- filterRadioId++
							input(
								type="radio"
								placeholder="radio"
								id='radio'+filterRadioIdId
								name="s-filter-"+filterId
								checked=radio.checked
							)._input
							label(
								for='radio'+filterRadioIdId
							)._lbl
								=radio.ttl

