.policy-box {
	font-size: 14px;
	line-height: 1.45;
	@include media-breakpoint-up(md) {
		font-size: 16px;

	}
	ul {
		margin: 0;
	}
	&__in {
		overflow: hidden;
		max-height: 846px;
		transition: max-height $animation-base-time;
		position: relative;
		&:after {
			content: '';
			position: absolute;bottom: 0;
			left: 0;
			width: 100%;
			height: 100px;
			background: linear-gradient(180deg, rgba(217, 217, 217, 0)  76.45%, rgba(#FFF, 1) 100%);
		}
		@include media-breakpoint-up(lg) {
			max-height: none;

		}
	}
	&.is-open &__in {
		max-height: 100%;
	}
	&__more {
		font-weight: 600;
		font-size: 16px;
		line-height: 145%;
		margin-top: 25px;

		a {
			color: inherit;
			border: none;
		}
	}
}
