.policy-box(data-max='846')
	.policy-box__in
		br
		| 1. ОБЩИЕ ПОЛОЖЕНИЯ
		br
		| I .1 . Настоящая Политика Общества с ограниченной ответственностью «ОЛИМПИЕЦ» в отношении обработки персональных данных (далее Политика) разработана во исполнение требований п. 2 ч. 1 ст. I 8.1 Федерального закона от 37.07.20316 № 152-ФЗ «О персональных данных» (далее - Закон о персональных данные), в целях обеспечения защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, ли чную и семейную тайну.
		br
		| 1.2. Политика действует в отношении всех персональных данных, которые обрабатывает Общество с ограниченной ответственностью «ОЛИМПИЕЦ» (далее Оператор).
		br
		| 1 .3. Политика распространяется на отношения в области обработки персональных данных, возникшие у Оператора как до, так и после утверждения настоящей Политики.
		br
		| 1.4. Во исполнение требований ч. 2 ст. 18.1 Закона о персональных данных настоящая Политика публикуется в свободном доступе в информационно-телекоммуникационной сети Интернет на сайте Оператора (https://parkhotel-russian.ru).
		br
		| 1 .5. Основные понятия, используемые в Политике: оператор — юридическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных. подлежащих обработке, действия (операции), совершаемые с персональными данными, а именно: Общество с ограниченной ответственностью «ОЛИМПИЕЦ» (ООО «ОЛИМПИЕЦ»), ИНН 7727462427, ОГРН 12177001 42087; персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных); обработка персональных данных - любое действие (операция) или совокупность действий (операций) с персональными данными, совершаемых с использованием средств автоматизации или без их использования. Обработка персональных данных включает в себя в том числе:
		ul
			li сбор;
			li запись;
			li систематизацию;
			li накопление;
			li хранение;
			li уточнение (обповление, изменение);
			li извлечение;
			li использование;
			li передачу (распространение, предоставление, доступ);
			li обезличивание;
			li блокирование;
			li удаление;
			| уничтожение.
		| автоматизированная обработка персональных данных — обработка персональных данных с помощью средств вычислительной техники; распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц; предоставление персональных данных - действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
		br
		| блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необход има для уточнения персональных данных);
		br
		| уничтожение персональных данных - действия, в результате которых становится невозможным восстановить содержание персональных данных в информационной системе персональных данных и (или) в результате которых уничгожаіотся материальные носители персональных данных;
		br
		| информационная система персональных данных — совокупность содерн‹ащихся в базах данных персональных данных и обеспечивающих их обработку информационных технологий и технических средств;
		br
		| трансграничная передача персональных данных - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу;
		br
		| субъект персональных данных — идентифицированное или не идентифицированное физическое лицо, в отношении которого проводится обработка персональных данных; работник — физическое лицо (субъект персональных данных), заключившее с ООО «ОЛИМПИЕЦ» трудовой договор;
		br
		| гость (клиент, потребитель) — физическое лицо - заказчик гостиничных услуг (субъект персональных данных), заключивший с ООО «ОЛИМПИЕЦ» договор на оказание гостиничных услуг в любой форме, либо от имени которого заказчик гостиничных услуг заключил с ООО «ОЛИМПИЕЦ» договор на оказание гостиничных услуг;
		br
		| политика — настоящая Политика в отношении обработки персональных данных.
		br
		| 1.6. Основные права и обязанности Оператора.
		br
		| 1.6.1. . Оператор имеет право:
		br
		| 1) самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами;
		br
		| 2) поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Законом о персональных данных;
		br
		| 3) в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных.
		br
		| 1.6.2. Оператор обязан:
		br
		| 1 ) организовывать обработку персональных данных в соответствии с тpeбoвaнидми Закона о персональных данных и принятыми в соответствии с ним нормативными правовыми актами;
		br
		| 2) отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;
		br
		| 3) сообщать в уполномоченный орган по защите прав субъектов персональных данных (Федеральную службу по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор)) по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса.
		br
		| 1.7. Основные права субъекта персональных данных. Субъект персональных данных имеет право:
		br
		| 1) получать информацию, касающуюся обработки его персональных да иных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форм к, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;
		br
		| 2) требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;
		br
		| 3) выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;
		br
		| 4) обжаловать в Роскомнадзоре или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных.
		br
		| 1 .8 Субъект персональных данных (работник) обязан:
		br
		| 1) передавать Оператору или его представителю комплекс достоиерных документированных персональных данных, перечень которых установлен Трудовым кодексом Российской Федерации;
		br
		| 2) своевременно в разумный срок, не превышающий 5 дней, сообщать Работодателю об изменении своих персональных данных,
		br
		| 1 .9. Контроль за исполнением требований настоящей Политики осупlествляется уполномоченным лицом, ответственным за организацию обработки персональных данных у Оператора.
		br
		| 1 . 10. Ответственность за нарушение требований законодательства Российской Федерации и нормативных актов Оператора в сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.
		br
		| 2. ЦЕЛИ СБОРА ПЕРСОНАЛЬНЫХ ДАННЫХ
		br
		| 2.1. . Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
		br
		| 2.2. Обработке подлежат только персональные данные, которые отвечают целям их обработки.
		br
		| 2.3. Обработка Оператором персональных данных осуществляется в следующих целях:
		br
		| — обеспечение соблюдения Конституции Российской Федерации, федеральных законов и иных нормативных правовых актов Российской Федерации;
		br
		| - осуществление деятельности в соответствии с уставом Оператора;
		br
		| - ведение кадрового делопроизводства;
		br
		| - исполнение прав и обязательств, появившихся в связи заключением трудовых договоров с работниками;
		br
		| - привлечение и отбор кандидатов на работу у Оператора;
		br
		| — организация постановки на индивидуальный (персонифицированный) учет работников в системе обязательного пенсионного страхования;
		br
		| - представления работодателем установленной законодательством отчетности и сведений в отношении физических лиц, в том числе сведений персонифицированного
		br
		| учета в ПФР, сведений подоходного налога в ФНС России, сведений в ФСС РФ, а также в иные уполномоченные организации;
		br
		| - исчисления и уплаты • гедусмотренных законодательством РФ налогов, сборов и взносов на обязательное социальное и пенсионное страхование;
		br
		| - осуществление гражданско-правовых отношений;
		br
		| - ведение бухгалтерского учета;
		br
		| - выполнение функции налогового агента;
		br
		| — оформление банковской карты зарплатного проекта;
		br
		| - начисление заработной платы;
		br
		| - бронирование номеров и помещений для мероприятий в гостиницах Оператора;
		br
		| - прием и размещение гостей;
		br
		| - оказание дополнительных услуг в гостиницах и на территории Оператора;
		br
		| - осуществление регистрационного и миграционного учета гостей;
		br
		| - рассылка рекламных предложений и новостей;
		br
		| - участие гостя в программах лояльности Оператора;
		br
		| — а также в других целях, достижение которых не запрещено федеральным законодательством, международными договорами Российской Федерации.
		br
		| 2.4. Обработка персональных данных работников может осуществляться исключительно в целях обеспечения соблюдения законов и иных нормативных правовых актов.
		br
		| 3. ПРАВОВЫЕ ОСНОВАНИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
		br
		| 3.1. . Правовым основанием обработки персональных данных является совокупность нормативных правовых актов, во исполнение которых и в соответствии с которыми Оператор осуществляет обработку персональных данных, в том числе:
		br
		| - Конституция Российской Федерации;
		br
		| — Гражданский кодекс Российской Федерации;
		br
		| - Трудовой кодекс Российской Федерации;
		br
		| - Налоговый кодекс Российской Федерации;
		br
		| — Федеральный закон от 27.07.2006 №152-ФЗ «О персональных данных»;
		br
		| - Федеральный закон от 24.11.1996 №132-ФЗ «Об основах туристской деятельности в Российской Федерации»;
		br
		| - Федеральный закон от 06.12.2011 № 402-ФЗ «О бухгалтерском учете»;
		br
		| — Федеральный закон от 15.12.2001 № 167-ФЗ «Об обязательном пенсионном страховании в Российской Федерации»;
		br
		| - Федеральный закон от 01 .04.1996 № 27-ФЗ «Об индивидуальном (персонифицированном) учете в системе обязательного пенсионного страхования»;
		br
		| - Федеральный закон от 16.07.1999 № 1 65-ФЗ «Об основах обязательного социального страхования»;
		br
		| - Федеральный закон от 29.11.2010 N 326-ФЗ «Об обязательном медицинском страховании в Российской Федерации»;
		br
		| - Федеральный закон от 18.07.2006 № 109—ФЗ «О миграционном учете иностранных граждан и лиц без гражданства в Российской Федерации»;
		br
		| - Закон Российской Федерации от 07.02.1992 № 2300-1 «О защите прав потребителей»;
		br
		| - Постановление Правительства Российской Федерации от 15.01.2007 № 9 «О порядке осуществления миграционного учета иностранных граждан и лиц без гражданства в Российской Федерации»;
		br
		| — Постановление Правительства РФ от 18.11.2020 № 1853 «Об утверждении Правил предоставления гостиничных услуг в Российской Федерации»;
		br
		| - иные нормативные правовые акты, регулирующие отношения, связанные с деятельностью Оператора.
		br
		| 3.2. Правовым основанием обработки персональных данных также являются:
		br
		| - устав ООО «ОЛИМПИЕЦ»;
		br
		| - договоры, заключаемые между Оператором и субъектами персональных данных (в т.u. трудовые, гражданско-правовые);
		br
		| - согласие субъектов персональных данных на обработку их персональных данных.
		br
		| 4. ОБЪЕМ И КАТЕГОРИИ ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ, КАТЕГОРИИ СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ
		br
		| 4.1. Содержание и объем обрабатываемых персональных данных должны соответствовать заявленным целям обработки, предусмотренным в разд. 2 настоящей Политики. Обрабатываемые персональные данные не должны быть избыточными по отношению к заявленным целям их обработки.
		br
		| 4.2. Оператор может обрабатывать персональные данные следующих категорий субъектов персональных данных:
		br
		| 4.2.1. Работники; близкие родственники работников; физические лица, работающие по договору гражданско-правового характера (договор подряда (оказания услуг)):
		br
		| - фамилия, имя, отчество;
		br
		| - год рождения;
		br
		| - месяц рождения;
		br
		| - дата рождения;
		br
		| - место рождения;
		br
		| - пол;
		br
		| - гражданство;
		br
		| - адрес регистрации;
		br
		| - адрес проживания;
		br
		| - семейное положение;
		br
		| - социальное положение;
		br
		| - образование;
		br
		| - профессия;
		br
		| - сведения об опыте работы;
		br
		| - сведения о доходах (по форме 182н);
		br
		| - состояние здоровья;
		br
		| - вид и реквизиты документа, удостоверяющего личность;
		br
		| - Инн,
		br
		| - СНИЛС;
		br
		| - номера контактных телефонов;
		br
		| - адреса электронной почты;
		br
		| - место работы и занимаемая должность;
		br
		| - сведения о банковских счетах;
		br
		| - сведения об инвалидности как самого работника, так и его детей;
		br
		| - сведения о данных, содержащихся в свидетельстве о заключении/расторжении брака, (дата заключения/расторжения брака, дата составления и номер записи aкra о заключении/расторжении брака, дата выдачи свидетельства о заключении/расторжении брака; место государственной регистрации заключения брака);
		br
		| - сведения о данных, содержащихся в свидетельстве о перемене имени (прежнее имя/отчество/фамилия, новое имя/отчество/фамилия, место государственной регистрации);
		br
		| — сведения о данных, содержащихся в свидетельстве о рождении/смерти как самого сотрудника, так и его родственников, супруга/супруги и детей (дата рождения/смерти, пол, место рождения/смерти, место государственной регистрации, сведения об отце и матери);
		br
		| - справка ЗАГС о рождении ребенка; справка о постановке матери на учет в ранние сроки беременности;
		br
		| - сведения о месте работы супругwсупруги; сведения о месте обучения детей;
		br
		| - сведения о данных, содержащихся в военном билете;
		br
		| — сведения о прежних местах работы;
		br
		| - сведения о наличии/отсутствии судимости;
		br
		| — для иностранных граждан дополнительно: данные патента, миграционной карты. полиса ДМС, вид и реквизиты документа, подтверждающего право на пребывание (проживание) в Российской Федерации;
		br
		| — фотографическое изображение.
		br
		| Перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление, доступ), блокирование, удаление, уничтожение.
		br
		| 4.2.2. Кандидаты на вакантные должности Оператора:
		br
		| - фамилия, имя, отчество;
		br
		| — год рождения;
		br
		| — месяц рождения;
		br
		| - дата рождения;
		br
		| - место рождения;
		br
		| - aдрec;
		br
		| - гражданство;
		br
		| - семейное положение;
		br
		| - сведения о составе семьи, родственниках, детях, супруге;
		br
		| - сведения о состоянии здоровья;
		br
		| — образование;
		br
		| - профессия;
		br
		| — номера контактных телефонов;
		br
		| - адреса электронной почты;
		br
		| — место работы и занимаемая должность;
		br
		| — сведения об интересах;
		br
		| — вид и реквизиты документа, удостоверяющего личность;
		br
		| - наличие военного билета;
		br
		| - наличие санитарной книжки;
		br
		| - наличие/отсутствие судимости;
		br
		| - наличие административных правонарушений;
		br
		| - сведения о прежних местах работы;
		br
		| - сведения об идентификационном номере налогоплательщика.
		br
		| Перечень действий с персональными данными: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; блокирование; удаление; уничтожение.
		br
		| 4.2.3. Гости парка-отеля «Русский)):
		br
		| - фамилия, имя, отчество;
		br
		| - год рождения;
		br
		| - месяц рождения;
		br
		| — дата рождения;
		br
		| - место рождения;
		br
		| - пол;
		br
		| - адрес;
		br
		| — гражданство;
		br
		| - вид и реквизиты документа, удостоверяющего личность;
		br
		| — номер телеі]зона;
		br
		| — адрес электронной почты;
		br
		| - вид и реквизиты документа, подтверждающего право на пребывание (проживание) в Российской Федерации;
		br
		| - реквизиты миграционной карты.
		br
		| Перечень действий с персональными данными: сбор; запись; систематизация; накопление; хранение; уточнение (обновление, изменение); извлечение; использование; передача (предоставление, доступ); блокирование; удаление; уничтожение.
		br
		| 4.2.4. Физические лица, обратившиеся посредством сайта парка-отеля «Русский» (в т.ч. онлайн-чат):
		br
		| - фамилия, имя, отчество;
		br
		| - адрес электронной почты;
		br
		| - контактный номер теле‹]зона.
		br
		| Перечень действий с персональными данными: сбор; запись; систематизация; накопление; хранение; использование; блокирование; удаление; уничтожение.
		br
		| 4.3. Обработка биометрических персональных данных (сведений, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность) осуществляется Оператором в соответствии с ч. I ст. 11 Закона о персональных данных.
		br
		| 4.4. Оператор может обрабатывать специальные категории персональных данных работников (сведения о состоянии здоровья, относящиеся к вопросу о возможности выполнения ими трудовых функций) на основании п. 2.3 ч. 2 ст. 10 Закона о персональных данных.
		br
		| 5. ПОРЯДОК И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
		br
		| 5.1. . Обработка персональных данных осуществляется Оператором в соответствии с требованиями законодательства Российской Федерации.
		br
		| 5.2. Обработка персональных данных осуществляется с согласия субъектов персональных данных на обработку их персональных данных, а также без такового в случаях, предусмотренных законодательством Российской Федерации.
		br
		| 5.3. Оператор осуществляет как автоматизированную, так и неавтоматизированную обработку персональных данных.
		br
		| 5.4. К обработке персональных данных допускаются работники Оператора, в должностные обязанности которых входит обработка персональных данных.
		br
		| 5.5. Обработка персональных данных осуществляется путем:
		br
		| - получения персональных данных в устной и письменной форме непосредственно от субъектов персональных данных;
		br
		| - получения персональных данных из общедоступных источников;
		br
		| - внесения персональных данных в журналы, реестры и информационные системы Оператора;
		br
		| - использования иных способов обработки персональных данных.
		br
		| 5.6. Оператор принимает необходимые правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, распространения и других несанкционированных действий, в том числе:
		br
		| - назначен ответственный за организацию обработки персональных данных и обеспечение безопасности персональных данных в информационной системе;
		br
		| - осуществляется внутренний контроль соответствия обработки персональных данных федеральному законодательству и нормативным актам Оператора;
		br
		| - осуществляется обучение работников Оператора положениям законодательства Российской Федерации о персональных данных и нормативных актов Оператора по вопросам обработки персональных данных с ознакомлением под роспись с такими нормативными актами;
		br
		| - реализуется антивирусная защита информации; фильтрация и мониторинг доступа к сети Интернет; установка обновлений программного обеспечения и контроль изменений: протоколирование событий, резервирование технических средств и данных; межсетевое экранирование; обнаружение и предотвращение вторжений; сегментирование сети и преобразование сетевых адресов; шифрование каналов связи; система контроля и управления физическим доступом;
		br
		| - в договоры и соглашения с контрагентами включаются положения о персональных данных, конфиденциальности и защите информации;
		br
		| — обеспечена защита помещений с базами персональных данных (серверные помещения), средства обеспечения безопасности: металлические двери с ключевых и магнитным доступом, сейф, шкаф для хранения носителей информации с персональными данными; видеонаблюдение;
		br
		| — организована доменная структура с парольным доступом к сетевым ресурсам;
		br
		| - организован парольный доступ в программное обеспечение;
		br
		| - обеспечена защита локальной сети от доступа извне с помощью прокси-сервера.
		br
		| - иные меры, предусмотренные законодательством Российской Федерации в области персональных данных.
		br
		| 5.7. Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором.
		br
		| 5.8. При сборе персональных данных, в том числе посредством сети Интернет, Оператор обеспечивает запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение персональных данных граждан Российской Федерации с использованием баз данных, находящихся на территории Российской Федерации.
		br
		| 5.9. Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора (поручение оператора), оставаясь при этом ответственным перед субъектом персональных данных. В поручение оператора определяется перечень действий (операций) с персональными данными, которые будут совершаться лицом, осуществляющим обработку персональных данных, цели обработки, устанавливается обязанность такого лица соблюдать конфиденциальность персональных данных и обеспечивать безопасность персональных данных при их обработке, а также указываются требования к защите обрабатываемых персональных данных в соответствии со ст. 19 Закона о персональных данных.
		br
		| 5.10. Оператор передаёт третьим лицам персональные данные субъектов персональных данных только с их согласия и в случаях, когда предоставление информации является обязательным в соответствии с законодательством Российской Федерации.
		br
		| 5.11. Не допускается раскрытие третьим лицам и распространение персональных данных без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом. Согласие на обработку персональных данных, разрешенных субъектов персональных данных для распространения, оформляется отдельно от иных согласий субъекта персональных данных на обработку его персональных данные.
		br
		| 5.12. Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия или отзыв согласия субъекта персональных данных на обработку его персональных данных, а также выявление неправомерной обработки персональных данных.
		br
		| 5.13. В случае установления факта неправомерной или случайной передачи (предоставления, распространения, доступа) персональных данных, повлекшей нарушение прав субъектов персональных данных, Оператор с момента выявления такого инцидента Оператором, уполномоченным органом по защите прав субъектов персональных данных или иным заинтересованным лицом, инициирует внутреннее расследование выявленного инцидента, направленного на устранение выявленных нарушений, а также уведомляет уполномоченный орган по защите прав субъектов персональных данных:
		br
		| 1) в течение двадцати четырех часов о произошедшем инциденте, о предполагаемых причинах, повлекших нарушение прав субъектов персональных данных, и предполагаемом вреде, нанесенном правам субъектов персональных данных, принятых мерах по устранению последствий соответствующего инцидента, а также предоставить сведения о лице, уполномоченном оператором на взаимодействие с уполномоченным органом по защите прав субъектов персональных данных, по вопросам, связанным с выявленным инцидентом;
		br
		| 2) в течение семидесяти двух часов о результатах внутреннего расследования вьявленного инцидента, а также предоставить сведения о лицах, действия которых стали причиной выявленного инцидента (при наличии).
		br
		| 5.14. В случае выявления неправомерной обработки персональных данных, осуществляемой Оператором, Оператор в срок, не превышающий трех рабочих дней с даты этого выявления, обязан прекратить неправомерную обработку персональных данных.
		br
		| 5.15. Оператор определяет круг должностных лиц, имеющих доступ к персональным данным работников ООО «ОЛИМПИЕЦ».
		br
		| 6. АКТУАЛИЗАЦИЯ, ИСПРАВЛЕНИЕ, УДАЛЕНИЕ И УНИЧТОЖЕНИЕ ПЕРСОНАЛЬНЫХ ДАННЫХ, ОТВЕТЫ НА ЗАПРОСЫ СУБЪЕКТОВ НА ДОСТУП К ПЕРСОНАЛЬНЫМ ДАННЫМ
		br
		| 6.1. Подтверждение факта обработки персональных данных Оператором, правовые основания и цели обработки персональных данных, а также иные сведения, указанные в ч. 7 ст. 14 Закона о персональных данных, предоставляются Оператором субъекту персональных данных или его представителю при обращении либо при получении запроса субъекта персональных данных или его представителя.
		br
		| В предоставляемые сведения не включаются персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных.
		br
		| Запрос должен содержать:
		br
		| - номер основного документа, удостоверяющего личность субъекта персональных данных или его представителя, сведения о дате выдачи указанного документа и выдавшем его органе;
		br
		| - сведения, подтверждающие участие субъекта персональных данных в отношениях
		br
		| с Оператором (номер договора, дата заключения договора, условное словесное обозначение и (или) иные сведения), либо сведения, иным образом подтверждающие факт обработки персональных данных Оператором;
		br
		| - подпись субъекта персональных данных или его представителя.
		br
		| Запрос может быть направлен в виде электронного документа на электронную почту sales@phrus.ru или почтой России по адресу: 142200, Московская обл., г.о. Серпухов, д. Дракино, парк-отель «Русский».
		br
		| Если запрос отправляется в виде электронного документа, он должен быть подписан электронной подписью в соответствии с законодательством Российской Федерации.
		br
		| Если в обращении (запросе) субъекта персональных данных не отражены в соответствии с требованиями Закона о персональных данных все необходимые сведения или субъект не обладает правами доступа к запрашиваемой информации, то ему направляется мотивированный отказ.
		br
		| Право субъекта персональных данных на доступ к его персональным данным мон‹ет быть ограничено в соответствии с ч. 8 ст. 14 Закона о персональных данных, в том числе если доступ субъекта персональных данных к его персональным данным нарушает права и законные интересы третьих лиц.
		br
		| 6.2. В случае выявления неточных персональных данных при обращении субъекта персональных данных или его представителя либо по их запросу или по запросу Роскомнадзора Оператор осуществляет блокирование персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения указанного запроса на период проверки, если блокирование персональных данных не нарушает права и законные интересы субъекта персональных данных или третьих лиц.
		br
		| В случае подтверждения факта неточности персональных данных Оператор на основании сведений, представленных субъектом персональных данных или его представителем либо Роскомнадзором, или иных необходимых документов уточняет персональные данные в течение семи рабочих дней со дня представления таких сведений и снимает блокирование персональных данных.
		br
		| 6.3. В случае выявления неправомерной обработки персональных данных при обращении (запросе) субъекта персональных данных или его представителя либо Роскомнадзора Оператор осуществляет блокирование неправомерно обрабатываемых персональных данных, относящихся к этому субъекту персональных данных, с момента такого обращения или получения запроса.
		br
		| 6.4. При достижении целей обработки персональных данных, а также в случае отзыва субъектом персональных данных согласия на их обработку, персональные данные подлежат уничтожению, если:
		br
		| - иное не предусмотрено договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных;
		br
		| - иное не предусмотрено другим соглашением между Оператором и субъектом персональных данных.
		br
		| 7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
		br
		| 7.1. . Настоящая Политика является локальным нормативным актом ООО «ОЛИМПИЕЦ».
		br
		| 7.2. Срок действия настоящей Политики — бессрочно.
		br
		| 7.3. Политика подлежит пересмотру, в случае изменения законодательства Российской Федерации по обработке и защите персональных данных, а также при изменении условий и порядка работы по обработке и защиты персональных данных.
		br
		| 7.4. Во всем остальном, что не предусмотрено настоящей Политикой при обработке и защите персональных данных необходимо руководствоваться законодательством Российской Федерации.

	._more.-hidden-table.-hidden-desktop
		a(href="#") Показать еще
