.s-restaurants {
	&_offset {
		margin-top: 34px;
		@include media-breakpoint-up(lg) {
			margin-top: 37px;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		@include media-breakpoint-up(lg) {
			flex-flow: row wrap;
			column-gap: 35px;
		}
	}
	&__itm {
		@include media-breakpoint-up(lg) {
			display: flex;
		    @include gapOffset(3, 35)
		}
	}
	&__title + &__list {
		margin-top: 21px;
		@include media-breakpoint-up(lg) {
			margin-top: 28px;
		}
	}
}
