include ../card-restaurant/card-restaurant

mixin sRestaurants(data)
	.s-restaurants&attributes(attributes)
		if data.title
			+titleSquare(data.title)._title
		._list
			each itm in data.list
				._itm
					+cardRestaurant(itm)


