include ../card/card
mixin bCarouselCards(data)
	.b-carousel-cards&attributes(attributes)
		._swiper.swiper
			._swiper-wrapper.swiper-wrapper
				each itm in data.slides
					._swiper-slide.swiper-slide
						+card(itm)


