extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = '404'
	- var pageClass = ''
	- var pageUrl = '404.html'
block content
	include components/s-404/s-404

	include components/s-callback/s-callback
