extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Афиша'
	- var pageClass = ''
	- var pageUrl = 'afisha.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-16.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'В нашем отеле Вы сможете не только отдохнуть, но и культурно провести время'
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-filter/s-filter
	+sFilter({
		rows: [
			{
				items: [
					{
						checked: true,
						ttl: 'Все процедуры'
					},
					{ttl: 'Парк-отель'},
					{ttl: 'СПА-комплекс'},
					{ttl: 'Рестораны'},
					{ttl: 'Остров'}
				]
			}
		]
	})
	.l-container
		include components/s-restaurants/s-restaurants
		+sRestaurants({
			list: [
				{
					img: 'images/card-restaurant/img-7.png',

					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},

				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!.',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/card-restaurant/img-7.png',

					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},

				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!.',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
			]
		}).s-restaurants_offset {
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single
	include components/s-callback/s-callback
