extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Акции'
	- var pageClass = ''
	- var pageUrl = 'akcii.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-13.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'В парк-отеля «Русский» возможно воспользоваться специальными предложениями:'
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'именниникам'},
				{ttl: 'пенсионерам'},
				{ttl: 'участникам СВО'},
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				ttl: title
			}
		]
	})
	include components/s-filter/s-filter
	+sFilter({
		rows: [
			{
				items: [
					{
						checked: true,
						ttl: 'Все процедуры'
					},
					{ttl: 'Бизнесу'},
					{ttl: 'Бизнесу'},
					{ttl: 'Отель'},
					{ttl: 'Рестораны'}
				]
			}
		]
	})
	include components/s-stocks/s-stocks
	+sStocks({
		more: {
			txt: 'Показать еще'
		},
		list: [
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Банкетное предложение'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'SPA-путёвки'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Cчастливые часы в СПА-комплексе'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Раннее бронирование'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Длительное проживание'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Скидки в честь дня рождения'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Годовщина свадьбы'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Номер в подарок молодоженам'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Стратегия идеального тела'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Суперцена на абонементы ICOONE LASER'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Мгновенное преображение'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Райский остров'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Цветок индии'
			},
		]
	}).s-stocks_offset

	.l-container
		include components/b-card-desc/b-card-desc
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback
