extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Банкеты'
	- var pageClass = ''
	- var pageUrl = 'spa-detail.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-8.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'Банкет в ресторанах парк-отеля «Русский» - лучшее решение для любой компании. Вы можете выбрать подходящий формат интерьера на Ваш вкус!'
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: 'Рестораны',
				url: 'restorany.html'
			},
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/b-gallery/b-gallery
		include components/b-page-desc/b-page-desc
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Банкет в ресторанах парк-отеля «Русский» - лучшее решение для любой компании. Вы можете выбрать подходящий формат интерьера на Ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом. Вы точно останетесь довольны!

				.b-page-desc__col
					|Мы рады вам предложить:
					ul
						li 3 комфортных зала на разное количество персон;
						li авторскую и европейскую кухню от нашего шеф-повара;
						li шоу-программа под ключ;
						li Wi-fi.
			.b-page-desc__cols
				.b-page-desc__col
					| Подробную информацию (банкетное меню, план рассадки и т.д.) – можно узнать у корпоративного менеджера по телефону
					=' '
					strong
						a(href="tel:+74994604590")
							+icon('phone')
							|+7 499 460-45-90
					| доб. 063
					|.  Или оставьте заявку – мы с Вами свяжемся.
			+btn({
				ttl: 'Записаться'
			}).b-page-desc__btn

		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-31.png'
				},
				{
					img: 'images/b-gallery/img-32.png'
				},
				{
					img: 'images/b-gallery/img-33.png'
				},
				{
					img: 'images/b-gallery/img-34.png'
				},
				{
					img: 'images/b-gallery/img-35.png'
				},
				{
					img: 'images/b-gallery/img-36.png'
				},
				{
					img: 'images/b-gallery/img-37.png'
				},
				{
					img: 'images/b-gallery/img-38.png'
				}
			]
		}).b-gallery_lg-four.b-gallery_offset.b-gallery_has-slider

		include components/s-restaurants/s-restaurants
		+sRestaurants({
			title: {
				ttl: 'Выбор локации проведения мероприятия',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			list: [
				{
					img: 'images/b-card-room/img-4.png',
					ttl: '«ПАВЛИН»',
					type: '— ресторан авторской и русской кухни',
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 23:00'},
						{txt: 'Пт-Сб<br>11:00 — 02:00'}
					],
					info: 'Заказ столов: <strong><a href="tel:84994559862">8499455-98-62</a> доб. 900</strong>',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-5.png',
					ttl: '«ТРАПЕЗНАЯ»',
					type: '— работает по системе «шведский стол»',
					desc: 'Ресторан работает только для проживающих. Система «шведский стол». Уютный ресторан с минималистичным дизайном.',
					schedule: [
						{txt: 'Завтрак<br>8:00 — 11:00'},
						{txt: 'Обед <br>13:00 — 15:00'},
						{txt: 'Ужин<br>18:00 — 20:00'}
					],
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-6.png',
					ttl: '«ОСТРОВ РУССКИЙ»',
					type: '— только для проведения банкетов',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 22:00'},
						{txt: 'Пт-Сб<br>11:00 — 23:00'}
					],
					info: '<strong>Ресторан закрыт на реконструкцию</strong>',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
			]
		}).s-restaurants_s-offset
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right

	include components/s-callback/s-callback
