extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Бизнесу'
	- var pageClass = ''
	- var pageUrl = 'biznesu.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-12.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'На территории парк-отеля «Русский» возможно проведение различных  корпоративных мероприятий:'
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'храм «Николы Белого»'},
				{ttl: 'Историко-художественного музей'},
				{ttl: 'Владычный и Высоцкий монастыри'},
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-procedures/s-procedures
	+sProcedures({
		items: [
			{
				class: 'card-room_pict-right card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-28.png',
					}
				],
				ttl: 'Конференции',
				classTtl: 'card-room__ttl_special',
				desc: 'К вашим услугам конференц-залы, залы для проведения переговоров, техническая поддержка  мероприятий различного формата. Мы делаем все для того, чтобы вы не только эффективно работали, но и сохранили привычный для себя комфорт.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-29.png',
					}
				],
				ttl: 'ТИМБИЛДИНГИ',
				classTtl: 'card-room__ttl_special',
				desc: 'Оригинальный тимбилдинг или детский праздник — команда анимации «Идея» предложит вам яркие сценарии, которые оставят после себя только самые яркие и приятные воспоминания.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},

			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-30.png',
					}
				],
				ttl: 'Корпоративы',
				classTtl: 'card-room__ttl_special',
				desc: 'Вы можете выбрать подходящий формат интерьера на Ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом. Вы точно останетесь довольны!',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-31.png',
					}
				],
				ttl: 'Проведение банкетов',
				classTtl: 'card-room__ttl_special',
				desc: 'Вы можете выбрать подходящий формат интерьера на Ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом. Вы точно останетесь довольны!',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Оставить заявку'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-32.png',
					}
				],
				ttl: 'Хороший заголовок',
				classTtl: 'card-room__ttl_special',
				desc: 'Вы можете выбрать подходящий формат интерьера на Ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом. Вы точно останетесь довольны!',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback
