extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'КАК ДО НАС ДОБРАТЬСЯ '
	- var pageClass = ''
	- var pageUrl = 'contacts.html'
block content
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-map/s-map
	+sMap({
		title: {
			ttl: 'Контакты',
			tagName: 'h1',
			classTtl: 'title-square__ttl_h2'
		}
	})

	include components/s-callback/s-callback
