extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Экскурсия по серпухову'
	- var pageClass = ''
	- var pageUrl = 'ekskursiya-po-serpuhovu.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-10.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'Вы посетите:'
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'храм «Николы Белого»'},
				{ttl: 'Историко-художественного музей'},
				{ttl: 'Владычный и Высоцкий монастыри'},
			]
		},
		btns: [
			{
				class: 's-page-banner__btn_w-250 s-page-banner__btn_hidden-phone',
				ttl: 'Записаться'
			}
		]
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				url: 'ekskursii.html',
				ttl: 'Экскурсии'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Серпухов - один из древнейших русских городов, пограничный узел государства Московского. Здесь Вы познакомитесь с великолепным архитектурным наследием, а также посетите кафедральный собор города – храм «Николы Белого», гордостью которого является древняя икона «Подможения роженицам».
					p Ярким впечатлением станет для Вас посещение Историко-художественного музея, его картинной галереи. Искусствоведы называют Серпуховский историко-художественный музей «Малой Третьяковкой»: богатейшая в Подмосковье коллекция художественных произведений русского и западноевропейского искусства.

				.b-page-desc__col
					p Филиал музея — Покровская старообрядческая церковь представляет собой уникальный старообрядческий богослужебный комплекс. До нашего времени в городе сохранились церкви и монастыри, воздвигнутые в период с ХVI-ХVIII вв. Вы посетите Владычный и Высоцкий монастыри, прикоснетесь к одной из главных сокровищ монастырей – единственной в России чудотворной иконе «Неупиваемая чаша».
					p
						|Заказ программы по тел.
						=' '
						a(href="tel:+79852401625") +7 985 240-16-25
						=' '
						|или по кнопке «Записаться»
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-42.png'
				},
				{
					img: 'images/b-gallery/img-43.png'
				},
				{
					img: 'images/b-gallery/img-44.png'
				},
				{ img: 'images/b-gallery/img-45.png'},
				{ img: 'images/b-gallery/img-46.png'},
				{ img: 'images/b-gallery/img-47.png'},
				{ img: 'images/b-gallery/img-48.png'},
				{ img: 'images/b-gallery/img-49.png'}
			]
		}).b-gallery_offset.b-gallery_lg-four.b-gallery_has-slider

	include components/s-prices/s-prices
	+sPrices({
		title: {
			ttl: 'Стоимость посещения',
			tagName: 'h2',
			classTtl: 'title-square__ttl_h2',
			btn: {
				class: 'btn_hidden-phone btn_hidden-tablet',
				ttl: 'Записаться'
			}
		},

	}).s-prices_s-offset
		img(src="images/s-prices/bg.svg" loading="lazy").s-prices__bg.-bg-2.-hidden-desktop
		.s-prices__cols
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Индивидуальная
					tbody
						tr
							td от 1 до 3х лиц
							td 700 р
						tr
							td от 4 до 10х лиц
							td 1 600 р
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Групповая
					tbody
						tr
							td Будние дни (Вт.Чт)
							td 700 р
						tr
							td Выходные и праздничные дни
							td 1 600 р

	.l-container
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback
