extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Экскурсии'
	- var pageClass = ''
	- var pageUrl = 'ekskursii.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-11.png'
		},
		title: {
			ttl: title
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/b-carousel-cards/b-carousel-cards
		+bCarouselCards({
			slides: [
				{
					img: 'images/card/img-19.png',
					ttl: 'Экскурсия по Серпухову'
				},
				{
					img: 'images/card/img-20.png',
					ttl: 'Путешествие в Тарусу'
				},
				{
					img: 'images/card/img-21.png',
					ttl: 'Путешествие в Поленово'
				},
				{
					img: 'images/card/img-22.png',
					ttl: 'Путешествие в заповедник'
				},
				{
					img: 'images/card/img-23.png',
					ttl: 'Дом-музей А.П.Чехова '
				},
				{
					img: 'images/card/img-24.png',
					ttl: 'Полёты во сне наяву'
				}
			]
		})._cards

		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-procedures/s-procedures
	+sProcedures({
		items: [
			{
				class: 'card-room_pict-right card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-22.png',
					}
				],
				ttl: 'Экскурсия по Серпухову  ',
				classTtl: 'card-room__ttl_special',
				desc: 'Здесь вы познакомитесь с великолепным архитектурным наследием, а также посетите кафедральный собор города — храм «Николы Белого», гордостью которого является древняя икона «Подможения роженицам».',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-23.png',
					}
				],
				ttl: 'Путешествие в Тарусу  ',
				classTtl: 'card-room__ttl_special',
				desc: 'Город Таруса расположен в одном из живописнейших уголков России, на берегу Оки. Это архитектурный и природный заповедник, город поэтов, писателей и художников. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				type: 'card-desc',
				pict: {
					img: 'images/b-card-desc/img-3.png'
				},
				bg: 'images/b-card-desc/bg.svg',
				title: {
					tagName: 'div',
					class: 'b-card-desc__title_h5',
					txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
				},
				desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
				btn: {
					ttl: 'Подробнее'
				}
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-24.png',
					}
				],
				ttl: 'Путешествие в Поленово  ',
				classTtl: 'card-room__ttl_special',
				desc: 'Поленово — одно из красивейших мест на Оке, место, где жил и работал известный русский художник-пейзажист В.Д. Поленов. Его удивительный дом и усадьба надолго останется в вашей памяти. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-25.png',
					}
				],
				ttl: 'Путешествие в заповедник  ',
				classTtl: 'card-room__ttl_special',
				desc: 'Приокско-Террасный заповедник — это незабываемая встреча с природой нашего края. Здесь вы увидите самого крупного млекопитающего Европы-зубра, бизона и узнаете, как называется самая маленькая птичка Подмосковья!',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-26.png',
					}
				],
				ttl: 'Дом-музей А.П.Чехова   ',
				classTtl: 'card-room__ttl_special',
				desc: 'Семья писателя прожила в усадьбе с 1892-1899 г.  Вам представится отличная возможность побывать в местах, где писатель жил и находил вдохновение.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-27.png',
					}
				],
				ttl: 'Полёты во сне наяву  ',
				classTtl: 'card-room__ttl_special',
				desc: 'Эта программа рассчитана для детей любого возраста! Атмосфера действующего аэродрома и непосредственная близость самолетов, исполняющих фигуры высшего пилотажа.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			}
		]
	})
	include components/s-callback/s-callback
