extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Название мероприятия'
	- var pageClass = ''
	- var pageUrl = 'event.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-16.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'В нашем отеле Вы сможете не только отдохнуть, но и культурно провести время'
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'afisha.html',
				ttl: 'Афиша'
			},
			{
				ttl: title
			}
		]
	})

	.l-container
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-31.png'
				},
				{
					img: 'images/b-gallery/img-32.png'
				},
				{
					img: 'images/b-gallery/img-33.png'
				}
			]
		}).b-gallery_has-slider
		include components/b-page-desc/b-page-desc
		+bPageDesc().b-page-desc_offset
			.b-page-desc__cols
				.b-page-desc__col
					.chars.b-page-desc__chars
						.chars__char
							img.chars__icon(src='images/datepicker.svg' loading='lazy')
							| 07.07.2024
						.chars__char
							img.chars__icon(src='images/clock.svg' loading='lazy')
							| 19:00
						.chars__char
							img.chars__icon(src='images/many.svg' loading='lazy')
							| бесплатно

					p В программе были выступления талантливых артистов, интересные мастер-классы и яркая ярмарка ремёсел. Все участники провели время с пользой и получили массу положительных эмоций. В программе были выступления талантливых артистов, интересные мастер-классы и яркая ярмарка ремёсел.

				.b-page-desc__col
					| В программе были выступления талантливых артистов, интересные мастер-классы и яркая ярмарка ремёсел. Все участники провели время с пользой и получили массу положительных эмоций. В программе были выступления талантливых артистов, интересные мастер-классы и яркая ярмарка ремёсел. Все участники провели время с пользой и получили массу положительных эмоций.
			+btn({
				ttl: 'Регистрация'
			}).b-page-desc__btn
		include components/s-restaurants/s-restaurants
		+sRestaurants({
			title: {
				ttl: 'Другие мероприятия',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			list: [
				{
					img: 'images/card-restaurant/img-7.png',

					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},

				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!.',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				}
			]
		}).s-restaurants_s-offset
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single
	include components/s-callback/s-callback
