extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = '«Годовщина свадьбы»'
	- var pageClass = ''
	- var pageUrl = 'godovshchina-svadby.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-10.png'
		},
		title: {
			ttl: title
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'akcii.html',
				ttl: 'Акции'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Скидка распространяется (за 3 дня до и 5 дней после даты росписи) на следующие услуги:
					ul
						li 15% скидка на номер любой категории
						li 10% скидка на услуги СПА (3 дня до и 5 дней после даты росписи)
						li комплимент от Шеф-повара

				.b-page-desc__col
					p Скидка распространяется (за 3 дня до и 5 дней после даты росписи) на следующие услуги:
					ul
						li не суммируется с другими акциями
						li только для прямого бронирования (по телефону, через сайт)
						li скидка действует при предъявлении свидетельства о браке или паспорта с соответствующим штампом
						li не распространяется на агентства
			+btn({
				ttl: 'Оставить заявку'
			}).b-page-desc__btn
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},
				{img: 'images/card-hor/img-4.png'},

			]
		}).b-gallery_offset.b-gallery_lg-four.b-gallery_has-slider
	include components/s-stocks/s-stocks
	+sStocks({
		title: {
			ttl: 'Другие акции',
			tagName: 'div',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Банкетное предложение'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'SPA-путёвки'
			},
			{
				img: 'images/card-hor/img-4.png',
				ttl: 'Cчастливые часы в СПА-комплексе'
			}
		]
	}).s-stocks_s-offset

	.l-container

		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback
