extends base/pug/base

append variables
	- var title = 'Парк-отель'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	include components/s-promo/s-promo
	include components/s-about/s-about
	include components/b-card-desc/b-card-desc
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-1.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				txt: 'масленица'
			},
			date: '16-17 марта',
			desc: 'Несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных',
			btn: {
				ttl: 'Подробнее'
			}

		}).b-card-desc_single
	include components/s-preview/s-preview
	+sPreview({
		title: {
			ttl: 'SPA'
		},
		slides: [
			{
				img: 'images/card-hor/img-1.png',
				ttl: 'Акватермальная зона'
			},
			{
				img: 'images/card-hor/img-2.png',
				ttl: 'SPA-процедуры'
			},
			{
				img: 'images/card-hor/img-3.png',
				ttl: 'Косметология'
			},
			{
				img: 'images/card-hor/img-1.png',
				ttl: 'Акватермальная зона'
			},
			{
				img: 'images/card-hor/img-2.png',
				ttl: 'SPA-процедуры'
			},
			{
				img: 'images/card-hor/img-3.png',
				ttl: 'Косметология'
			}
		]
	}).s-preview_s-offset

	include components/s-preview-vert/s-preview-vert
	+sPreviewVert({
		title: {
			ttl: 'Рестораны',
			tagName: 'h3',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{
				ttl: 'Ресторан Павлин',
				img: 'images/card-vert/img-1.png'
			},
			{
				ttl: 'Ресторан Трапезная',
				img: 'images/card-vert/img-2.png'
			},
			{
				ttl: 'Ресторан Остров&nbsp;Русский',
				img: 'images/card-vert/img-3.png'
			},
			{
				ttl: 'Организация банкетов',
				img: 'images/card-vert/img-4.png'
			}
		]
	}).s-preview-vert_s-offset
	include components/s-preview-desc/s-preview-desc
	+sPreviewDesc({
		title: {
			ttl: 'Номера',
			tagName: 'h3',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{
				img: 'images/card-desc/img-1.png',
				ttl: 'Корпус Колос',
				txt: 'Однокомнатные и двухкомнатные номера, которые располагают пространством и прекрасно подойдут как для семейного размещения, так и для небольшой компании друзей.',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-2.png',
				ttl: 'Корпус СПА',
				txt: 'Однокомнатный номер с панорамным видом на 2-м этаже здания SPA-комплекса. Двухуровневый номер с большими окнами и видом на сосновый бор, расположенный на 2-ом этаже в здании СПА Отеля.',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-3.png',
				ttl: 'Номера в коттедже',
				txt: 'Двухуровневый номер в отдельно стоящем коттедже с индивидуальным входом.',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-4.png',
				ttl: 'Коттедж',
				txt: 'Отдельно стоящий дом, с полноценной кухней и собственной сауной.',
				lnk: 'Подробнее '
			}
		]
	}).s-preview-desc_s-offset
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
			class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}

		}).b-card-desc_single
	include components/s-preview-tile/s-preview-tile
	+sPreviewTile({
		title: {
			ttl: 'Отдых и развлечения',
			tagName: 'h3',
			classTtl: 'title-square__ttl_h2'
		},
		slides: [
			{
				ttl: 'Прогулки на квадроциклах',
				img: 'images/card/img-7.png'
			},
			{
				ttl: 'Мини-зоопакрк                 ',
				img: 'images/card/img-8.png'
			},
			{
				ttl: 'Лазертаг и пейнтбол',
				img: 'images/card/img-9.png'
			},
			{
				ttl: 'Хаски-парк',
				img: 'images/card/img-10.png'
			},
			{
				ttl: 'Экскурсии  ',
				img: 'images/card/img-11.png'
			},
			{
				ttl: 'Пляж',
				img: 'images/card/img-12.png'
			},
			{
				ttl: 'Тарзан-парк     ',
				img: 'images/card/img-13.png'
			},
			{
				ttl: 'Конный клуб  ',
				img: 'images/card/img-14.png'
			},
			{
				ttl: 'Лучный тир     ',
				img: 'images/card/img-15.png'
			},
			{
				ttl: 'Картинг       ',
				img: 'images/card/img-16.png'
			},
			{
				ttl: 'Мангальные площадоки           ',
				img: 'images/card/img-17.png'
			},
			{
				ttl: 'Анимация',
				img: 'images/card/img-18.png'
			}
		]
	}).s-preview-desc_s-offset
	include components/s-preview-events/s-preview-events
	+sPreviewEvents({
		title: {
			ttl: 'афиша',
			tagName: 'h3',
			classTtl: 'title-square__ttl_h2'
		},
		all: {
			ttl: 'Все события'
		},
		list: [
			{
				img: 'images/card-event/img-1.png'
			},
			{
				img: 'images/card-event/img-2.png'
			},
			{
				img: 'images/card-event/img-3.png'
			},
			{
				img: 'images/card-event/img-4.png'
			}
		]
	}).s-preview-desc_s-offset
	include components/s-tile/s-tile
	+sTile({
		title: {
			ttl: 'Сценарии',
			tagName: 'h ',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{
				ttl: 'Cемейные выходные',
				img: 'images/card-tile/img-1.png'
			},
			{
				ttl: 'Свадьба ',
				img: 'images/card-tile/img-2.png'
			},
			{
				ttl: 'День рождения ребенка',
				img: 'images/card-tile/img-3.png'
			}
		]
	}).s-tile_s-offset
	+sTile({
		title: {
			ttl: 'Бизнесу',
			tagName: 'h4',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{
				ttl: 'Конференции и деловые мероприятия',
				img: 'images/card-tile/img-4.png'
			},
			{
				ttl: 'Тиблилдинг',
				img: 'images/card-tile/img-5.png'
			},
			{
				ttl: 'Корпоратив  ',
				img: 'images/card-tile/img-6.png'
			}
		]
	}).s-tile_s-offset.s-tile_revert
	+sPreviewVert({
		title: {
			ttl: 'Остров',
			tagName: 'h3',
			classTtl: 'title-square__ttl_h2'
		},
		desc: {
			txt: 'Остров Русский — культурно-этнографический комплекс в МО с рестораном русской кухни, песочным пляжем. Уникальная площадка для мероприятий любого формата'
		},
		list: [
			{
				ttl: 'Ресторан русской кухни',
				img: 'images/card-vert/img-5.png'
			},
			{
				ttl: 'Летний ресторан',
				img: 'images/card-vert/img-6.png'
			},
			{
				ttl: 'Пляж с белоснежным песком',
				img: 'images/card-vert/img-7.png'
			},
			{
				ttl: 'Открытые площадки под аренду',
				img: 'images/card-vert/img-8.png'
			}
		]
	}).s-preview-vert_s-offset
	include components/s-map-int/s-map-int
	+sMapInt({
		title: {
			ttl: 'Карта',
			tagName: 'h5',
			classTtl: 'title-square__ttl_h2'
		}
	}).s-map-int_s-offset
	include components/s-partners/s-partners
	+sPartners({
		title: {
			ttl: 'Партнеры',
			tagName: 'h6',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{img: 'images/s-partners/img-1.png'},
			{img: 'images/s-partners/img-2.png'},
			{img: 'images/s-partners/img-4.png'},
			{img: 'images/s-partners/img-3.png'},
			{img: 'images/s-partners/img-5.png'},
			{img: 'images/s-partners/img-6.png'}
		]
	}).s-partners_s-offset
	include components/s-callback/s-callback
	include components/s-map/s-map

	+sMap({
		title: {
			ttl: 'Как до нас добраться',
			tagName: 'div',
			classTtl: 'title-square__ttl_h2'
		},
		btn: {
			ttl: 'Проложить маршрут'
		}
	}).s-map_s-offset
