extends base/pug/base
append variables
	- var title = 'UI'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	link(rel="stylesheet" href='./css/index.css')
	.l-container
		h2 Выбирете раздел
		br
		br
		script.
			(function (w) {
				var q = [
					['setContext', 'TL-INT-parkhotel-russian', 'ru'],
					['embed', 'search-form', {
						container: 'tl-search-form'
					}]
				];
				var t = w.travelline = (w.travelline || {}),
					ti = t.integration = (t.integration || {});
				ti.__cq = ti.__cq ? ti.__cq.concat(q) : q;
				if (!ti.__loader) {
					ti.__loader = true;
					var d = w.document,
						p = d.location.protocol,
						s = d.createElement('script');
					s.type = 'text/javascript';
					s.async = true;
					s.src = (p == 'https:' ? p : 'http:') + '//ibe.tlintegration.com/integration/loader.js';
					(d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0]).appendChild(s);
				}
			})(window);
		.
			<div id="block-search">
			<div id="tl-search-form" class="tl-container container"><div style="line-height: 0; width: 100%;"><iframe id="tlFrame0.5991683851380953" name="tlFrame0.5991683851380953" frameborder="0" border="0" allowtransparency="yes" width="1" height="93" scrolling="no" style="max-width: none; min-width: 100%; width: 1px; height: 93px;"></iframe></div></div>
			</div>
		.b-i-dropdown
			._head

				._ttl Страницы проекта
				.
					<svg class="icon icon-arrow-up b-i-dropdown__icon" viewBox="0 0 18 28">
					<path d="M16.797 18.5c0 0.125-0.063 0.266-0.156 0.359l-0.781 0.781c-0.094 0.094-0.219 0.156-0.359 0.156-0.125 0-0.266-0.063-0.359-0.156l-6.141-6.141-6.141 6.141c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-0.781-0.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l7.281-7.281c0.094-0.094 0.234-0.156 0.359-0.156s0.266 0.063 0.359 0.156l7.281 7.281c0.094 0.094 0.156 0.234 0.156 0.359z"></path>
					</svg>
			._list
				._itm.is-selected(data-tab='#tab01') Страницы проекта
				._itm(data-tab='#tab02') Модальные окна
				._itm(data-tab='#tab1') Типографика
				._itm(data-tab='#tab2') Цвета
				._itm(data-tab='#tab3') Кнопки
				._itm(data-tab='#tab4') Формы
				._itm(data-tab='#tab5') Иконки
		br
		br
		br
		.b-i-tabs
			._tab#tab01.is-active
				._head Страницы проекта
				._body
					mixin projectsNav(data)
						.projects-nav&attributes(
							attributes)
							ol
								each itm in data
									li
										a(
											href=itm.url,
											target=itm.fancybox? false : "_blank",
											data-fancybox=itm.fancybox? true : false,
										)=itm.ttl
					+projectsNav([
						{
							"url": "home.html",
							"ttl": "Главная"
						},
						{
							"url": "rooms.html",
							"ttl": "Номера"
						},
						{
							"url": "room-detail.html",
							"ttl": "Номер"
						},
						{
							"url": "spa.html",
							"ttl": "SPA - комплекс АКВАМАРИН"
						},
						{
							"url": "spa-akvatermalnaya-zona.html",
							"ttl": "Spa - акватермальная зона"
						},
						{
							"url": "spa-procedury.html",
							"ttl": "SPA процедуры"
						},
						{
							"url": "spa-detail.html",
							"ttl": "Классический массаж"
						},
						{
							"url": "spa-pakety.html",
							"ttl": "Spa-пакеты"
						},
						{
							"url": "restorany.html",
							"ttl": "Рестораны"
						},
						{
							"url": "restoran.html",
							"ttl": "Ресторан «павлин»"
						},
						{
							"url": "bankety.html",
							"ttl": "Банкеты"
						},
						{
							"url": "razvlecheniya.html",
							"ttl": "Развлечения"
						},
						{
							"url": "karting.html",
							"ttl": "Картинг"
						},
						{
							"url": "ekskursii.html",
							"ttl": "Экскурсии"
						},
						{
							"url": "ekskursiya-po-serpuhovu.html",
							"ttl": "Экскурсия по серпухову"
						},
						{
							"url": "biznesu.html",
							"ttl": "Бизнесу"
						},
						{
							"url": "konferenciya.html",
							"ttl": "Конференция"
						},
						{
							"url": "akcii.html",
							"ttl": "Акции"
						},
						{
							"url": "godovshchina-svadby.html",
							"ttl": "«Годовщина свадьбы»"
						},
						{
							"url": "ostrov-russkiy.html",
							"ttl": "Остров «Русский»"
						},
						{
							"url": "afisha.html",
							"ttl": "Афиша"
						},
						{
							"url": "event.html",
							"ttl": "Мероприятие"
						},
						{
							"url": "contacts.html",
							"ttl": "Контакты"
						},
						{
							"url": "policy.html",
							"ttl": "Политика конфиденциальности"
						},
						{
							"url": "404.html",
							"ttl": "404"
						}
					])
			._tab#tab02
				._head Модальные окна
				._body
					+projectsNav([
						{
							url: "#callback",
							fancybox: true,
							ttl: "Обратный звонок"
						}
					])
			._tab#tab1
				._head Типографика
				._body
					h1 Заголовок h1
					h2 Заголовок h2
					h3 Заголовок h3
					h4 Заголовок h4
					h5 Заголовок h5
					p paragraph
					p.text.-fs-xl text large
						p.text.-fs-xlg text x big
						p.text.-fs-lg text big
						p.text.-fs-sm text small
						p.text.-fs-xs text x small
						p.text.-fs-xxs text xx small
					ul
						li list item
						li list item
						li list item
					ol
						li list item
						li list item
						li list item

			._tab#tab2
				._head Цвета
				._body
					mixin colors(data)
						.b-i-colors-list
							each itm in data
								._itm
									._circle( style=`background: ${itm.color}`)
									p
										code=itm.color
									p
									._txt(class=`b-i-colors-list__txt_color-${itm.ttl}`)!=itm.ttl
					+colors([
						{
							ttl: "light",
							color: "#FFFFFF"
						},
						{
							ttl: "dark",
							color: "#1f1f1f"
						},
						{
							ttl: "$primary",
							color: "#89ab2a"
						},
						{
							ttl: "$primary-dark",
							color: "#5b6449"
						}
					])
			._tab#tab3
				._head Кнопки
				._body
					+btn({
						ttl: "Подробнее"
					})
					h3 Размеры кнопок
					+btn({
						ttl: "Подробнее"
					}).btn_md
					+btn({
						ttl: "Подробнее"
					})
					+btn({
						ttl: "Подробнее"
					}).btn_lg
					a(href="#").btn_sm Остров
					+btn({
						ttl: "Подробнее"
					}).btn_lg
					a(href="#").btn-sm.btn_outline Остров
			._tab#tab4
				._head Формы
				._body
					form.js-validate
						p Для проверки формы используем класс у тега form,
							=' '
							code js-validate
							=' '
						+input({
							label: {
								ttl: "Ваше имя*"
							},
							field: {
								placeholder: "Иван",
								required: true,
								pattern: ".{2,}"
							},
							error: {
								ttl: 'Сообщение об ошибке. Поле Имя не может быть короче 2 символов'
							}
						})

						+checkbox({
							field: {
								required: true
							},
							label: {
								ttl: 'Оставить отзыв анонимно'
							}
						})

						br
						br
						+radio({
							field: {
								required: true,
								name: "radio"
							},
							label: {
								ttl: "Радио кнопка"
							}
						}).radio_inline
						+radio({
							field: {
								required: true,
								name: "radio"
							},
							label: {
								ttl: "Радио кнопка 2"
							}
						}).radio_inline
						br
						br
						button(type="submit") submit
			._tab#tab5
				._head Иконки
				._body
					mixin icons(data)
						.b-i-icons.-color-success
							each icon in data
								._itm
									+icon(icon.icon)._icon
									code=icon.icon
					+icons([
						{icon: 'pdf'},
						{icon: 'burger'},
						{icon: 'close'},
						{icon: 'phone'},
						{icon: 'mail'},
						{icon: 'arrow-left'},
						{icon: 'arrow-right'},
						{icon: 'user'},
						{icon: 'datepicker'},
						{icon: 'arrow-down-right'},
						{icon: 'angle-right'},
					])

	br
	br
	br
	br
	br
block script
	script(src=`${baseDir}js/index.js`)
