extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Картинг'
	- var pageClass = ''
	- var pageUrl = 'karting.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-10.png'
		},
		title: {
			ttl: title
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: '3 автомобиля'},
				{ttl: 'трасса 400 метров'},
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Картодром построен с учётом всех профессиональных требований и оснащён новейшими картами для взрослых и детей. А опытные инструкторы научат вас вождению картов. Он предназначен и для любителей, и для опытных гонщиков.

				.b-page-desc__col
					| Картинг в парк-отеле «Русский» позволит насладиться скоростью, почувствовать себя гонщиком и получить дозу адреналина.
					| Такой досуг будет интересным как для взрослых, так и для детей.
					| В наличии есть как детские, так и взрослые карты, а опытные инструкторы помогут получить новичкам основные навыки управления.
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-39.png'
				},
				{
					img: 'images/b-gallery/img-40.png'
				},
				{
					img: 'images/b-gallery/img-41.png'
				}
			]
		}).b-gallery_offset

	include components/s-prices/s-prices
	+sPrices({
		title: {
			ttl: 'Стоимость посещения',
			tagName: 'h2',
			classTtl: 'title-square__ttl_h2'
		},
		desc: {
			txt: 'Скидка 15% в будни для пенсионеров, многодетных семей, участников СВО'
		}
	}).s-prices_s-offset
		img(src="images/s-prices/bg.svg" loading="lazy").s-prices__bg.-bg-2.-hidden-desktop
		.s-prices__cols
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") 1 автомобиль
					tbody
						tr
							td 10 мин
							td 700 р
						tr
							td 30 мин
							td 1600 р
						tr
							td 60 мин
							td 3000 р

			.s-prices__col
				table
					thead
						tr
							th(colspan="2") 3 автомобиля
								=' '
								span (трасса под закрытие)
					tbody
						tr
							td 60 мин
							td 12 500 р

	.l-container
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-callback/s-callback
