extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Конференция'
	- var pageClass = ''
	- var pageUrl = 'konferenciya.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-13.png'
		},
		title: {
			ttl: title
		},
	})
	+breadcrumbs({
		items: [
			{
				url: 'razvlecheniya.html',
				ttl: 'Развлечения'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p К вашим услугам конференц-залы, залы для проведения переговоров, техническая поддержка  мероприятий различного формата. Мы делаем все для того, чтобы вы не только эффективно работали, но и сохранили привычный для себя комфорт.


				.b-page-desc__col
					p К услугам наших  гостей все виды сопроводительного питания – кофе-брейки, коктейли, ланчи, фуршеты. Местом их проведения могут быть залы  ресторанов и открытые площадки на территории парк-отеля.
			+btn({
				ttl: 'Оставить заявку'
			}).b-page-desc__btn
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'},
				{ img: 'images/b-gallery/img-50.png'}
			]
		}).b-gallery_offset.b-gallery_lg-four.b-gallery_has-slider
		+bGallery({
			title: {
				ttl: 'Почему «Мероприятие» стоит провести у нас?',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			images: [
				{ img: 'images/b-gallery/img-50.png', class: 'b-gallery__img_br-0'},
				{ img: 'images/b-gallery/img-50.png', class: 'b-gallery__img_br-0'},
				{ img: 'images/b-gallery/img-50.png', class: 'b-gallery__img_br-0'},
				{ img: 'images/b-gallery/img-50.png', class: 'b-gallery__img_br-0'},
			]
		}).b-gallery_s-offset.b-gallery_lg-four.b-gallery_has-slider

		include components/s-restaurants/s-restaurants
		+sRestaurants({
			title: {
				ttl: 'Выбор локации проведения мероприятия',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			list: [
				{
					img: 'images/b-card-room/img-4.png',
					ttl: '«ПАВЛИН»',
					type: '— ресторан авторской и русской кухни',
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 23:00'},
						{txt: 'Пт-Сб<br>11:00 — 02:00'}
					],
					info: 'Заказ столов: <strong><a href="tel:84994559862">8499455-98-62</a> доб. 900</strong>',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},

				{
					img: 'images/b-card-room/img-6.png',
					ttl: '«ОСТРОВ РУССКИЙ»',
					type: '— только для проведения банкетов',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 22:00'},
						{txt: 'Пт-Сб<br>11:00 — 23:00'}
					],
					info: '<strong>Ресторан закрыт на реконструкцию</strong>',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-5.png',
					ttl: 'Конференц-зал',
					type: '— и залы для переговоров',
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!.',
					schedule: [
						{txt: 'Завтрак<br>8:00 — 11:00'},
						{txt: 'Обед <br>13:00 — 15:00'},
						{txt: 'Ужин<br>18:00 — 20:00'}
					],
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
			]
		}).s-restaurants_s-offset
		+sRestaurants({
			list: [
				{
					img: 'images/b-card-room/img-7.png',
					ttl: 'SPA - комплекс АКВАМАРИН',
					desc: 'Акватермальная зона с роскошной территорией релаксации, с саунами, хамамом, бассейном и джакузи. Большой выбор услуг косметологических и массажных кабинетов. Все процедуры выполняются сертифицированными специалистами.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-8.png',
					ttl: 'Рестораны',
					desc: 'На территории парк-отеля «Русский» имеется 2 ресторана с уникальной гастрономической концепцией. Третий ресторан расположен в непосредственной близости от отеля на территории Острова.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-8.png',
					ttl: 'Квадроциклы',
					desc: 'Любители активного отдыха по достоинству оценят возможности Парка в части предоставления услуг по аренде квадроциклов. Эти небольшие машины с характером настоящих внедорожников подарят яркие впечатления.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				}
			]
		}).s-restaurants_s-offset
	include components/s-partners/s-partners
	+sPartners({
		title: {
			ttl: 'У нас уже были',
			tagName: 'div',
			classTtl: 'title-square__ttl_h2'
		},
		list: [
			{img: 'images/s-partners/img-1.png'},
			{img: 'images/s-partners/img-2.png'},
			{img: 'images/s-partners/img-3.png'},
			{img: 'images/s-partners/img-4.png'},
			{img: 'images/s-partners/img-5.png'},
			{img: 'images/s-partners/img-6.png'}
		]
	}).s-partners_s-offset

	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single


	include components/s-map-int/s-map-int
	+sMapInt({
		title: {
			ttl: 'Карта',
			tagName: 'h5',
			classTtl: 'title-square__ttl_h2'
		}
	}).s-map-int_s-offset
	.l-container
		+sRestaurants({
			title: {
				ttl: 'Другие меропрития',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			list: [
				{
					img: 'images/b-card-room/img-9.png',
					ttl: 'ТИМБИЛДИНГИ',
					desc: 'Оригинальный тимбилдинг или детский праздник — команда анимации «Идея» предложит вам яркие сценарии, которые оставят после себя только самые яркие и приятные воспоминания.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-10.png',
					ttl: 'Корпоративы',
					desc: 'Вы можете выбрать подходящий формат интерьера на ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-11.png',
					ttl: 'Проведение банкетов',
					desc: 'Вы можете выбрать подходящий формат интерьера на ваш вкус. Уютная атмосфера и авторская кухня, несомненно, порадует вас и ваших коллег, а блюда удивят своим необычайным вкусом.',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				}
			]
	}).s-restaurants_s-offset
	include components/s-callback/s-callback
