extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Остров «Русский»'
	- var pageClass = ''
	- var pageUrl = 'ostrov-russkiy.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-15.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'На территории парк-отеля «Русский» имеется уникальная локация «остров Русский» на котором гости могут:'
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'первое'},
				{ttl: 'второе'},
				{ttl: 'компот'},
			]
		},
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-preview-tile/s-preview-tile
	+sPreviewTile({
		slides: [
			{
				ttl: 'Прогулки на квадроциклах',
				img: 'images/card/img-7.png'
			},
			{
				ttl: 'Мини-зоопакрк                 ',
				img: 'images/card/img-8.png'
			},
			{
				ttl: 'Лазертаг и пейнтбол',
				img: 'images/card/img-9.png'
			},
			{
				ttl: 'Хаски-парк',
				img: 'images/card/img-10.png'
			},
			{
				ttl: 'Экскурсии  ',
				img: 'images/card/img-11.png'
			},
			{
				ttl: 'Пляж',
				img: 'images/card/img-12.png'
			},
			{
				ttl: 'Тарзан-парк     ',
				img: 'images/card/img-13.png'
			},
			{
				ttl: 'Конный клуб  ',
				img: 'images/card/img-14.png'
			},
			{
				ttl: 'Лучный тир     ',
				img: 'images/card/img-15.png'
			},
			{
				ttl: 'Картинг       ',
				img: 'images/card/img-16.png'
			},
			{
				ttl: 'Мангальные площадоки           ',
				img: 'images/card/img-17.png'
			},
			{
				ttl: 'Анимация',
				img: 'images/card/img-18.png'
			}
		]
	})

	include components/s-procedures/s-procedures
	+sProcedures({
		items: [
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-33.png',
					}
				],
				ttl: 'РЕСТОРАН «ОСТРОВ РУССКИЙ» ',
				classTtl: 'card-room__ttl_special',
				desc: 'Только для проведения банкетов. Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
				schedule: [
					{txt: 'Вс-Чт<br>11:00 — 23:00'},
					{txt: 'Пт-Сб<br>11:00 — 02:00'}
				],
				info: '<strong>Ресторан закрыт на реконструкцию</strong>',
				classDesc: 'card-room__txt_lg-big',
				btns: [

					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right',
				slides: [
					{
						img: 'images/s-procedures/img-34.png',
					}
				],
				ttl: 'Веранда',
				classTtl: 'card-room__ttl_special',
				desc: 'Только для проведения банкетов. Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
				schedule: [
					{txt: 'Вс-Чт<br>11:00 — 23:00'},
					{txt: 'Пт-Сб<br>11:00 — 02:00'}
				],
				info: '<strong>Ресторан закрыт на реконструкцию</strong>',
				classDesc: 'card-room__txt_lg-big',
				btns: [

					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-35.png',
					}
				],
				ttl: 'Пляж',
				classTtl: 'card-room__ttl_special',
				desc: 'Только для проведения банкетов. Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
				schedule: [
					{txt: 'Вс-Чт<br>11:00 — 23:00'},
					{txt: 'Пт-Сб<br>11:00 — 02:00'}
				],
				info: '<strong>Ресторан закрыт на реконструкцию</strong>',
				classDesc: 'card-room__txt_lg-big',
				btns: [

					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right',
				slides: [
					{
						img: 'images/s-procedures/img-36.png',
					}
				],
				ttl: 'Амфитеатр ',
				classTtl: 'card-room__ttl_special',
				desc: 'Только для проведения банкетов. Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
				schedule: [
					{txt: 'Вс-Чт<br>11:00 — 23:00'},
					{txt: 'Пт-Сб<br>11:00 — 02:00'}
				],
				info: '<strong>Ресторан закрыт на реконструкцию</strong>',
				classDesc: 'card-room__txt_lg-big',
				btns: [

					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			}
		]
	}).s-procedures_s-offset
	.l-container
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		},).b-card-desc_single


		include components/s-restaurants/s-restaurants
		+sRestaurants({
			title: {
				ttl: 'Мероприятия на Острове',
				tagName: 'div',
				classTtl: 'title-square__ttl_h2'
			},
			list: [
				{
					img: 'images/card-restaurant/img-7.png',

					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},

				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/card-restaurant/img-7.png',
					ttl: 'Название мероприятия',
					chars: [
						{
							img: 'images/datepicker.svg',
							ttl: '07.07.2024 '
						},
						{
							img: 'images/clock.svg',
							ttl: '19:00'
						},
						{
							img: 'images/many.svg',
							ttl: 'бесплатно'
						}
					],
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!.',
					btns: [
						{
							ttl: 'Рассчитать'
						},
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
			]
		}).s-restaurants_s-offset
	include components/s-map-int/s-map-int
	+sMapInt({
		title: {
			ttl: 'Cхема территории',
			tagName: 'h5',
			classTtl: 'title-square__ttl_h2'
		}
	}).s-map-int_s-offset
	include components/s-callback/s-callback
