extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Политика конфиденциальности'
	- var pageClass = ''
	- var pageUrl = 'policy.html'
block content
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/policy-box/policy-box


	include components/s-callback/s-callback
