extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Развлечения'
	- var pageClass = ''
	- var pageUrl = 'razvlecheniya.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-9.png'
		},
		title: {
			ttl: title
		},
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-preview-tile/s-preview-tile
	+sPreviewTile({
		slides: [
			{
				ttl: 'Прогулки на квадроциклах',
				img: 'images/card/img-7.png'
			},
			{
				ttl: 'Мини-зоопакрк                 ',
				img: 'images/card/img-8.png'
			},
			{
				ttl: 'Лазертаг и пейнтбол',
				img: 'images/card/img-9.png'
			},
			{
				ttl: 'Хаски-парк',
				img: 'images/card/img-10.png'
			},
			{
				ttl: 'Экскурсии  ',
				img: 'images/card/img-11.png'
			},
			{
				ttl: 'Пляж',
				img: 'images/card/img-12.png'
			},
			{
				ttl: 'Тарзан-парк     ',
				img: 'images/card/img-13.png'
			},
			{
				ttl: 'Конный клуб  ',
				img: 'images/card/img-14.png'
			},
			{
				ttl: 'Лучный тир     ',
				img: 'images/card/img-15.png'
			},
			{
				ttl: 'Картинг       ',
				img: 'images/card/img-16.png'
			},
			{
				ttl: 'Мангальные площадоки           ',
				img: 'images/card/img-17.png'
			},
			{
				ttl: 'Анимация',
				img: 'images/card/img-18.png'
			}
		]
	})
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single

	include components/s-procedures/s-procedures
	+sProcedures({
		items: [
			{
				class: 'card-room_pict-right card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-10.png',
					}
				],
				ttl: 'Мини-зоопакрк',
				classTtl: 'card-room__ttl_special',
				desc: 'Мини-зоопарк — это место, которое будет особенно интересно детям. Здесь маленькие гости смогут увидеть стройных козочек, белоснежных кроликов, суетливых кур и важных фазанов и дружелюбных пони, на которых можно прокатиться. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-11.png',
					}
				],
				ttl: 'Хаски-парк',
				classTtl: 'card-room__ttl_special',
				desc: 'Сибирские хаски — это не только очень красивые собаки, но и весьма выносливые. Гости могут не только прокатиться по маршруту протяжённостью 3 километра, но и заказать профессиональную фотосессию. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				type: 'card-desc',
				class: 'b-card-desc_pict-right',
				pict: {
					img: 'images/b-card-desc/img-3.png'
				},
				bg: 'images/b-card-desc/bg.svg',
				title: {
					tagName: 'div',
					class: 'b-card-desc__title_h5',
					txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
				},
				desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
				btn: {
					ttl: 'Подробнее'
				}
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-12.png',
					}
				],
				ttl: 'Прогулки на квадроциклах ',
				classTtl: 'card-room__ttl_special',
				desc: 'Любители активного отдыха по достоинству оценят возможности Парка в части предоставления услуг по аренде квадроциклов. Эти небольшие машины с характером настоящих внедорожников подарят яркие впечатления.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-13.png',
					}
				],
				ttl: 'Лазертаг и пейнтбол',
				classTtl: 'card-room__ttl_special',
				desc: 'Пейнтбол в Парк-отеле «Русский» включает в себя 3 площадки, которые различаются по площади, и идеально подходит в качестве дополнения к корпоративным мероприятиям.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-14.png',
					}
				],
				ttl: 'Экскурсии',
				classTtl: 'card-room__ttl_special',
				desc: 'Экскурсия по Серпухову; Экскурсия в дом-музей А.П.Чехова «Мелихово»; Путешествие в Приокско-Террасный заповедник Путешествие в Тарусу; Экскурсия в Государственный музей усадьба В. Д. Поленова (проводится в летнее время).',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-15.png',
					}
				],
				ttl: 'Пляж',
				classTtl: 'card-room__ttl_special',
				desc: 'Белоснежныйпесчаный пляж. Ресторан с лаундж-зоной с BBQ и блюдами от шефа, контактный бар с прохладительными напитками, прокат водного инвентаря и техники, волейбольная площадка, вейк-станция, аренда комфортабельных беседок.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced ',
				slides: [
					{
						img: 'images/s-procedures/img-16.png',
					}
				],
				ttl: 'Тарзан-парк',
				classTtl: 'card-room__ttl_special',
				desc: 'Различные уровни сложности рассчитаны как на взрослых, так и на детей старше 3х лет. Помимо весёлого времяпрепровождения, здесь развивается ловкость и цепкость, и появляется возможность побороть страх высоты. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-17.png',
					}
				],
				ttl: 'Конный клуб',
				classTtl: 'card-room__ttl_special',
				desc: 'Современная конная база, сочетающая в себе все удобства для содержания лошадей и удобства клиентов. Просторная, светлая, комфортабельная конюшня, вокруг сосновый лес, вблизи река Ока, водный карьер, леса, поля.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced ',
				slides: [
					{
						img: 'images/s-procedures/img-18.png',
					}
				],
				ttl: 'Лучный тир',
				classTtl: 'card-room__ttl_special',
				desc: 'Стрельба из лука для взрослых и детей; Фотосессии с луками; Корпоративная стрельба из лука и арбалета, а так же метание ножей и топора и многое другое; Лучные турниры и соревнования.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-19.png',
					}
				],
				ttl: 'Картинг ',
				classTtl: 'card-room__ttl_special',
				desc: 'Картодром построен с учётом всех профессиональных требований и оснащён новейшими картами для взрослых и детей. А опытные инструкторы научат вас вождению картов. Он предназначен для любителей и опытных гонщиков.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-20.png',
					}
				],
				ttl: 'Мангальные площадоки',
				classTtl: 'card-room__ttl_special',
				desc: 'Отдых в парк-отеле «Русский» может быть не только в гостиничном комплексе, но и на открытом воздухе. Для того, чтобы прекрасно провести время компанией и пожарить шашлыки, прекрасно подойдут беседки с мангальной площадкой.',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-21.png',
					}
				],
				ttl: 'Анимация ',
				classTtl: 'card-room__ttl_special',
				desc: 'Мастер-классы различных направлений с участием мастеров, поваров и команды анимации «Идея».',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			}
		]
	}).s-procedures_l-offset
	include components/s-callback/s-callback
