extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Ресторан «Павлин»'
	- var pageClass = ''
	- var pageUrl = 'spa-detail.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-7.png'
		},
		title: {
			ttl: title
		},
		btns: [
			{
				class:'btn_outline btn_primary',
				ttl: 'Основное меню',
				icon: {
					icon: 'pdf'
				}
			},
			{
				class:'btn_outline',
				ttl: 'Детское меню',
				icon: {
					icon: 'pdf'
				}
			}
		]
	})
	+breadcrumbs({
		items: [
			{
				ttl: 'Рестораны',
				url: 'restorany.html'
			},

			{
				ttl: title
			}
		]
	})
	.l-container
		include components/b-gallery/b-gallery
		include components/b-page-desc/b-page-desc
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Ресторан «Павлин» - это сказка в лесу! Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!

				.b-page-desc__col
					|В ресторане 3 зала: 
					ul
						li Гриль-зал (основной) 250 м², вместимость 120 гостей
						li Cветлый зал 130 м², вместимость 40 гостей
						li Конференц-зал 180 м², вместимость 100 гостей
						li На 2-ом этаже ресторана расположена игровая комната
			.b-page-desc__cols
				.b-page-desc__col
					|Время работы:
					._worktime
						span  Вс-Чт 11:00 — 23:00
						span  Пт-Сб 11:00 — 02:00
				.b-page-desc__col.b-page-desc__col_lg-1.b-page-desc__col_contacts
						p Заказ столов на шоу-программу осуществляется <br> по предварительной брони по телефону
						strong
							a(href="tel:+74994559862")
								+icon('phone')
								| +7 (499) 455-98-62
								|  доб. 900

			+btn({
				ttl: 'Записаться'
			}).b-page-desc__btn

		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-23.png'
				},
				{
					img: 'images/b-gallery/img-24.png'
				},
				{
					img: 'images/b-gallery/img-25.png'
				},
				{
					img: 'images/b-gallery/img-26.png'
				},
				{
					img: 'images/b-gallery/img-27.png'
				},
				{
					img: 'images/b-gallery/img-28.png'
				},
				{
					img: 'images/b-gallery/img-29.png'
				},
				{
					img: 'images/b-gallery/img-30.png'
				}
			]
		}).b-gallery_lg-four.b-gallery_offset.b-gallery_has-slider

	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right

	include components/s-callback/s-callback
