extends base/pug/base

append variables
	- var title = 'Рестораны'
	- var pageClass = ''
	- var pageUrl = 'restorany.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-6.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'На территории парк-отеля «Русский» имеется 2 ресторана с уникальной гастрономической концепцией. Третий ресторан расположен в непосредственной близости от отеля на территории Острова.'
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/s-restaurants/s-restaurants
		+sRestaurants({

			list: [
				{
					img: 'images/b-card-room/img-4.png',
					ttl: '«ПАВЛИН»',
					type: '— ресторан авторской и русской кухни',
					desc: 'Атмосфера уюта, мягкие кресла и диваны располагают к душевным встречам, деловым переговорам и празднованию важных событий! По выходным дням в ресторане играет живая музыка. Идеальное место для проведения юбилеев, свадебных торжеств и корпоративных банкетов!',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 23:00'},
						{txt: 'Пт-Сб<br>11:00 — 02:00'}
					],
					info: 'Заказ столов: <strong><a href="tel:84994559862">8499455-98-62</a> доб. 900</strong>',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-5.png',
					ttl: '«ТРАПЕЗНАЯ»',
					type: '— работает по системе «шведский стол»',
					desc: 'Ресторан работает только для проживающих. Система «шведский стол». Уютный ресторан с минималистичным дизайном.',
					schedule: [
						{txt: 'Завтрак<br>8:00 — 11:00'},
						{txt: 'Обед <br>13:00 — 15:00'},
						{txt: 'Ужин<br>18:00 — 20:00'}
					],
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
				{
					img: 'images/b-card-room/img-6.png',
					ttl: '«ОСТРОВ РУССКИЙ»',
					type: '— только для проведения банкетов',
					desc: 'Уютный интерьер ресторана, для декора использована глиняная посуда, деревянная мебель, панорамные окна, позволяющие наблюдать природные красоты живописной местности. Большой, светлый зал вмещает до 80 человек и позволяет организовывать банкеты и мероприятия для любых компаний.',
					schedule: [
						{txt: 'Вс-Чт<br>11:00 — 22:00'},
						{txt: 'Пт-Сб<br>11:00 — 23:00'}
					],
					info: '<strong>Ресторан закрыт на реконструкцию</strong>',
					btns: [
						{
							class: 'btn_outline btn_primary',
							ttl: 'Подробнее'
						}
					]
				},
			]
		})
		include components/b-card-desc/b-card-desc
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-7.png'
			},
			bg: 'images/b-card-desc/bg2.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Проведение банкетов'
			},
			desc: '— от 2500 рублей на человека <br> <br> Мы будем рады организовать банкет в одном из наших ресторанов «ПАВЛИН» или «ОСТРОВ РУССКИЙ»',
			btns: [
				{
					ttl: 'Оставить заявку'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		}).b-card-desc_offset
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single
	include components/s-callback/s-callback
