extends base/pug/base

append variables
	- var title = 'Номера'
	- var pageClass = ''
	- var pageUrl = 'rooms.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img.png'
		},
		title: {
			ttl: 'Номера'
		},
		desc: {
			txt: '47 номеров разных категорий:'
		},
		list: {
			items: [
				{ttl: '19 номеров в основном корпусе «Колос»'},
				{ttl: '11 номеров в Спа-отеле'},
				{ttl: '16 номеров в коттеджах с индивидуальным входом'},
				{ttl: 'отдельностоящая Вилла с собственой сауной и беседкой барбекю.'}
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	include components/s-filter/s-filter
	+sFilter({
		rows: [
			{
				items: [
					{
						checked: true,
						ttl: 'Все номера'
					},
					{ttl: 'Стандарт'},
					{ttl: 'Комфорт'},
					{ttl: 'Джуниор сьют'},
					{ttl: 'Люкс двухуровневый'}
				]
			},
			{
				items: [
					{ttl: 'Апартаменты'},
					{ttl: 'Вилла'},
					{ttl: 'Корпус Колос'},
					{ttl: 'СПА - отель'},
					{ttl: 'Номера в коттеджах'}
				]
			},
			{
				items: [
					{ttl: '1 - 2 гостей'},
					{ttl: '3 - 4 гостей'},
					{ttl: '> 4 гостей'},
				]
			}
		]
	})
	include components/s-rooms/s-rooms
	include components/s-callback/s-callback
