extends base/pug/base
append variables
	- var title = 'Стандарт'
	- var pageClass = ''
	- var pageUrl = 'rooms.html'
block content
	+breadcrumbs({
		items: [
			{
				url: 'rooms.html',
				ttl: 'Номера'
			},
			{
				ttl: title
			}
		]
	})
	include components/s-room/s-room
	include components/b-card-desc/b-card-desc
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-5.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				ttl: 'Купить сертификат'
			}

		}).b-card-desc_single

	include components/s-other-rooms/s-other-rooms
	+sOutherRooms({
		title: {
			ttl: 'ДрУгие номера'
		},
		slides: [
			{
				img: 'images/b-card-room/img-1.png',
				ttl: 'Комфорт',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				img: 'images/b-card-room/img-2.png',
				ttl: 'Джуниор Сьют',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				img: 'images/b-card-room/img-3.png',
				ttl: 'Люкс двухуровневый',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				img: 'images/b-card-room/img-1.png',
				ttl: 'Комфорт',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				img: 'images/b-card-room/img-2.png',
				ttl: 'Джуниор Сьют',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				img: 'images/b-card-room/img-3.png',
				ttl: 'Люкс двухуровневый',
				chars: [
					{
						img: 'images/people.svg',
						ttl: 'Гости: до 3 '
					},
					{
						img: 'images/door.svg',
						ttl: 'Комнаты: 1-2'
					},
					{
						img: 'images/size.svg',
						ttl: 'Площадь: 20 кв.м.'
					}
				],
				desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.',
				btns: [
					{
						ttl: 'Забронировать'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
		]
	}).s-outher-rooms_s-offset
	include components/s-callback/s-callback
