extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'Классический массаж'
	- var pageClass = ''
	- var pageUrl = 'spa-detail.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-4.png'
		},
		title: {
			ttl: title
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'Термальная детоксикация Бормио'},
				{ttl: 'SPA-терапия'},
				{ttl: 'Детоксикация'},
				{ttl: 'Оздоровление'},
				{ttl: 'Омоложение'},
				{ttl: 'SPA-уходы аля будущим мам'},
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: 'SPA - комплекс АКВАМАРИН',
				url: 'spa.html'
			},
			{
				ttl: 'SPA - процедуры',
				url: 'spa-procedury.html'
			},
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/b-gallery/b-gallery
		include components/b-page-desc/b-page-desc
		+bPageDesc()
			.b-page-desc__cols
				.b-page-desc__col
					p Эффективная комбинация различных приёмов классического, сегментарного, рефлекторного, точечного массажа расслабляет напряженные мышцы и улучшает кровообращение, оказывая общеоздоровительное и укрепляющее воздействие на весь организм в целом.
					p Термальная вода Бормио богата кремнием, кальцием и магнием, оздоравливает кожу, снимает мышечное напряжение и боли, благотворно влияет на нервную систему и опорно-двигательный аппарат, способствует нормализации массы тела.
					._ttl Стоимость:
					p 60 мин. — 4 200 р, 90 мин. — 5 800 р
				.b-page-desc__col
					.b-page-desc__ttl Программа:
					ul
						li  приветственный ритул tranquilitty
						li  пилинг двойного действия body strategist
						li  антицеллюлитная термально-водорослевая маска
						li  детокс-массаж
						li  финальный ухоа
						li  чайная церемония
					p
						strong Процедура показана:
						= ' '
						| для всех типов целлюлита, снятия отёчности, детоксикации при похудении и после злоупотребления алкоголя.
					p
						strong Противопоказания:
							= ' '
						| беременность, противопоказания к йоду: гиперфункция щитовидной железы, аллергия на йод.

			.b-page-desc__price
				.b-page-desc__price-left
					.b-page-desc__price-ttl Стоимость
					.b-page-desc__price-val
						| 60 мин. — 4 200 р
						.b-page-desc__price-sep
						| 90 мин. — 5 800 р
				+btn({
					ttl: 'Записаться'
				}).b-page-desc__price-btn
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-15.png'
				},
				{
					img: 'images/b-gallery/img-16.png'
				},
				{
					img: 'images/b-gallery/img-17.png'
				},
				{
					img: 'images/b-gallery/img-18.png'
				},
				{
					img: 'images/b-gallery/img-19.png'
				},
				{
					img: 'images/b-gallery/img-20.png'
				},
				{
					img: 'images/b-gallery/img-21.png'
				},
				{
					img: 'images/b-gallery/img-22.png'
				}
			]
		}).b-gallery_lg-four.b-gallery_offset.b-gallery_has-slider

	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}
		}).b-card-desc_single
	include components/s-callback/s-callback
