extends base/pug/base

append variables
	- var title = 'Spa-пакеты'
	- var pageClass = ''
	- var pageUrl = 'spa-pakety.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-5.png'
		},
		title: {
			ttl: title
		},
		desc: {
			txt: 'Это выгодные комплексные SPA-программы, которые включают в себя несколько сеансов для решения определённых задач (оздоров ление, моделирование, расслабление и тд).'
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: 'SPA - комплекс АКВАМАРИН',
				url: 'spa.html'
			},
			{
				ttl: 'SPA - процедуры',
				url: 'spa-procedury.html'
			},
			{
				ttl: title
			}
		]
	})
	include components/b-page-desc/b-page-desc
	.l-container
		+bPageDesc({
			desc: {
				txt: 'SPA-комплекс «Аквамарин» предлагает однодневные и двухдневные SPA-пакеты разной направленности для всех желающих гостей. Насладитесь релаксацией и оздоровительными процедурами в окружении живописной природы.'
			}
		})

	include components/s-packages/s-packages
	include components/s-callback/s-callback
