extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'SPA - процедуры'
	- var pageClass = ''
	- var pageUrl = 'spa-procedury.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-3.png'
		},
		title: {
			ttl: title
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: 'Массажи со всего мира'},
				{ttl: 'Уходовые программы  '},
				{ttl: 'на премиальной и органической '},
				{ttl: 'косметике'},
			]
		}
	})
	+breadcrumbs({
		pdf: {
			ttl: 'Скачать меню в PDF'
		},
		items: [
			{
				ttl: 'SPA - комплекс АКВАМАРИН',
				url: 'spa.html'
			},
			{
				ttl: title
			}
		]
	})
	.l-container
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}

		})
	include components/s-filter/s-filter
	+sFilter({
		rows: [
			{
				items: [
					{
						checked: true,
						ttl: 'Все процедуры'
					},
					{ttl: 'Аппаратная кометология'},
					{ttl: 'Массажи'},
					{ttl: 'СПА'},
					{ttl: 'Пакетные предложения'}
				]
			}
		]
	}).s-filter_s-offset
	include components/s-procedures/s-procedures
	+sProcedures({
		items: [
			{
				class: 'card-room_pict-right card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-1.png',
					}
				],
				ttl: 'SPA-УХОДЫ',
				classTtl: 'card-room__ttl_special',
				desc: 'Добро пожаловать в мир чувственного удовольствия и непревзойдённых результатов от «Сomfort zone», включающий полную линейку продуктов по уходу за кожей, роскошные ритуалы красоты.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				type: 'card-desc',
				pict: {
					img: 'images/b-card-desc/img-3.png'
				},
				bg: 'images/b-card-desc/bg.svg',
				title: {
					tagName: 'div',
					class: 'b-card-desc__title_h5',
					txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
				},
				desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
				btn: {
					ttl: 'Подробнее'
				}
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-2.png',
					}
				],
				ttl: 'МАРОККАНСКИе УХОДЫ   ',
				classTtl: 'card-room__ttl_special',
				desc: 'Восточные традиции глубокого очищения кожи тела, богатые питательные текстуры масок, расслабляющий марокканский массаж ароматическими маслами — все это дарит незабываемые впечатления.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced',
				slides: [
					{
						img: 'images/s-procedures/img-3.png',
					}
				],
				ttl: 'АВТОРСКИе МАССАЖи  ',
				classTtl: 'card-room__ttl_special',
				desc: 'В изобилии выбора SPA-программ важно понимать какие ощущения вы хотите испытать. Вы можете выбрать один из авторских массажей АКВАМАРИН SPA, подходящий именно вам.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-4.png',
					}
				],
				ttl: 'ДЕТСКОЕ SPA',
				classTtl: 'card-room__ttl_special',
				desc: 'Детское SPA — идеальное сочетание оздоровления, удовольствия, развлечений на любой вкус, детского смеха, веселья, ярких эмоций и незабываемых тёплых впечатлений! (для детей до 12 лет)',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced ',
				slides: [
					{
						img: 'images/s-procedures/img-5.png',
					}
				],
				ttl: 'ГРЯЗЕЛЕЧЕНИЕ',
				classTtl: 'card-room__ttl_special',
				desc: 'Лечебное применение грязей (пелоидов) является одной из наиболее древних методик, основанных на использовании естественных природных факторов в оздоровительных целях.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-6.png',
					}
				],
				ttl: 'АППАРАТНЫЕ МЕТОДИКИ',
				classTtl: 'card-room__ttl_special',
				desc: 'Устранить навсегда жировые ловушки, подтянуть кожу, улучшить общее состояние тела и прокачать мышцы. Никаких операций, сложных подготовительных процедур и усилий благодаря современным технологиям. ',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced ',
				slides: [
					{
						img: 'images/s-procedures/img-7.png',
					}
				],
				ttl: 'БАЛИЙСКИЙ МАССАЖ',
				classTtl: 'card-room__ttl_special',
				desc: 'Окунитесь в экзотический мир Тайланда в SPA-комплексе «Аквамарин»',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			},
			{
				class: 'card-room_proced card-room_pict-right ',
				slides: [
					{
						img: 'images/s-procedures/img-8.png',
					}
				],
				ttl: 'ОРГАНИЧЕСКИЕ SPA-УХОДЫ',
				classTtl: 'card-room__ttl_special',
				desc: 'SPA-уходы от TERRE IONIQUE. Только природные компоненты, в соответствии с философией SPA.',
				classDesc: 'card-room__txt_lg-big',
				btns: [
					{
						ttl: 'Записаться'
					},
					{
						class: 'btn_outline btn_primary',
						ttl: 'Подробнее'
					}
				]
			}
		]
	})
	include components/s-team/s-team
	+sTeam({
		title: {
			ttl: 'Наши специалисты'
		},
		slides: [
			{
				img: {
					img: 'images/card-employee/img-1.png'
				},
				name: 'Лола Порш',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-2.png'
				},
				name: 'Екатерина Щукина',
				post: 'СПА-эстетист, тренер, косметолог'
			},
			{
				img: {
					img: 'images/card-employee/img-3.png'
				},
				name: 'Александр Бурмистров',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-4.png'
				},
				name: 'Сергей Карпов',
				post: 'СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-1.png'
				},
				name: 'Лола Порш',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-2.png'
				},
				name: 'Екатерина Щукина',
				post: 'СПА-эстетист, тренер, косметолог'
			},
			{
				img: {
					img: 'images/card-employee/img-3.png'
				},
				name: 'Александр Бурмистров',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-4.png'
				},
				name: 'Сергей Карпов',
				post: 'СПА-эстетист'
			},
		]
	}).s-outher-rooms_s-offset
	include components/s-callback/s-callback
