extends base/pug/base
include components/b-card-desc/b-card-desc
append variables
	- var title = 'SPA - КОМПЛЕКС АКВАМАРИН'
	- var pageClass = ''
	- var pageUrl = 'spa-akvatermalnaya-zona.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-2.png'
		},
		title: {
			ttl: title
		},
		list: {
			class: 's-page-banner__list ',
			items: [
				{ttl: '3 сауны и большой турецкий хамам3'},
				{ttl: 'Бассейн 17х6 метров'},
				{ttl: 'Детский тёплый бассейн'},
				{ttl: 'Джакузи'},
				{ttl: '«Душ впечатлений»'},
				{ttl: 'Дорожка Кнейпа'},
			]
		}
	})

	+breadcrumbs({
		items: [
			{
				ttl: 'SPA - комплекс АКВАМАРИН',
				url: 'spa.html'
			},
			{
				ttl: title
			}
		]
	})
	include components/s-does-include/s-does-include

	.l-container
		include components/card-info/card-info
		+cardInfo({
			img: {
				media: true,
				img: 'images/card-info/img.png'
			},
			desc: {
				txt: 'Каждый последний понедельник месяца — <b>санитарный день</b>. <br>Подробная информация по телефону — <a href="tel:84951491313">8 (495) 149-13-13</a>.<br>Скидка на все процедуры 15% в санитарный день.'
			}
		}).card-info_single
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-2.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}

		}).b-card-desc_single
		include components/b-gallery/b-gallery
		+bGallery({
			images: [
				{
					img: 'images/b-gallery/img-7.png'
				},
				{
					img: 'images/b-gallery/img-8.png'
				},
				{
					img: 'images/b-gallery/img-9.png'
				},
				{
					img: 'images/b-gallery/img-10.png'
				},
				{
					img: 'images/b-gallery/img-11.png'
				},
				{
					img: 'images/b-gallery/img-12.png'
				},
				{
					img: 'images/b-gallery/img-13.png'
				},
				{
					img: 'images/b-gallery/img-14.png'
				}
			]
		}).b-gallery_lg-four.b-gallery_single.b-gallery_has-slider

	include components/s-prices/s-prices
	+sPrices({
		title: {
			ttl: 'Стоимость посещения',
			tagName: 'h2',
			classTtl: 'title-square__ttl_h2'
		},
		list: ['для гостей проживающих в коттеджах, на вилле и в SPA-комплексе включено неограниченное кол-во посещений аквазоны и фитнес-зала', 'при оплате любой детской процедуры или массажа для ребёнка посещение аквазоны — в подарок', 'для гостей проживающих в корпусе «Колос» включено 1 посещение аквазоны и фитнес-зала в сутки бесплатно', 'cкидка 15% по будням для пенсионеров, многодетных семей, людей с ОВЗ, ветеранам и участникам СВО', 'при оплате массажей или процедур от 3500 для взрослых посещение аквазоны — в подарок']
	}).s-prices_s-offset
		.s-prices__cols
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Стоимость безлимитного посещения акватермальной зоны (10:00 – 22:00)
					tbody
						tr
							td Будний день
							td 1 900 р/чел
						tr
							td Выходной
							td 2 200 р/чел
						tr
							td Праздничный день
							td 2 500 р/чел
						tr
							td Дети до 1 года
							td 2 бесплатно
						tr
							td Дети от 1 до 3 лет
							td 800 р/чел
						tr
							td Дети от 3 до 12 лет
							td 1 000 р/чел
						tr
							td Аренда ротанговой беседки
							td 1 000 р/день
						tr
							td АФитнес-зал
							td 300 р/чел
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Стоимость повторного визита для гостей проживающих в корпусе «Колос»
					tbody
						tr
							td Будний день
							td 1 200 р/чел
						tr
							td Выходной
							td 1 500 р/чел
						tr
							td Праздничный день
							td 1 800 р/чел
						tr
							td Дети до 1 года
							td  бесплатно
						tr
							td Дети от 1 до 3 лет
							td 500 р/чел
						tr
							td Дети от 3 до 12 лет
							td 700 р/чел
						tr
							td Аренда ротанговой беседки
							td 1 000 р/день
						tr
							td АФитнес-зал
							td ??? р/чел
			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Стоимость абонемента
					tbody
						tr
							td 1 месяц — 8 посещений/взрослый
							td 13 000 р/чел
						tr
							td 1 месяц — 8 посещений/детский
							td 8 000 р/чел
						tr
							td 3 месяца — 20 посещений/взрослый
								._annotation (заморзка до 10 дней)
							td 30 000 р/чел
						tr
							td 3 месяца — 20  посещений/детский
								._annotation (заморзка до 10 дней)
							td 12 000 р/чел
						tr
							td 6 месяцев безлимит/взрослый
								._annotation (заморзка до 20 дней)
							td 40 000 р/чел
						tr
							td 6 месяцев безлимит/детский
								._annotation (заморзка до 20 дней)
							td 17 000 р/чел
						tr
							td 12 месяцев безлимит/взрослый
								._annotation (заморзка до 30 дней)
							td 70 000 р/чел
						tr
							td 12 месяцев безлимит/детский
								._annotation (заморзка до 30 дней)
							td 70 000 р/чел
						tr
							td(colspan="2")
								| При покупке абонемента предоставляются скидка 10% на:
								br
								| - персональные и групповые тренировки
								br
								| - косметичекие средства для домашнего ухода
								br
								| - блюда и напитки из меню фитобара

			.s-prices__col
				table
					thead
						tr
							th(colspan="2") Аренда сопутствующих товаров
					tbody
						tr
							td Жилет
							td 300 р/день
						tr
							td Надувной круг
							td 300 р/день
						tr
							td Нарукавники
							td 300 р/день
						tr
							td Очки для плавания
							td 300 р/день
						tr
							td Дополнительное полотенце
							td 200 р/день
						tr
							td Халат
							td 400 р/день
				.s-prices__footnote.-hidden-phone.-huidden-tablet *SPA-комплекс не гарантирует наличие свободного шезлонга, для отдыха вы можете воспользоваться диванами, лавочками и качелями в акватермальной зоне или заранее арендовать ротанговую беседку
				img(src="images/s-prices/bg.svg" loading="lazy").s-prices__bg
		table.s-prices__table-single
			thead
				tr
					th Продажа сопутствующих товаров
		.s-prices__cols.-no-gap
			.s-prices__col
				table
					tbody
						tr
							td Беруши
							td 300 р
						tr
							td Жилет
							td 700 р
						tr
							td Купальник
							td 1900 р
						tr
							td Купальник детский
							td 1400 р
						tr
							td Надувной круг
							td 850р
						tr
							td Нарукавники
							td 600р
						tr
							td Очки для плавания
							td от 700 р
						tr
							td Плавки
							td 1500 р
						tr
							td Плавки детские
							td 1000 р
						tr
							td Подгузник для плавания
							td 200 р
			.s-prices__col
				table
					tbody
						tr
							td Расческа
							td от 550 р
						tr
							td Резинка для волос
							td 50 р
						tr
							td Шапка для сауны
							td 350р
						tr
							td Шапочка для душа
							td 250р
						tr
							td Шапочка для плавания
							td 600р
						tr
							td Шлепанцы десткие
							td 1000р
						tr
							td Шлепанцы женские
							td 1200р
						tr
							td Шлепанцы мужские
							td 1200р
						tr
							td Шлепанцы одноразовые
							td 200р

		.s-prices__footnote.-hidden-desktop *SPA-комплекс не гарантирует наличие свободного шезлонга, для отдыха вы можете воспользоваться диванами, лавочками и качелями в акватермальной зоне или заранее арендовать ротанговую беседку
	.l-container
		+bCardDesc({
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		}).b-card-desc_single.b-card-desc_pict-right
	include components/s-callback/s-callback
