extends base/pug/base

append variables
	- var title = 'SPA - КОМПЛЕКС АКВАМАРИН'
	- var pageClass = ''
	- var pageUrl = 'spa.html'
block content
	include components/s-page-banner/s-page-banner
	+sPageBanner({
		bg: {
			media: true,
			img: 'images/s-page-banner/img-2.png'
		},
		title: {
			ttl: 'SPA - комплекс АКВАМАРИН'
		},
		list: {
			class: 's-page-banner__list s-page-banner__list_two',
			items: [
				{ttl: 'Акватермальная зона'},
				{ttl: 'СПА-процедуры'},
				{ttl: 'Косметология'},
				{ttl: 'Тренировки'},
				{ttl: 'Фито-бар'}
			]
		}
	})
	+breadcrumbs({
		items: [
			{
				ttl: title
			}
		]
	})
	.l-container
		include components/b-card-desc/b-card-desc
		+bCardDesc({
			pict: {
				img: 'images/b-card-desc/img-6.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'h4',
				class: 'b-card-desc__title_h5',
				txt: 'Подарочные сертификаты в SPA-комплекс «аквамарин»'
			},
			btn: {
				class: 'b-card-desc__btn_buy',
				ttl: 'Купить сертификат'
			}

		})
	include components/s-preview-desc/s-preview-desc
	+sPreviewDesc({
		list: [
			{
				img: 'images/card-desc/img-5.png',
				ttl: 'Акватермальная зона',
				txt: 'Добро пожаловать в акватермальную зону SPA Парк-отеля «Русский» с роскошной территорией релаксации, с саунами, настоящим турецким хамамом, бассейном и джакузи!',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-6.png',
				ttl: 'SPA-процедуры',
				txt: 'Добро пожаловать в мир чувственного удовольствия и непревзойдённых ощущений, включающий ручные и аппаратные массажи, эксклюзивные процедуры, которые превратят каждое мгновение Вашей жизни в незабываемые минуты блаженства.',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-7.png',
				ttl: 'Косметология',
				txt: 'Откройте свой путь к красоте. Глубокое очищение кожи, богатые питательные текстуры масок, различные виды массажей лица, сверхсовременые аппарты — все это дарит незабываемые впечатления, продлевая красоту и молодость вашей кожи.',
				lnk: 'Подробнее '
			},
			{
				img: 'images/card-desc/img-8.png',
				ttl: 'Тренировки',
				txt: 'Приглашаем на групповые и индивидуальные тренировки по стретчингу, йоге и пилатесу',
				lnk: 'Подробнее '
			},
			{
				classItm: 's-preview-desc__itm_fluid',
				img: 'images/card-desc/img-9.png',
				ttl: 'Фито-бар',
				txt: 'На первом этаже SPA-центра расположен фито бар. В нем представлены соки, целебные фиточаи, сендвичи, легкие салаты, десерты и т.д.',
				lnk: 'Подробнее '
			}
		]
	}).s-preview-desc_s-offset

	include components/s-team/s-team
	+sTeam({
		title: {
			ttl: 'Наши специалисты'
		},
		slides: [
			{
				img: {
					img: 'images/card-employee/img-1.png'
				},
				name: 'Лола Порш',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-2.png'
				},
				name: 'Екатерина Щукина',
				post: 'СПА-эстетист, тренер, косметолог'
			},
			{
				img: {
					img: 'images/card-employee/img-3.png'
				},
				name: 'Александр Бурмистров',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-4.png'
				},
				name: 'Сергей Карпов',
				post: 'СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-1.png'
				},
				name: 'Лола Порш',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-2.png'
				},
				name: 'Екатерина Щукина',
				post: 'СПА-эстетист, тренер, косметолог'
			},
			{
				img: {
					img: 'images/card-employee/img-3.png'
				},
				name: 'Александр Бурмистров',
				post: 'Старший СПА-эстетист'
			},
			{
				img: {
					img: 'images/card-employee/img-4.png'
				},
				name: 'Сергей Карпов',
				post: 'СПА-эстетист'
			},
		]
	}).s-outher-rooms_s-offset

	include components/s-callback/s-callback
