mixin popup(data)
	.s-popup&attributes(attributes)
		if data && data.title
			._title(
				class=data.title.class
			)=data.title.ttl
		if data && data.desc
			._desc=data.desc.txt
		if block
			block
+popup({
	title: {
		ttl: 'Закажите звонок',
		class: 'popup__title_h4'
	},
	desc: {
		txt: 'Оставьте свои данные и наши специалисты помогут с выбором!'
	}
})#callback
	include ../callback/callback
if showPopupTeam
	+popup()#employee-details.s-popup_employee-details
		include ../employee-details/employee-details
