.s-popup {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.45;
	background: #f5f5f5;
	border-radius: 40px 0;
	width: 411px;
	max-width: 100%;
	padding: 39px 12px;
	display: none;
	@include media-breakpoint-up(md) {
		padding: 39px 33px;
	}
	&__title {
		text-align: center;
	}
	&__desc {
		text-align: center;
		margin-top: 6px;
	}
	&_employee-details {
		padding: 23px 18px;
		width: 320px;
		border-radius: 0;
		background-color: $light;
		@include media-breakpoint-up(md) {
			width: 720px;
			padding: 32px 40px 32px 32px;
		}

		@include media-breakpoint-up(lg) {
			width: 803px;
			padding: 32px 18px 32px 32px;
		}
	}
}
.fancybox__backdrop {
	background-color: rgba($dark, .72) ;
}
.f-button.is-close-btn {
	background-color: transparent!important;
	padding: 0;
	width: 25px;
	height: 25px;
	top: 7px!important;
	right: 7px!important;
	color: rgba(#000, 0.6);
	transition: color $animation-base-time;
	opacity: 1;
	&:hover{
		color: $primary;
	}
}
html.with-fancybox body.hide-scrollbar {
	max-width: calc(100% - var(--fancybox-scrollbar-compensate));
}
