-
	var rooms = [
		{
			slides: [
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-5.png',
				},
				{
					img: 'images/card-room/img-6.png',
				}
			],
			ttl: 'Стандарт',
			desc: 'Однокомнатный номер с двуспальной кроватью или двумя односпальными кроватями. Санузел душ. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания.  ',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		},
		{
			slides: [
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-5.png',
				},
				{
					img: 'images/card-room/img-6.png',
				}
			],
			ttl: 'Комфорт',
			desc: 'Однокомнатный или двухкомнатный номер с одной большой или двумя раздельными кроватями с видом на лес. Санузел с ванной. Посещение акватермальной зоны спа-комплекса 1 раз в день без ограничения по времени пребывания. ',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		},
		{
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-3.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ОТДЫХАйТЕ ДОЛЬШЕ - ПЛАТИТЕ МЕНЬШЕ '
			},
			desc: 'Скидка при бронировании:<br>- 10% проживание на сутки<br>- 15% проживание на 2 ночи<br>- 20% проживание от 3-х до 5-ти ночей',
			btn: {
				ttl: 'Подробнее'
			}
		},
		{
			slides: [
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-5.png',
				},
				{
					img: 'images/card-room/img-6.png',
				}
			],
			ttl: 'Джуниор Сьют',
			desc: 'Однокомнатный номер с панорамными окнами, с видом на сосновый бор, расположенный на 2 этаже здания Спа-комплекса.Кровать и диван. Санузел душевая кабина и ванна. Безлимитное посещение акватермальной зоны спа-комплекса.  ',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		},
		{
			slides: [
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-5.png',
				},
				{
					img: 'images/card-room/img-6.png',
				}
			],
			ttl: 'Люкс двухуровневый',
			desc: 'Двухуровневый номер с одной большой двуспальной кроватью. 1 этаж: гостиная с диваном и обеденным столом. 2 этаж: спальня с двуспальной кроватью. Индивидуальная сауна в номере. Безлимитное посещение акватермальной зоны спа-комплекса.',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		},
		{
			type: 'card-desc',
			pict: {
				img: 'images/b-card-desc/img-4.png'
			},
			bg: 'images/b-card-desc/bg.svg',
			title: {
				tagName: 'div',
				class: 'b-card-desc__title_h5',
				txt: 'ДЛИТЕЛЬНОЕ ПРОЖИВАНИЕ '
			},
			desc: '0% скидка при бронировании от 7 ночей<br>15% скидка при бронировании от 14 ночей<br>20% скидка при бронировании от 21 ночи',
			btn: {
				ttl: 'Подробнее'
			}
		},
		{
			slides: [
				{
					img: 'images/card-room/img-5.png',
				},
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-6.png',
				}
			],
			ttl: 'Апартаменты',
			desc: 'Двухуровневый номер в отдельно стоящем коттедже с индивидуальным входом, одной большой или двумя раздельными кроватями. Индивидуальная кухонная зона, гостиная с диваном и обеденным столом. Безлимитное посещение акватермальной зоны.',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		},
		{
			slides: [
				{
					img: 'images/card-room/img-6.png',
				},
				{
					img: 'images/card-room/img-1.png',
				},
				{
					img: 'images/card-room/img-2.png',
				},
				{
					img: 'images/card-room/img-3.png',
				},
				{
					img: 'images/card-room/img-4.png',
				},
				{
					img: 'images/card-room/img-5.png',
				}
			],
			ttl: 'Вилла',
			desc: 'Отдельностоящий бревенчатый дом с полноценной кухней, индивидуальной сауной и гостевой беседкой-барбекю. 1 спальня, 2 гостиные, кровать и 3 дивана. Безлимитное посещение акватермальной зоны спа-комплекса. ',
			chars: [
				{
					img: 'images/people.svg',
					ttl: 'Гости: до 3 '
				},
				{
					img: 'images/door.svg',
					ttl: 'Комнаты: 1'
				},
				{
					img: 'images/size.svg',
					ttl: 'Площадь: 20 кв.м.'
				},
				{
					img: 'images/bed.svg',
					ttl: 'Кровати: 1-2.'
				}
			],

			btns: [
				{
					ttl: 'Забронировать'
				},
				{
					class: 'btn_outline btn_primary',
					ttl: 'Подробнее'
				}
			]
		}
	]
include ../card-room/card-room
include ../b-card-desc/b-card-desc
.s-rooms
	._l-container.l-container
		each itm in rooms
			if itm.type === 'card-desc'
				+bCardDesc(itm)._card-desc.b-card-desc_pict-right
			else
				+cardRoom(itm)._card

